<button type="button" class="edit-button pencil-edit" ng-disabled="profile.isFormOpen" ng-click="edit()">
  <i class="fa fa-pencil"></i>
</button>
<a class="add-now"
  ng-if="!profile.isFormOpen"
  ng-click="edit()"
  translate>
  Add contact information
</a>

<form name="form" ng-submit="save(data)" hc-validations-on-submit>
  <button class="close-button" ng-click="close()">
    <i class="fa fa-close"></i>
  </button>

  <div class="form-group">
    <label translate>Address</label>

    <input type="text"
      name="contact_line1"
      class="form-control"
      placeholder="{{ 'Address Line 1' | translate }}"
      ng-disabled="loading"
      ng-model="data.contact_line1">

    <input type="text"
      class="form-control"
      placeholder="{{ 'Address Line 2' | translate }}"
      ng-disabled="loading"
      ng-model="data.contact_line2">

    <input type="text"
      class="form-control"
      placeholder="{{ 'Zip code' | translate }}"
      maxlength="20"
      ng-disabled="loading"
      ng-model="data.contact_zipcode">

    <input type="text"
      name="location"
      class="form-control"
      placeholder="{{ 'Location' | translate }}"
      autocomplete="off"
      ng-disabled="loading"
      ng-model="locationText"
      ng-blur="setLocation(locationText)"
      typeahead-on-select="setLocation(locationText)"
      typeahead="location for location in searchLocations($viewValue)"
      hc-typeahead-loader>

    <div class="validation-errors" ng-show="form.location.$dirty">
      <div ng-show="errorNoLocation" translate>Please select a city from the menu.</div>
    </div>
  </div>

  <div class="form-group">
    <label translate>Email</label>

    <input type="email"
      class="form-control"
      name="email"
      required
      ng-minlength="6"
      ng-disabled="loading"
      ng-model="data.email"
      ng-change="onEmailChange()">

    <div class="validation-errors" ng-show="errorEmailAlreadyRegistered || form.email.$dirty">
      <span ng-show="form.email.$error.required" translate>Please insert your email.</span>
      <span ng-show="form.email.$error.minlength" translate>Email must have at least 6 characters.</span>
      <span ng-show="form.email.$error.email" translate>Please insert a valid email.</span>
      <span ng-show="errorEmailAlreadyRegistered" translate>Email already registered.</span>
    </div>
  </div>

  <div class="form-group">
    <label translate>Phone</label>

    <input type="tel"
      class="form-control"
      name="contact_phone"
      pattern="^\+?[0-9 /()-]+$"
      ng-pattern="/^\+?[0-9 -/()]+$/"
      ng-disabled="loading"
      ng-model="data.contact_phone">

    <div class="validation-errors" ng-show="form.contact_phone.$dirty">
      <div ng-show="form.contact_phone.$error.required" translate>Please insert your phone number.</div>
      <div ng-show="form.contact_phone.$error.pattern" translate>Only numbers are allowed.</div>
    </div>
  </div>

  <div class="form-group web-profiles">
    <label translate>Web profiles</label>

    <div class="row">
      <div class="col-sm-2">
        <i class="fa fa-github"></i>
      </div>
      <div class="col-sm-10">
        <input type="url"
          class="form-control"
          name="github"
          ng-disabled="loading"
          ng-model="data.github_url">
      </div>

      <div class="col-sm-12 validation-errors" ng-show="form.github.$dirty">
        <div ng-show="form.github.$error.url" translate>Please insert a valid URL.</div>
      </div>

      <div class="col-sm-2">
        <i class="fa fa-stack-overflow"></i>
      </div>
      <div class="col-sm-10">
        <input type="url"
          class="form-control"
          name="stackoverflow"
          ng-disabled="loading"
          ng-model="data.stackoverflow_url">
      </div>

      <div class="col-sm-12 validation-errors" ng-show="form.stackoverflow.$dirty">
        <div ng-show="form.stackoverflow.$error.url" translate>Please insert a valid URL.</div>
      </div>

      <div class="col-sm-2">
        <i class="fa fa-globe"></i>
      </div>
      <div class="col-sm-10">
        <input type="url"
          class="form-control"
          name="blog_url"
          ng-disabled="loading"
          ng-model="data.blog_url">
      </div>

      <div class="col-sm-12 validation-errors" ng-show="form.blog_url.$dirty">
        <div ng-show="form.blog_url.$error.url" translate>Please insert a valid URL.</div>
      </div>
    </div>
  </div>

  <div class="buttons-wrap">
    <button type="submit" ng-disabled="loading" translate>Save</button>
    <button type="button" ng-disabled="loading" ng-click="close()" translate>Cancel</button>
  </div>

  <div class="clearfix"></div>
</form>
