<div class="row timeline-item">
  <div class="col-sm-2 no-padd-right rel">
    <div class="news-ico {{ icon(entry) }}"></div>
  </div>
  <div class="col-sm-10">
    <div class="date">{{ entry.date | timeAgoIf:'yesterday' }}</div>
    <div class="note" ng-if="entry.name === 'SIGN_UP'" translate>You signed up.</div>
    <div class="note" ng-if="entry.name === 'BOOKMARKED'" translate>
      <hc-candidate-link ng-model="entry.candidate"></hc-candidate-link> has requested an interview with you.
    </div>
    <div class="note" ng-if="entry.name === 'OFFER_ACCEPTED'" translate>
      You interviewed <hc-candidate-link ng-model="entry.candidate"></hc-candidate-link>.
    </div>
    <div class="note" ng-if="entry.name === 'OFFER_REJECTED'" translate>
      <hc-candidate-link ng-model="entry.candidate"></hc-candidate-link> rejected your offer.
    </div>
    <div class="note" ng-if="entry.name === 'OFFER_SENT'" translate>
      You sent an offer to <hc-candidate-link ng-model="entry.candidate"></hc-candidate-link>.
    </div>
    <div class="note" ng-if="entry.name === 'OFFER_START_DATE'" translate>
      Amazing! <hc-candidate-link ng-model="entry.candidate"></hc-candidate-link> started their job with you!
    </div>
    <div class="note" ng-if="entry.name === 'OFFER_NEGOTIATION'" translate>
      You started negotiating contract details with <hc-candidate-link ng-model="entry.candidate"></hc-candidate-link>
    </div>
    <div class="note" ng-if="entry.name === 'OFFER_SIGNED'" translate>
      You signed a contract with <hc-candidate-link ng-model="entry.candidate"></hc-candidate-link> They will start soon!
    </div>
    <div class="note" ng-if="entry.name === 'PROFILE_PENDING'" translate>
      You agreed to the <a ng-href="{{ staticUrl() }}/terms-of-service.html">terms and conditions</a>!
    </div>
    <div class="note" ng-if="entry.name === 'PROFILE_LIVE'" translate>
      Congrats! Your account was approved! Welcome to Scotty!
    </div>
  </div>
</div>
