<div class="row timeline-item">
  <div class="col-sm-2 no-padd-right rel">
    <div class="news-ico {{ icon(entry) }}"></div>
  </div>
  <div class="col-sm-10">
    <div class="date">{{ entry.date | timeAgoIf:'yesterday' }}</div>
    <div class="note" ng-if="entry.name === 'SIGN_UP'">You signed up.</div>
    <div class="note" ng-if="entry.name === 'BOOKMARKED'">
      <a ui-sref="candidate({ id: entry.candidate.id })">
        {{ entry.candidate.first_name }} {{ entry.candidate.last_name }}
      </a>
      <translate>has requested an interview with you.</translate>
    </div>
    <div class="note" ng-if="entry.name === 'OFFER_ACCEPTED'">
      <translate>You interviewed</translate>
      <a ui-sref="candidate({ id: entry.candidate.id })">
        {{ entry.candidate.first_name }} {{ entry.candidate.last_name }}.
      </a>
    </div>
    <div class="note" ng-if="entry.name === 'OFFER_REJECTED'">
      <a ui-sref="candidate({ id: entry.candidate.id })">
        {{ entry.candidate.first_name }} {{ entry.candidate.last_name }}
      </a>
      <translate>rejected your offer.</translate>
    </div>
    <div class="note" ng-if="entry.name === 'OFFER_SENT'">
      <translate>You sent an offer to</translate>
      <a ui-sref="candidate({ id: entry.candidate.id })">
        {{ entry.candidate.first_name }} {{ entry.candidate.last_name }}.
      </a>
    </div>
    <div class="note" ng-if="entry.name === 'OFFER_START_DATE'">
      <translate>Amazing!</translate>
      <a ui-sref="candidate({ id: entry.candidate.id })">
        {{ entry.candidate.first_name }} {{ entry.candidate.last_name }}.
      </a>
      <translate>started their job with you!</translate>
    </div>
    <div class="note" ng-if="entry.name === 'OFFER_NEGOTIATION'">
      <translate>You started negotiating contract details with</translate>
      <a ui-sref="candidate({ id: entry.candidate.id })">
        {{ entry.candidate.first_name }} {{ entry.candidate.last_name }}.
      </a>
    </div>
    <div class="note" ng-if="entry.name === 'OFFER_SIGNED'">
      <translate>You signed a contract with</translate>
      <a ui-sref="candidate({ id: entry.candidate.id })">
        {{ entry.candidate.first_name }} {{ entry.candidate.last_name }}.
      </a>
      <translate>They will start soon!</translate>
    </div>
    <div class="note" ng-if="entry.name === 'PROFILE_PENDING'">
      <translate>You agreed to the</translate>
      <a href="../terms-of-service.html" translate>terms and conditions</a>!
    </div>
    <div class="note" ng-if="entry.name === 'PROFILE_LIVE'" translate>
      Congrats! Your account was approved! Welcome to Scotty!
    </div>
  </div>
</div>
