<button type="button" class="edit-button pencil-edit" ng-disabled="profile.isFormOpen" ng-click="edit()">
  <i class="fa fa-pencil"></i>
</button>

<form ng-submit="save(data)">
  <button class="close-button" ng-click="close()">
    <i class="fa fa-close"></i>
  </button>

  <div class="form-group">
    <label translate>Birthday</label>
    <input type="date"
      class="form-control"
      placeholder="{{ 'YYYY-MM-DD' | translate }}"
      name="birth"
      ng-disabled="loading"
      ng-model="data.dob">
  </div>

  <div class="form-group">
    <div class="checkbox">
      <label>
        <input type="checkbox"
          name="eu_work_visa"
          ng-disabled="loading"
          ng-model="data.eu_work_visa">
        <translate>Yes, I've got a work visa for EU</translate>
      </label>
    </div>
  </div>

  <div class="buttons-wrap">
    <button type="submit" ng-disabled="loading" translate>Save</button>
    <button type="button" ng-disabled="loading" ng-click="close()" translate>Cancel</button>
  </div>

  <div class="clearfix"></div>
</form>
