@import '../common/styles.less';
@import '../../components/employer-login/employer-login.less';
@import '../../components/employer-profile/employer-profile.less';
@import '../../components/employer-signup/employer-signup.less';
@import '../../components/employer-signup-mission/employer-signup-mission.less';
@import '../../components/employer-create-offer/employer-create-offer.less';

.resources-images-help() {
  background: url(./resources/images/help.jpg) left bottom no-repeat;
}

.resources-images-sprite-employer-signup() {
  background: url(../candidate/resources/images/sprite-employer-signup.png) center 2px no-repeat;
}

.resources-images-sprite-employer-signup-white() {
  background-image: url(../candidate/resources/images/sprite-employer-signup-white.png);
}

.resources-images-sprite-employer-signup-gray() {
  background-image: url(../candidate/resources/images/sprite-employer-signup-gray.png);
}
