<!-- TODO: Check when offer flow is fixed
<div class="col-sm-12 bg-gray-light mrg-btm" ng-show="offers.length">
  <div class="bg-gray-light row">
    <div class="offer-box col-sm-12">
      <div class="box-title box-title_left mrg-btm" translate>Offers</div>
      <div ng-repeat="offer in offers">
        <div class="orange bld"><a ui-sref="offer({ id: offer.id })">
          {{ offer.data.employer.company_name }}
        </a></div>
        <div class="mrg-btm-small">€ {{ offer.data.annual_salary | dottedInteger }}.00</div>
      </div>
      <a ui-sref="offer-list" class="fl-rg smbd gray" translate>View all</a>
    </div>
  </div>
</div>
-->
