<div class="row">
  <form name="formSignupStart"
    class="component-employer-signup-start form-horizontal col-sm-8 bg-white mrg-btm"
    ng-submit="signupStart.submit()">

    <div class="col-sm-12">
      <h3 class="signup-title" translate>Welcome</h3>
      <div class="form-signup bg-gray-lighter mrg-btm form-wrap">

        <div class="form-group required">
          <label class="col-sm-3 no-padd-right" translate>Company Name</label>
          <div class="col-sm-9">
            <input type="text"
                   class="form-control"
                   name="companyName"
                   required
                   ng-disabled="loading || invited"
                   ng-model="model.company_name"
                   typeahead="company for company in searchCompanies($viewValue)"
                   hc-typeahead-loader
                   ng-change="signupStart.onCompanyChange()">
          </div>

          <div class="form-error col-sm-9 col-sm-offset-3" ng-show="errorCompanyAlreadyRegistered || (formSignupStart.companyName.$dirty && formSignupStart.companyName.$invalid)">
            <span ng-show="formSignupStart.companyName.$error.required" translate>
              Please insert the name of your company.
            </span>
            <span ng-show="errorCompanyAlreadyRegistered" translate>
              This company name is already registered.
            </span>
          </div>
        </div>

        <div class="form-group required">
          <label class="col-sm-3 no-padd-right" translate>Company Type</label>

          <div class="col-sm-9 check-wrap">
            <label class="form-label" ng-repeat="type in companyTypes" title="{{ companyTypeMeta[type].help }}">
              <input type="radio"
                     name="companyType"
                     value="{{ type }}"
                     required
                     ng-disabled="loading"
                     ng-model="model.company_type">
              {{ companyTypeMeta[type].label }}
            </label>
          </div>

          <div class="form-error col-sm-9 col-sm-offset-3"ng-show="errorNoCompanyType">
            <span translate>Please select at least one company type.</span>
          </div>
        </div>

        <div class="form-group required">
          <label class="col-sm-3 no-padd-right" translate>Salutation</label>

          <div class="col-sm-9">
            <select
              class="form-control"
              name="salutation"
              required
              ng-disabled="loading || invited"
              ng-model="model.contact_salutation"
              ng-options="salutation for salutation in salutations">
              <option value="" translate>Please select</option>
            </select>
          </div>

          <div class="form-error  col-sm-9 col-sm-offset-3" ng-show="formSignupStart.salutation.$dirty && formSignupStart.salutation.$invalid">
            <span ng-show="formSignupStart.salutation.$error.required" translate>Please select a salutation</span>
          </div>
        </div>

        <div class="form-group required">
          <label class="col-sm-3 no-padd-right" translate>First name</label>

          <div class="col-sm-9">
            <input type="text"
                   class="form-control"
                   name="contact_first_name"
                   required
                   ng-disabled="loading || invited"
                   ng-model="model.contact_first_name">
          </div>

          <div class="form-error  col-sm-9 col-sm-offset-3" ng-show="formSignupStart.contact_first_name.$dirty && formSignupStart.contact_first_name.$invalid">
            <span ng-show="formSignupStart.contact_first_name.$error.required" translate>
              Please insert the first name of the contact person of your company.
            </span>
          </div>
        </div>

        <div class="form-group required">
          <label class="col-sm-3 no-padd-right" translate>Last name</label>

          <div class="col-sm-9">
            <input type="text"
                   class="form-control"
                   name="contact_last_name"
                   required
                   ng-disabled="loading || invited"
                   ng-model="model.contact_last_name">
          </div>

          <div class="form-error  col-sm-9 col-sm-offset-3" ng-show="formSignupStart.contact_last_name.$dirty && formSignupStart.contact_last_name.$invalid">
            <span ng-show="formSignupStart.contact_last_name.$error.required" translate>
              Please insert the last name of the contact person of your company.
            </span>
          </div>
        </div>

        <div class="form-group required">
          <label class="col-sm-3 no-padd-right" translate>Email</label>
          <div class="col-sm-9">
            <input type="email"
                   class="form-control"
                   name="email"
                   required
                   ng-disabled="loading || invited"
                   ng-model="model.email"
                   ng-change="signupStart.onEmailChange()">
          </div>

          <div class="form-error  col-sm-9 col-sm-offset-3" ng-show="errorEmailAlreadyRegistered || (formSignupStart.email.$dirty && formSignupStart.email.$invalid)">
            <span ng-show="formSignupStart.email.$error.required" translate>
              Please insert your email.
            </span>
            <span ng-show="formSignupStart.email.$error.email" translate>
              Please insert a valid email.
            </span>
            <span ng-show="errorEmailAlreadyRegistered">
              <translate>Email already registered.</translate>
              <a ui-sref="forget-password" translate>Forgot your password?</a>
            </span>
          </div>
        </div>

        <div class="form-group required">
          <label class="col-sm-3 no-padd-right" translate>Password</label>
          <div class="col-sm-9">
            <input type="password"
                   class="form-control"
                   name="password"
                   required
                   ng-minlength="8"
                   ng-disabled="loading"
                   ng-model="model.pwd">
          </div>

          <div class="form-error col-sm-9 col-sm-offset-3"ng-show="formSignupStart.password.$dirty && formSignupStart.password.$invalid">
            <span ng-show="formSignupStart.password.$error.required" translate>Please choose a password.</span>
            <span ng-show="formSignupStart.password.$error.minlength" translate>Password must have at least 8 characters.</span>
          </div>
        </div>
      </div>
      <div class="buttons-wrap mrg-top mrg-btm-30">
        <button type="submit" class="fl-rg bg-green btn-small" ng-disabled="loading" translate>
          Continue
        </button>
      </div>
    </div>
  </form>
  <div class="col-sm-4">
    <div class="bg-gray-lighter2 mrg-btm row">
      <div class="padd-vert col-sm-12">
        <div class="box-title box-title_left mrg-btm gray-darker" translate>Company Types</div>
        <div>
          <p ng-repeat="type in companyTypes"><span class="smbd">{{ companyTypeMeta[type].label }}</span><br/>
            {{ companyTypeMeta[type].help }}</p>
        </div>
      </div>
    </div>
    <div class="row  border-box">
      <div class="padd-vert col-sm-12">
        <div class="box-title box-title_left mrg-btm gray-darker" translate>Our Promises</div>
        <div>
          <h4 class="orange lt caps font-14 mrg-btm-small" translate>The Best candidates</h4>
          <p class="mrg-btm font-12" translate>We are not a conventional job portal, which is the real reason that IT pros love 4Scotty. That’s our secret to providing access to the most competent experts that the market has to offer.</p>
          <h4 class="orange lt caps font-14 mrg-btm-small" translate>Convenient & time-saving</h4>
          <p class="mrg-btm font-12" translate>At 4Scotty, HR reps can see at first glance which skills a candidate possesses. This prevents the need for unnecessary and expensive job interviews.</p>
          <h4 class="orange lt caps font-14 mrg-btm-small" translate>Only Pay if you hire</h4>
          <p class="mrg-btm font-12" translate>Whether you choose the one-time payment or monthly pricing model – at 4Scotty you only pay once you have actually hired a candidate.</p>
          <h4 class="orange lt caps font-14 mrg-btm-small" translate>Quality-Assured</h4>
          <p class="mrg-btm font-12" translate>Our close contact to candidates ensures authentic and  comprehensive profiles. Manipulation is virtually impossible.</p>
        </div>
      </div>
    </div>
  </div>
</div>

