<form name="formSignupStart"
  class="component-employer-signup-start"
  ng-submit="signupStart.submit()">

  <h3>Sign up</h3>

  <div class="form-group required">
    <label>Company name</label>
    <input type="text"
      class="form-control"
      placeholder="Company name"
      name="companyName"
      required
      ng-disabled="loading || invited"
      ng-model="model.company_name">

    <div class="form-error" ng-show="formSignupStart.companyName.$dirty && formSignupStart.companyName.$invalid">
      <span ng-show="formSignupStart.companyName.$error.required">
        Please insert the name of your company.
      </span>
    </div>
  </div>

  <div class="form-group required">
    <label>Company Type</label>

    <label class="form-label" ng-repeat="type in companyTypes">
      <input type="radio"
        name="companyType"
        value="{{ type }}"
        required
        ng-disabled="loading"
        ng-model="model.company_type">
      {{ type }}
    </label>

    <div class="form-error"ng-show="errorNoCompanyType">
      <span>Please select at least one company type.</span>
    </div>
  </div>

  <div class="form-group required">
    <label>Salutation</label>

    <select
      class="form-control"
      name="salutation"
      required
      ng-disabled="loading || invited"
      ng-model="model.contact_salutation"
      ng-options="salutation for salutation in salutations">
      <option value="">Salutation...</option>
    </select>

    <div class="form-error" ng-show="formSignupStart.salutation.$dirty && formSignupStart.salutation.$invalid">
      <span ng-show="formSignupStart.salutation.$error.required">Please select a salutation</span>
    </div>
  </div>

  <div class="form-group required">
    <label>First name</label>

    <input type="text"
      class="form-control"
      placeholder="First name"
      name="contact_first_name"
      required
      ng-disabled="loading || invited"
      ng-model="model.contact_first_name">

    <div class="form-error" ng-show="formSignupStart.contact_first_name.$dirty && formSignupStart.contact_first_name.$invalid">
      <span ng-show="formSignupStart.contact_first_name.$error.required">
        Please insert the first name of the contact person of your company.
      </span>
    </div>
  </div>

  <div class="form-group required">
    <label>Last name</label>

    <input type="text"
      class="form-control"
      placeholder="Last name"
      name="contact_last_name"
      required
      ng-disabled="loading || invited"
      ng-model="model.contact_last_name">

    <div class="form-error" ng-show="formSignupStart.contact_last_name.$dirty && formSignupStart.contact_last_name.$invalid">
      <span ng-show="formSignupStart.contact_last_name.$error.required">
        Please insert the first name of the contact person of your company.
      </span>
    </div>
  </div>

  <div class="form-group required">
    <label>Email</label>
    <input type="email"
      class="form-control"
      placeholder="Email"
      name="email"
      required
      ng-disabled="loading || invited"
      ng-model="model.email"
      ng-change="signupStart.onEmailChange()">

    <div class="form-error" ng-show="errorAlreadyRegistered || (formSignupStart.email.$dirty && formSignupStart.email.$invalid)">
      <span ng-show="formSignupStart.email.$error.required">
        Please insert your email.
      </span>
      <span ng-show="formSignupStart.email.$error.email">
        Please insert a valid email.
      </span>
      <span ng-show="errorAlreadyRegistered">
        Email already registered.
        <a ui-sref="forget-password">Forgot your password?</a>
      </span>
    </div>
  </div>

  <div class="form-group required">
    <label>Password</label>
    <input type="password"
      class="form-control"
      name="password"
      placeholder="Password"
      required
      ng-minlength="8"
      ng-disabled="loading"
      ng-model="model.pwd">

    <div class="form-error"ng-show="formSignupStart.password.$dirty && formSignupStart.password.$invalid">
      <span ng-show="formSignupStart.password.$error.required">Please choose a password.</span>
      <span ng-show="formSignupStart.password.$error.minlength">Password must have at least 8 characters.</span>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary" ng-disabled="loading">Continue</button>
  </div>
</form>
