<div class="component-admin-offer row" ng-if="ready">
  <div class="inner">
    <div class="status-wrap">
      <div class="status">
        <span>Status</span>
        <span class="iconParent"><i class="fa" ng-class="{
          'blue-link':
            offer.status === 'ACCEPTED' ||
            offer.status === 'ACTIVE' ||
            offer.status === 'INTERVIEW' ||
            offer.status === 'NEGOTIATING' ||
            offer.status === 'CONTRACT_SIGNED' ||

            offer.status === 'EXPIRED',

          'fa-sign-in':
             offer.status === 'ACTIVE',

          'fa-toggle-on':
            offer.status === 'ACCEPTED',

          'fa-pencil':
            offer.status ==='CONTRACT_SIGNED',

          'fa-exchange':
            offer.status === 'NEGOTIATING',

          'red':
            offer.status === 'WITHDRAWN' ||
            offer.status === 'REJECTED',

          'fa-times-circle':
            offer.status === 'WITHDRAWN' ||
            offer.status === 'REJECTED',


          'fa-comments': offer.status === 'INTERVIEW',
        }"></i></span>
        <span ng-class="{
          'red':
            offer.status === 'WITHDRAWN' ||
            offer.status === 'REJECTED',

        }">{{ offer.statusText }}</span>
      </div>
    </div>
    <div class="row">

      <div class="col-sm-3">
        <div class="user-pic mrg-btm-big emp-pic" ng-style="{'background-image': 'url('+offer.data.employer.logo_url+')'}"></div>
        <div class="rel row pad-btm-15">

          <div class="timeline">
            <div class="gray-bar"></div>
            <div class="timeline-start"></div>
          </div>

          <div class="timeline-head clearfix">
            <div class="col-sm-2 no-padd-right">
              <div class="dot"><i class="fa fa-circle"></i></div>
            </div>
            <div class="col-sm-10">{{ offer.data.created | momentDate }}</div>
          </div>
          <div class="timeline-item clearfix" ng-repeat="entry in timeline">

            <div class="col-sm-2 no-padd-right">
               <div class="news-ico" ng-class="{
                'news-ico-offer-received': entry.name === 'OFFER_MADE',
                'news-ico-offer-rejected': entry.name === 'REJECTED',
                'news-ico-offer-accepted': entry.name === 'ACCEPTED',
                'news-ico-offer-interviewing': entry.name === 'INTERVIEWING',
                'news-ico-offer-negotiation': entry.name === 'NEGOCIATING',
                'news-ico-offer-signed': entry.name === 'CONTRACT_SIGNED',
              }"></div>
            </div>

            <div class="col-sm-10">
              <div class="date">{{ entry.date | timeAgoIf:'yesterday' }}</div>
              <div class="note">{{ getTimelineText(entry.name, offer) }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 bg-white">
        <div class="row bg-blue">
          <div class="col-sm-12">
            <h1 class="main-title-blue">Offer</h1>
          </div>
        </div>
        <div class="row bg-white">
          <div class="col-sm-12">
            <div class="emp-off-desc">
              <h4 class="main-subtitle ">
                <class="smbd">{{ offer.data.role }}</> @ <a class="norm" href="#">Hack and Craft</a>
              </h4>
              <p class="typography" ng-bind-html="offer.data.job_description"></p>

              <h4 class="main-subtitle"><span>Job Description</span></h4>
              <p class="typography" ng-bind-html="offer.data.job_description"></p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="row bg-gray-lighter2 employer-offer-info-box">
          <div class="col-sm-12 padd-vert">
            <div class="font-22">
              <span class="iconParent"><i class="fa fa-euro"></i></span>
              <span class="smbd custom">{{ offer.data.annual_salary | dottedInteger }}.00</span>
              / year
            </div>
            <div class="font-22">
              <span class="iconParent"><i class="fa fa-map-marker"></i></span>
              {{ offer.data.location.city }}, {{ offer.data.location.country_iso }}
            </div>
            <div class="box-title box-title_left"></div>
            <h5 class="alg-left">
              <span class="iconParent"><i class="fa fa-rocket"></i></span><span class="custom">&nbsp;Requirements</span>
            </h5>
            <div class="clearfix skills-wrap-right row">
              <div class="col-sm-6 mrg-btm-small" ng-repeat="tech in offer.data.technologies">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span>{{ tech }}</span>
              </div>
            </div>
            <div ng-if="offer.data.benefits.length">
              <div class="box-title box-title_left"></div>
              <h5>Benefits</h5>
              <hc-benefits-display benefits="offer.data.benefits" other-benefits="offer.data.other_benefits"></hc-benefits-display>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="buttons-wrap mrg-btm">
            <button class="col-sm-6 btn bg-green btn-first" ng-show="offer.canNextStatus()" ng-click="offer.nextStatus()">
              {{ offer.getNextStatusText() }}
            </button>
            <button class="col-sm-6 btn bg-green" ng-show="offer.canAccept()" ng-click="toggleForm('accept')">Accept</button>
            <button class="col-sm-6 btn bg-green" ng-show="offer.canSign()" ng-click="toggleForm('sign')">Contract Signed</button>
            <button class="col-sm-6 btn bg-red" ng-show="offer.canReject()" ng-click="toggleForm('reject')">Reject</button>
            <button class="col-sm-6 btn bg-red" ng-show="offer.canWithdraw()" ng-click="toggleForm('withdraw')">Withdraw</button>
            <button class="col-sm-6 btn bg-green" ng-show="offer.canRollback()" ng-click="offer.rollback()">Rollback</button>
            <div class="form-container col-sm-12 padd-vert bg-gray-lighter2" ng-show="showForm">
              <form class="form-wrap" ng-show="showForm === 'accept'" ng-submit="accept(offer, acceptance)">
                <div class="row">
                  <div class="col-sm-3">
                    <label>Email address</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="email"
                      class="form-control"
                      name="contactEmail"
                      required
                      ng-model="acceptance.email">
                  </div>
                  <div class="form-error" ng-show="formProfile.contactEmail.$dirty && formProfile.contactEmail.$invalid">
                    <span ng-show="formProfile.contactEmail.$error.required">Please insert your email.</span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-3">
                    <label>Phone number</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="tel"
                      class="form-control"
                      name="phoneNumber"
                      pattern="^\+?[0-9 /()-]+$"
                      ng-pattern="/^\+?[0-9 /()-]+$/"
                      ng-disabled="hcDisabled"
                      ng-model="acceptance.phone">
                  </div>

                  <div class="form-error" ng-show="formProfile.phoneNumber.$dirty && formProfile.phoneNumber.$invalid">
                    <span ng-show="formProfile.phoneNumber.$error.required">Please insert your phone.</span>
                    <span ng-show="formProfile.phoneNumber.$error.pattern">Valid chacters are: Numbers - / ( )</span>
                  </div>
                </div>

                <div class="form-group">
                  <button type="submit"  class="bg-green fl-rg btn-small" ng-disabled="hcDisabled">Submit</button>
                </div>
              </form>

              <form class="form-wrap" ng-show="showForm === 'reject'" ng-submit="reject(offer, rejection)">
                <div class="row padd-form">
                  <div class="label-wrap col-sm-12">
                    <div ng-repeat="reason in rejectReasons">
                      <label>
                        <input type="radio"
                          name="rejectReason"
                          value="{{ reason }}"
                          ng-disabled="hcDisabled"
                          ng-required="!rejection.reason"
                          ng-model="rejection.reason"
                          ng-change="rejection.rejected_text = null">
                        {{ reason }}
                      </label>
                    </div>
                  </div>
                </div>

                <div class="required row padd-form"
                  ng-if="rejection.reason.toLowerCase() === 'other'">
                  <div class="label-wrap col-sm-12">
                    <div class="pad-label">
                      <textarea
                        class="txtarea"
                        placeholder="Please describe your reason"
                        required
                        ng-disabled="hcDisabled"
                        ng-model="rejection.reject_reason">
                      </textarea>
                    </div>
                  </div>
                </div>

                <div class="row padd-form">
                  <div class="label-wrap col-sm-12">
                    <label>
                      <input type="checkbox" ng-model="rejection.blacklist">
                      Block employer
                    </label>
                  </div>
                </div>

                <button type="submit" class="bg-green fl-rg btn-small" ng-disabled="hcDisabled">Submit</button>
              </form>

              <form class="form-wrap" ng-show="showForm === 'withdraw'" ng-submit="withdraw(offer, withdrawal)">
                <p>Please define the reason for your withdrawal.</p>
                <div class="row padd-form">
                  <div class="label-wrap col-sm-12">
                    <div ng-repeat="reason in withdrawReasons">
                      <label>
                        <input type="radio"
                          name="withdrawReason"
                          value="{{ reason }}"
                          ng-required="!withdrawal.reason"
                          ng-model="withdrawal.reason"
                          ng-change="withdrawal.withdrawal_text = null">
                        {{ reason }}
                      </label>
                    </div>
                  </div>
                </div>

                <div ng-if="withdrawal.reason.toLowerCase() === 'other'">
                  <div class="pad-label">
                    <textarea
                      class="txtarea"
                      placeholder="Please describe your reason"
                      required
                      ng-model="withdrawal.withdrawal_reason">
                    </textarea>
                  </div>
                </div>

                <button type="submit" class="bg-green fl-rg btn-small">Submit</button>
              </form>

              <form class="form-wrap" ng-show="showForm === 'sign'" ng-submit="sign(offer, signing)">
                <p>Please provide the following information.</p>
                <div class="row padd-form">

                  <label class="col-sm-3">Start date</label>
                  <div class="col-sm-9">
                    <input type="date"
                      class="form-control"
                      placeholder="YYYY-MM-DD"
                      required
                      ng-disabled="hcDisabled"
                      ng-model="signing.start_date">
                  </div>
                  <div class="form-error" ng-show="formProfile.contactEmail.$dirty && formProfile.contactEmail.$invalid">
                    <span ng-show="formProfile.contactEmail.$error.required">Please insert your email.</span>
                  </div>
                </div>

                <div class="row padd-form">
                  <label class="col-sm-3">Start salary</label>
                  <div class="col-sm-9">
                    <input type="dotted-integer"
                      class="form-control"
                      placeholder="Start salary"
                      required
                      ng-disabled="hcDisabled"
                      ng-model="signing.start_salary">
                  </div>
                  <div class="form-error" ng-show="formProfile.phoneNumber.$dirty && formProfile.phoneNumber.$invalid">
                    <span ng-show="formProfile.phoneNumber.$error.required">Please insert your phone.</span>
                    <span ng-show="formProfile.phoneNumber.$error.pattern">Valid chacters are: Numbers - / ( )</span>
                  </div>
                </div>
                <div class="form-error">
                  <span>Please choose your start date</span>
                </div>
                <button class="bg-green fl-rg btn-small">Submit</button>
              </form>
            </div>
          </div>
        </div>
        <div class="row border-box">
          <div class="col-sm-12 padd-vert">
            <div class="box-title box-title_left lt">Hiring process</div>
            <p class="gray" ng-bind-html="offer.data.interview_details"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
