<div class="component-admin-search-candidates row">
  <div class="col-sm-12">
    <a class="btn btn-default" ui-sref="invite-code">Invite codes</a>
    <h1>Search candidates</h1>
    <ul class="list-group">
      <hc-admin-search on-search="executeSearch($params)" hc-show-skills="true" hc-statuses="statuses">
        <li class="list-group-item" ng-repeat="candidate in results">
          <div class="row">
            <div class="col-sm-1 text-center">
              <img src="{{ candidate._data.picture_url }}" height="50px"/>
            </div>
            <div class="col-sm-2">
              <b>{{ candidate._data.first_name }} {{ candidate._data.last_name }}</b>
              <small ng-if="candidate._data.anonymous">(anonymous)</small>
            </div>
            <div class="col-sm-4">
              {{ candidate._data.email }}
              <small ng-if="!candidate._data.activated">(unconfirmed)</small>
            </div>
            <div class="col-sm-2">
              Signup: <b>{{ candidate._data.created | date }}</b>
              <div ng-if="candidate._data.location">
                Residence: {{ candidate._data.location.city }}, {{ candidate._data.location.country_iso }}
              </div>
            </div>
            <div class="col-sm-2">
              <small ng-repeat="skill in candidate._data.skills">{{ skill.skill }}<span ng-if="!$last">,</span>
              </small>
            </div>
            <div class="col-sm-1">
              <b>{{ candidate._data.status }}</b>
              <a ui-sref="candidate({ id: candidate._data.id })">Details &raquo;</a>
            </div>
          </div>
        </li>
      </hc-admin-search>
  </div>
</div>
