<div class="component-admin-search-candidates row">
  <div class="col-sm-6 col-sm-offset-3">
    <h3>Search candidates</h3>

    <form>
      <input type="text"
        class="form-control"
        placeholder="Name or email address"
        ng-model="term"
        ng-change="search(locationText)">
    </form>

    <div ng-show="loaded && !candidates.length">No candidate found</div>

    <hc-candidate
      ng-repeat="candidate in candidates | limitTo:limit"
      ng-model="candidate"
      hc-hide="{{ { years: true } }}"
      hc-link-profile>
    </hc-candidate>

    <button type="button"
      ng-show="candidates.length > limit"
      ng-click="loadMore()">
      Load more
    </button>

  </div>
</div>
