<div class="component-admin-search-candidates row">
  <div class="col-sm-12">
    <div class="pull-right">
      <dl class="inline">
        <dt>Pending</dt>
        <dd>Waiting for approval, filter by this and approve </dd>
        <dt>Active</dt>
        <dd>Approved and fully signed up in platform</dd>
      </dl>
    </div>
    <a class="btn btn-default" ui-sref="invite-code">Manage Invite Codes</a>
    <h1>Search candidates</h1>
    <ul class="list-group">
      <hc-admin-search on-search="executeSearch($params)" hc-show-skills="true" hc-statuses="statuses" hc-status="{{ status }}">
        <table class="table" query-builder="results">
          <colgroup>
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
          </colgroup>
          <thead>
            <tr>
              <th sort-field="id">ID</th>
              <th sort-field="created">Signup</th>
              <th>Avatar</th>
              <th sort-field="first_name">Name</th>
              <th sort-field="email">Email</th>
              <th>Status</th>
              <th sort-field="target_position_role">Target position</th>
              <th sort-field="minimum_salary">Target salary</th>
              <th sort-field="preferred_location">Preferred location</th>
              <th>Skills</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="candidate in results">
              <td><small>{{ candidate._data.id }}</small></td>
              <td>{{ candidate._data.created | date }}</td>
              <td><img style="max-height:50px;max-width:50px;" ng-src="{{ candidate._data.picture_url }}"/></td>
              <td>
                {{ candidate._data.first_name }} {{ candidate._data.last_name }}
                <small ng-if="candidate._data.anonymous">(anonymous)</small>
              </td>
              <td>
                {{ candidate._data.email }}
                <small ng-if="!candidate._data.activated">(unconfirmed)</small>
              </td>
              <td><b>{{ candidate._data.status }}</b></td>
              <td>{{ candidate._data.target_position.role }}</td>
              <td>{{ candidate._data.target_position.minimum_salary }}</td>
              <td>{{ candidate.preferred_location }}</td>
              <td>{{ candidate.skills }}</td>
              <td><a ui-sref="candidate({ id: candidate._data.id })">Details &raquo;</a></td>
            </tr>
          </tbody>
          <tfoot>
            <tr><td colspan="6" align="center"><load-more></load-more></td></tr>
          </tfoot>
        </table>
      </hc-admin-search>
  </div>
</div>
