<form class="edit-form form-wrap" name="formSkills" ng-submit="onSubmit({ $model: model, $form: skillsCtrl })" hc-validations-on-submit>
  <div class="form-signup no-padd-horz bg-gray-lighter mrg-btm clearfix">
    <div class="col-sm-12">
      <div class="col-sm-12">
        <label translate>Enter at least three of your core skills and select their level</label>
      </div>

      <div class="col-sm-12" ng-repeat="entry in model">
        <div class="mrg-btm">
          <div class="row">

            <div class="col-sm-7">
              <input type="text"
                     class="form-control"
                     name="skill{{ $index }}"
                     ng-disabled="hcDisabled"
                     ng-required="model.length < 4"
                     ng-model="entry.skill"
                     ng-blur="onBlur(entry, $index, $last)"
                     ng-change="onChange(entry, $index, $last)"
                     typeahead="skill for skill in searchSkillsProtected($viewValue)"
                     hc-typeahead-loader>
            </div>

            <div class="col-sm-4 no-padd-left">
              <select
                class="form-control"
                name="level{{ $index }}"
                ng-disabled="hcDisabled"
                ng-required="entry.skill"
                ng-model="entry.level"
                ng-change="recheck()"
                ng-options="level for level in levels">
                <option value="" translate>Select Level...</option>
              </select>
            </div>

            <div class="col-sm-1 no-padd-left pad-top-5">
                <span class="close"
                      ng-if="entry.skill"
                      ng-click="remove($index)">
                  <i class="fa fa-close"></i>
                </span>
            </div>
            <div class="col-sm-12">
              <!-- TODO: This doesn't work yet -->
              <div class="form-error" ng-show="
                  formSkills['skill' + $index].$dirty &&
                  formSkills['skill' + $index].$invalid">
                  <span ng-show="formSkills['skill' + $index].$error.required" translate>
                    Please select the skill level.
                  </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <label class="edit-title" translate>List other skills</label>
        <hc-label-typeahead
          placeholder="Type a skill and press enter after each one..."
          ng-disabled="hcDisabled"
          ng-model="skills"
          hc-source="searchSkills($viewValue)"
          hc-allow-new>
        </hc-label-typeahead>
      </div>
    </div>
  </div>

  </div>
  <div ng-transclude></div>
</form>
