//@import '../../tools/reset.less';
// Include all bootstrap until we found a simpler way to reference it's folder
@import (less) '../../bower_components/angularjs-toaster/toaster.css';
@import '../../bower_components/bootstrap/less/bootstrap.less';
@import '../../tools/label-typeahead-directive/label-typeahead-directive.less';

ui-view {
  display: block;
}

dt {
  font-weight: bold;
  text-transform: capitalize;
}

.form-error {
  color: red;
}
.link {
  cursor: pointer;
}

.form-group {
  &.required label:nth-child(1),
  label.required {
    &:after {
      content: ' *';
      color: red;
    }
  }

  label.form-label {
    display: block;
    font-weight: normal;
  }

  &.address {
    input {
      &:nth-child(2) { margin-top: 0; }
      margin-top: 10px;
    }
  }
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.signup-form-mixin() {
  .sidenav li {
    margin: 15px 10px;
    &.active {
      font-weight: bold;
    }
  }

  .signup-container {
    margin-top: 50px;
  }

  .close {
    float: none;
  }

  .form-inline input.form-control {
    min-width: 114.9px;
    width: 15%
  }

  .label-container {
    .label {
      margin: 1px;
    }
  }
}

.logo {
  max-width: 100px;
  max-height: 100px;
  float: left;
  margin: 5px;
}
.logo-small {
  .logo();
  max-width: 50px;
  max-height: 50px;
}

.avatar {
  max-width: 100px;
  max-height: 100px;
  float: left;
  margin: 5px;
}
.avatar-small {
  .avatar();
  max-width: 50px;
  max-height: 50px;
}
