//@import '../../tools/reset.less';
// Include all bootstrap until we found a simpler way to reference it's folder
@import '../../bower_components/bootstrap/less/bootstrap.less'
@import '../../components/MODULE_NAME/MODULE_NAME';


html, body, ng-view {
  display: block;
  height: 100%;
}

body {
  background-color: #333333;
}
