body {
  #container {
    background-color: #FFFCF5;
  }
}

h1 {
  font-size: 40pt;
}
h2 {
  font-size: 24pt;
}
h3 {
  font-size: 16pt;
}

.navbar {
  border-radius: 0;
  border-top: 10px solid #0087FF;
  border-bottom: 1px solid #C9C9C9;
  background-color: #FFFCF5;
  margin-bottom: 0;

  .navbar-nav > li {
    & > a {
      color: black;
    }
    &.active > a {
      background-color: #0087ff;
      color: white;
      &:hover {
        background-color: #0087ff;
        color: white;
      }
    }
  }
}

.label {
  font-size: 10pt;
}

.btn {
  border: 0;
  border-radius: 0;

  &.btn-primary {
    background: #0087ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #0087ff 0%, #0c70cc 80%, #1656a6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0087ff), color-stop(80%,#0c70cc), color-stop(100%,#1656a6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0087ff 0%,#0c70cc 80%,#1656a6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0087ff 0%,#0c70cc 80%,#1656a6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0087ff 0%,#0c70cc 80%,#1656a6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0087ff 0%,#0c70cc 80%,#1656a6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0087ff', endColorstr='#1656a6',GradientType=0 ); /* IE6-9 */
  }

  &.btn-success {
    background: #ff9950; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff9950 0%, #f97d37 80%, #f56825 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9950), color-stop(80%,#f97d37), color-stop(100%,#f56825)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff9950 0%,#f97d37 80%,#f56825 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff9950 0%,#f97d37 80%,#f56825 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff9950 0%,#f97d37 80%,#f56825 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff9950 0%,#f97d37 80%,#f56825 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9950', endColorstr='#f56825',GradientType=0 ); /* IE6-9 */
  }
}

.signup-form-mixin() {
  .signup-container {
    background-color: #FFFFFF;

    .sidenav {
      padding-top: 50px;

      li {
        padding: 15px 10px;
        color: black;

        &.active {
          background-color: #0087ff;
          color: white;
        }
      }
    }

    ui-view {
      background-color: #FFFCF5;
      min-height: 800px;
    }
  }

  .close {
    float: none;
  }

  .form-inline input.form-control {
    min-width: 114.9px;
    width: 15%
  }
  .form-inline input[type=date].form-control {
    min-width: 140px;
  }

  .label-container {
    .label {
      margin: 1px;
    }
  }
}

form {
  label {
    font-size: 10pt;
  }

  .form-control {
    border-radius: 0;
    border: 1px solid #AAAAAA;
  }
}
