<div class="component-admin-approve-employers row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>Approve employers</h1>

    <div class="form-group">
      <label>Status</label>
      <select
        class="form-control"
        name="status"
        ng-model="status"
        ng-change="approveEmployers.filterEmployers(status)">
        <option value="INVITED">Invite sent</option>
        <option value="SIGNEDUP">Signed up</option>
        <option value="APPLIED">Applied</option>
        <option value="APPROVED">Approved</option>
      </select>
    </div>

    <div class="panel panel-default">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="employer in employers">
          {{ employer.contact_name }} at {{ employer.company_name }}
          <button type="button"
            class="pull-right"
            ng-if="employer.status === 'APPLIED'"
            ng-click="approveEmployers.approve(employer)">
            Approve
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
