<div class="component-employer-signup row">
  <div class="status-wrap"></div>
  <div class="signup-container" ng-show="ready">
    <div class="col-sm-3">
      <div class="contact-me row">
        <p>Please don't hesitate to <a href="#">contact me</a>, if you've got questions regarding the sign up.</p>
        <p>Matthias Schleuthner</br>Employer Advocate</p>
      </div>
      <ol class="list-unstyled sidenav bg-white row">
        <li ng-class="{ active: signup.atStep('signup.start') }" class="">Start</li>
        <li ng-class="{ active: signup.atStep('signup.basic') }" class="">
          <a ng-if="signup.afterStep('signup.basic')" ui-sref="signup.basic">Basic information</a>
          <span ng-if="!signup.afterStep('signup.basic')">Basic information</span>
        </li>
        <li ng-class="{ active: signup.atStep('signup.offices') }" class="">
          <a ng-if="signup.afterStep('signup.offices')" ui-sref="signup.offices">Offices</a>
          <span ng-if="!signup.afterStep('signup.offices')">Offices</span>
        </li>
        <li ng-class="{ active: signup.atStep('signup.mission') }" class="">
          <a ng-if="signup.afterStep('signup.mission')" ui-sref="signup.mission">Company Facts</a>
          <span ng-if="!signup.afterStep('signup.mission')">Company Facts</span>
        </li>
        <li ng-class="{ active: signup.atStep('signup.facts') }" class="">
          <a ng-if="signup.afterStep('signup.facts')" ui-sref="signup.facts">Tech Facts</a>
          <span ng-if="!signup.afterStep('signup.facts')">Tech Facts</span>
        </li>
        <li ng-class="{ active: signup.atStep('signup.benefits') }" class="">
          <a ng-if="signup.afterStep('signup.benefits')" ui-sref="signup.benefits">Benefits</a>
          <span ng-if="!signup.afterStep('signup.benefits')"> Benefits</span>
        </li>
        <li ng-class="{ active: signup.atStep('signup.terms') }" class="">
          <a ng-if="signup.afterStep('signup.terms')" ui-sref="signup.terms">Terms &amp; services</a>
          <span ng-if="!signup.afterStep('signup.terms')">Terms &amp; services</span>
        </li>
        <li ng-class="{ active: signup.atStep('signup.suggest') }" class="">
          <a ng-if="signup.afterStep('signup.suggest')" ui-sref="signup.suggest">Approval</a>
          <span ng-if="!signup.afterStep('signup.suggest')">Approval</span>
        </li>
        <div class="clearfix"></div>
      </ol>
    </div>
    <ui-view class="col-sm-9"></ui-view>
  </div>
</div>
