<div class="component-employer-signup-basic row">
  <div class="col-sm-8 bg-white">
    <div class="col-sm-12">
      <h2 class="signup-title" translate>Basic information</h2>


      <form name="formSignupBasic" class="form-horizontal form-wrap" ng-submit="signupBasic.submit()">
        <div class="form-wrap mrg-btm bg-gray-lighter pad-30 form-signup">
          <div class="form-group required">
            <label class="col-sm-3" translate>Logo</label>
            <div class="col-sm-9">
              <div class="uploadFile">
                <span translate>Select</span>
                <input type="file"
                       name="photo"
                       accept="image/*"
                       required
                       ng-disabled="loading"
                       ng-model="files"
                       hc-file-select="signupBasic.selectFile($files)"
                       hc-data-url="selectedFiles">
              </div>
              <div class="uploadText" translate>Upload a photo at least 235 px wide.</div>
            </div>
            <div class="col-sm-offset-3 col-sm-9">
              <img class="avatar" ng-show="selectedFiles[0]" ng-src="{{ selectedFiles[0] }}">
            </div>

            <div class="form-error" ng-show="errorFileRequired || errorFileImage">
              <span ng-show="errorFileRequired" translate>Please select a photo.</span>
              <span ng-show="errorFileImage" translate>The file should be an image.</span>
            </div>
          </div>

          <div class="form-group required">
            <label class="col-sm-3" translate>Website</label>
            <div class="col-sm-9">
              <input type="url"
                     class="form-control"
                     name="website"
                     required
                     ng-disabled="loading"
                     ng-model="model.website">
            </div>

            <div class="form-error col-sm-9 col-sm-offset-3" ng-show="formSignupBasic.website.$dirty && formSignupBasic.website.$invalid">
              <span ng-show="formSignupBasic.website.$error.required" translate>
                Please insert the name of the contact person of your company.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 no-padd-right" translate>Facebook page</label>
            <div class="col-sm-9">
              <input type="url"
                     class="form-control"
                     name="fb_url"
                     ng-disabled="loading"
                     ng-model="model.fb_url">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3" translate>LinkedIn URL</label>
            <div class="col-sm-9">
              <input type="url"
                     class="form-control"
                     name="linkedin_url"
                     ng-disabled="loading"
                     ng-model="model.linkedin_url">
            </div>
          </div>
        </div>

        <div class="buttons-wrap mrg-top mrg-btm-30">
          <button type="submit"
                  class="fl-rg bg-green btn-small"
                  ng-disabled="loading"
                  translate>
            Continue
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="bg-gray-lighter2  mrg-btm row">
      <div class="col-sm-12 padd-vert">
        <div class="box-title box-title_left mrg-btm gray-darker" translate>Help</div>
        <div>
          <p translate>
            Please upload your company logo and web addresses here, so candidates can easily identify your corporate branding.
          </p>
        </div>
      </div>
    </div>
    <div class="row  border-box">
      <div class="padd-vert col-sm-12">
        <div class="box-title box-title_left mrg-btm gray-darker" translate>Our Values</div>
        <div>
          <h4 class="orange lt caps font-14 mrg-btm-small" translate>The Best candidates</h4>
          <p class="mrg-btm font-12" translate>We are not a conventional job portal, which is the real reason that IT pros love 4Scotty. That’s our secret to providing access to the most competent experts that the market has to offer.</p>
          <h4 class="orange lt caps font-14 mrg-btm-small" translate>Convenient & time-saving</h4>
          <p class="mrg-btm font-12" translate>At 4Scotty, HR reps can see at first glance which skills a candidate possesses. This prevents the need for unnecessary and expensive job interviews.</p>
          <h4 class="orange lt caps font-14 mrg-btm-small" translate>Only Pay if you hire</h4>
          <p class="mrg-btm font-12" translate>Whether you choose the one-time payment or monthly pricing model – at 4Scotty you only pay once you have actually hired a candidate.</p>
          <h4 class="orange lt caps font-14 mrg-btm-small" translate>Quality-Assured</h4>
          <p class="mrg-btm font-12" translate>Our close contact to candidates ensures authentic and  comprehensive profiles. Manipulation is virtually impossible.</p>
        </div>
      </div>
    </div>
  </div>
</div>
