<div class="component-employer-signup-basic row">
  <div class="col-sm-8">
    <div class="col-sm-12">
      <h3 class="signup-title">Basic information</h3>


      <form name="formSignupBasic" class="form-horizontal form-wrap" ng-submit="signupBasic.submit()">
        <div class="form-wrap mrg-btm bg-gray-lighter pad-30 form-signup">
          <div class="form-group required">
            <label class="col-sm-3 no-padd-top">Logo*</label>
            <div class="col-sm-9">
              <input type="file"
                name="photo"
                accept="image/*"
                required
                ng-disabled="loading"
                ng-model="files"
                hc-file-select="signupBasic.selectFile($files)"
                hc-data-url="selectedFiles">
            </div>
            <div class="col-sm-offset-3 col-sm-9">
              <img ng-show="selectedFiles[0]" ng-src="{{ selectedFiles[0] }}">
            </div>

            <div class="form-error" ng-show="errorFileRequired || errorFileImage">
              <span ng-show="errorFileRequired">Please select a photo.</span>
              <span ng-show="errorFileImage">The file should be an image.</span>
            </div>
          </div>

          <div class="form-group required">
            <label class="col-sm-3">Website</label>
            <div class="col-sm-9">
              <input type="url"
                class="form-control"
                name="website"
                required
                ng-disabled="loading"
                ng-model="model.website">
            </div>

            <div class="form-error" ng-show="formSignupBasic.website.$dirty && formSignupBasic.website.$invalid">
              <span ng-show="formSignupBasic.website.$error.required">
                Please insert the name of the contact person of your company.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 no-padd-top">Facebook page</label>
            <div class="col-sm-9">
              <input type="url"
                class="form-control"
                name="fb_url"
                ng-disabled="loading"
                ng-model="model.fb_url">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3">LinkedIn URL</label>
            <div class="col-sm-9">
              <input type="url"
                class="form-control"
                name="linkedin_url"
                ng-disabled="loading"
                ng-model="model.linkedin_url">
            </div>
          </div>
        </div>

        <div class="buttons-wrap mrg-top mrg-btm-30">
            <button type="submit"
            class="fl-rg bg-green btn-small"
            ng-disabled="loading">
            Continue
            </button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-sm-4 bg-gray-lighter2">
    <div class="padd-vert">
      <div class="box-title box-title_left mrg-btm gray-darker">
        Help</div>
      <div class="">
        <p>
          There will be a text written in here as it is at the candidate sign up forms.
        </p>
      
      </div>
    </div>
  </div>
</div>
