<div class="component-candidate-search-employers row" ng-if="ready">
  <div class="col-sm-6 col-sm-offset-3">
    <h3>Search employers</h3>

    <hc-label-typeahead
      placeholder="Skills"
      ng-model="terms"
      hc-source="searchEmployers.searchSkills($viewValue)"
      on-change="searchEmployers.onTermsChange($value)">
    </hc-label-typeahead>

    <div ng-show="terms.length && !employers.length">No employer found</div>

    <hc-employer
      ng-repeat="employer in employers"
      ng-model="employer"
      hc-link-profile>
    </hc-employer>
  </div>
</div>
