<div class="component-employer-offer mrg-btm" ng-show="ready">
  <div class="inner">
    <div class="status-wrap">
      <div class="status status-{{offer.status}}">
        <span>status: </span>

        <span class="accept-message">
          <span class="iconParent"><i class="fa blue-link fa-clock-o"></i></span>
          <span class="blue-link">waiting for candidate to accept</span>
        </span>
        <span class="accepted-message">
          <span class="iconParent"><i class="fa blue-link fa-check-square-o"></i></span>
          <span class="blue-link">candidate accepted this offer</span>
        </span>
        <span class="interviewing-message">
          <span class="iconParent"><i class="fa blue-link fa-comments"></i></span>
          <span class="blue-link">in an interview for this offer</span>
        </span>
        <span class="negotiation-message">
          <span class="iconParent"><i class="fa blue-link fa-exchange"></i></span>
          <span class="blue-link">negociatin the contract details</span>
        </span>
        <span class="signed-message">
          <span class="iconParent"><i class="fa green fa-pencil"></i></span>
          <span class="green">contract was signed</span>
        </span>
        <span class="withdrawn-message">
          <span class="iconParent"><i class="fa red fa-times-circle"></i></span>
          <span class="red">you withdrawnd this offer</span>
        </span>
        <span class="reject-message">
          <span class="iconParent"><i class="fa red fa-times-circle"></i></span>
          <span class="red">candidate has rejected this offer</span>
        </span>
      </div>
    </div>
    <div class="row">

      <div class="col-sm-3">
        <div class="user-pic" style="background-image: url({{ offer.data.candidate.picture_url }})"></div>

        <!--  Contacts box-->
        <div class="row" ng-if="offer.data.accepted">
          <div class="col-sm-12 info bg-gray-light mrg-btm">
              <div class="row ">
                <div class="contacts">
                  <div class="fl-lf">
                    <span class="box-title box-title_left" href="#">Contact</span>
                  </div>
                  <div class="fl-rg">
                    <a ng-show="offer.data.candidate.github_url" ng-href="{{ offer.data.candidate.github_url }}">
                      <i class="fa fa-github"></i>
                    </a>
                    <a ng-show="offer.data.candidate.stackoverflow_url" ng-href="{{ offer.data.candidate.stackoverflow_url }}">
                      <i class="fa fa-stack-overflow"></i>
                    </a>
                    <a class="hidden" href="#"><i class="fa fa-globe"></i></a>
                  </div>
                </div>
                <div class="padd-vert col-sm-12">
                  <div class="smbd orange mrg-btm-small">
                    <span class="iconParent"><i class="fa fa-envelope orange"></i></span>
                    {{ offer.data.candidate.email }}
                  </div>
                  <div ng-show="offer.data.candidate.contact_phone">
                    <span class="iconParent"><i class="fa fa-mobile orange font-22"></i></span>
                    {{ offer.data.candidate.contact_phone }}
                  </div>
                </div>
              </div>
          </div>
        </div>
        <!--  Contacts placeholder-->
        <div class="row" ng-show="!offer.data.accepted">
          <div class="col-sm-12 info bg-gray-light mrg-btm">
            <p class="pad-xl">The contact details will be visible after the candidate accepted your offer.</p>
          </div>
        </div>


        <div class="rel row pad-btm-15">

          <div class="timeline">
            <div class="gray-bar"></div>
            <div class="timeline-start"></div>
          </div>

          <div class="timeline-head clearfix">
            <div class="col-sm-2 no-padd-right">
              <div class="dot"><i class="fa fa-circle"></i></div>
            </div>
            <div class="col-sm-10">{{ offer.data.created | momentDate }}</div>
          </div>
          <div class="timeline-item clearfix" ng-repeat="entry in timeline">

            <div class="col-sm-2 no-padd-right">
              <!-- TODO
                Unknown states:
                'news-ico-profile-pending': entry.name === 'FOOBAR'
                'news-ico-profile-live': entry.name === 'FOOBAR'
                'news-ico-offer-start-date': entry.name === 'FOOBAR'
                'news-ico-offer-bookmarked-employer': entry.name === 'FOOBAR'
              -->

              <div class="news-ico" ng-class="{
                'news-ico-offer-received': entry.name === 'OFFER_MADE',
                'news-ico-offer-rejected': entry.name === 'REJECTED',
                'news-ico-offer-accepted': entry.name === 'ACCEPTED',
                'news-ico-offer-interviewing': entry.name === 'INTERVIEWING',
                'news-ico-offer-negotiation': entry.name === 'NEGOCIATING',
                'news-ico-offer-signed': entry.name === 'CONTRACT_SIGNED',
              }"></div>
            </div>

            <div class="col-sm-10">
              <div class="date">{{ entry.date | timeAgoIf:'yesterday' }}</div>
              <div class="note">{{ getTimelineText(entry.name, offer) }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 bg-white">
        <div class="row bg-blue">
          <div class="col-sm-12">
            <h2 class="main-title-blue">Offer</h2>
          </div>
        </div>
        <div class="row bg-white">
          <div class="col-sm-12">
            <div class="emp-off-desc">
              <h3 class="main-profession">{{ offer.data.role }}</h3>
              <h4 class="main-subtitle"><a class="smbd" ui-sref="candidate({ id: offer.data.candidate_id })">
                {{ offer.data.candidate.first_name }} {{ offer.data.candidate.last_name }}
              </a></h4>
              <h4 class="main-agency">{{ model.position.role }} @ {{ model.position.company }}</h4>

              <p class="typography" ng-bind-html="offer.data.job_description"></p>

              <h4 class="main-subtitle"><span class="blue-link">Job Description</span></h4>
              <p class="typography" ng-bind-html="offer.data.job_description"></p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="row bg-gray-lighter2 employer-offer-info-box">
          <div class="col-sm-12 padd-vert status-{{offer.status}}">
            <div class="font-22">
              <span class="iconParent"><i class="fa fa-euro"></i></span>
              <span class="smbd custom">{{ offer.data.annual_salary | dottedInteger }}.00</span>
              / year
            </div>
            <div class="font-22">
              <span class="iconParent"><i class="fa fa-map-marker"></i></span>
              {{ offer.data.location.city }}, {{ offer.data.location.country_iso }}
            </div>
            <div class="box-title box-title_left mrg-btm"></div>
            <h5 ><span class="custom">Skills</span></h5>
            <div class="clearfix skills-wrap-right row">
              <div class="col-sm-6 mrg-btm-small" ng-repeat="tech in offer.data.technologies">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span>{{ tech }}</span>
              </div>
            </div>
            <div ng-if="offer.data.benefits.length">
              <div class="box-title box-title_left mrg-btm"></div>
              <h5><span class="custom">Benefits</h5>
              <div class="clearfix skills-wrap-right row">
                <div class="col-sm-6 mrg-btm-small" ng-show="offer.data.benefits.indexOf('Breakfasts') !== -1">
                  <span class="iconParent"><i class="fa fa-cutlery"></i></span><span>Breakfast</span>
                </div>
                <div class="col-sm-6 mrg-btm-small" ng-show="offer.data.benefits.indexOf('Dogs Allowed') !== -1">
                   <span class="iconParent"><i class="fa fa-paw"></i></span><span>Dogs allowed</span>
                </div>
                <div class="col-sm-6 mrg-btm-small" ng-show="offer.data.benefits.indexOf('Coffee') !== -1">
                  <span class="iconParent"><i class="fa fa-coffee"></i></span><span>Coffee</span>
                </div>
                <div class="col-sm-6 mrg-btm-small" ng-show="offer.data.benefits.indexOf('Massages') !== -1">
                  <span class="iconParent"><i class="fa fa-smile-o"></i></span><span>Massages</span>
                </div>
                <div class="col-sm-6 mrg-btm-small" ng-show="offer.data.benefits.indexOf('Company car') !== -1">
                  <span class="iconParent"><i class="fa fa-car"></i></span><span>Company car</span>
                </div>
                <div class="col-sm-6 mrg-btm-small" ng-show="offer.data.benefits.indexOf('Remote Work') !== -1">
                  <span class="iconParent"><i class="fa fa-home"></i></span><span>Remote work</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mrg-btm active-form-{{ showForm || 'none' }}">
          <!-- Next Status -->
          <div class="buttons-wrap">
            <button class="fw btn bg-green" ng-show="offer.canNextStatus()" ng-click="offer.nextStatus()">
              {{ offer.getNextStatusText() }}
            </button>
          </div>
          <!--  End Status  -->

          <!-- Contract Signed -->
          <div class="buttons-wrap">
            <button class="fw btn bg-green" ng-show="offer.canSign()" ng-click="toggleForm('sign')">Contract Signed</button>
          </div>

          <div class="form-container col-sm-12 padd-vert bg-gray-lighter2" ng-show="showForm === 'sign'">
            <form class="form-wrap"  ng-submit="sign(offer, signing)">
              <p>Please provide the following information.</p>
              <div class="row padd-form">
                <label class="col-sm-3">Start date</label>
                <div class="col-sm-9">
                  <input type="date"
                    class="form-control"
                    placeholder="YYYY-MM-DD"
                    required
                    ng-disabled="hcDisabled"
                    ng-model="signing.start_date">
                </div>
                <div class="form-error" ng-show="formProfile.contactEmail.$dirty && formProfile.contactEmail.$invalid">
                  <span ng-show="formProfile.contactEmail.$error.required">Please insert your email.</span>
                </div>
              </div>

              <div class="row padd-form">
                <label class="col-sm-3">Start salary</label>
                <div class="col-sm-9">
                  <input type="dotted-integer"
                    class="form-control"
                    placeholder="Start salary"
                    required
                    ng-disabled="hcDisabled"
                    ng-model="signing.start_salary">
                </div>
                <div class="form-error" ng-show="formProfile.phoneNumber.$dirty && formProfile.phoneNumber.$invalid">
                  <span ng-show="formProfile.phoneNumber.$error.required">Please insert your phone.</span>
                  <span ng-show="formProfile.phoneNumber.$error.pattern">Valid chacters are: Numbers - / ( )</span>
                </div>
              </div>
              <div class="form-error">
                <span>Please choose your start date</span>
              </div>
              <div class="buttons-wrap">
                <button class="bg-green fl-rg btn-small">Submit</button>
              </div>
            </form>
          </div>
          <!-- End Contract Signed -->

          <!-- withdrawn -->
          <div class="buttons-wrap alg-cen">
            <button class="link-red" ng-show="offer.canWithdraw()" ng-click="toggleForm('withdraw')" ng-class="{
              fw: !offer.canNextStatus() && !offer.canSign(),
            }"><span>Withdraw</span> <i class="fa fa-angle-right"></i></button>
          </div>

          <div class="form-container col-sm-12 padd-vert bg-gray-lighter2" ng-show="showForm === 'withdraw'">
            <form class="form-wrap"  ng-submit="withdraw(offer, withdrawal)">
              <p>Please define the reason for your withdrawal.</p>
              <div class="row padd-form">
                <div class="label-wrap col-sm-12 mrg-btm">
                  <div ng-repeat="reason in withdrawReasons">
                    <label>
                      <span class="iconParent">
                      <input type="radio"
                        name="withdrawReason"
                        value="{{ reason }}"
                        ng-required="!withdrawal.reason"
                        ng-model="withdrawal.reason"
                        ng-change="withdrawal.rejected_text = null">
                      </span>
                      {{ reason }}
                    </label>
                  </div>
                </div>
              </div>

              <div ng-if="withdrawal.reason.toLowerCase() === 'other'">
                <div class="pad-label">
                  <textarea
                    class="txtarea"
                    placeholder="Please describe your reason"
                    required
                    ng-model="withdrawal.withdrawal_reason">
                  </textarea>
                </div>
              </div>
              <div class="buttons-wrap">
                <button type="submit" class="bg-green fl-rg btn-small">Submit</button>
              </div>
            </form>
          </div>
          <!-- end withdrawn -->

        </div>
        <div class="row border-box">
          <div class="col-sm-12 padd-vert">
            <div class="box-title box-title_left lt gray-darker">Hiring process</div>
            <p class="gray" ng-bind-html="offer.data.interview_details"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


