<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form name="formInviteEmployer"
      class="component-employer-invite-employer"
      ng-submit="inviteEmployer.submit()">

      <h3>Invite employer</h3>

      <div class="alert alert-danger" ng-show="error">
        Sorry, unknown error ocurred, if this error persist please contact EMAIL_HERE.
      </div>
      <div class="alert alert-danger" ng-show="errorAlreadyRegistered">
        Email address already registered.
      </div>
      <div class="alert alert-success" ng-show="sent">
        Email was sent to {{ sent }}
      </div>

      <div class="form-group">
        <label class="required">Contact name</label>
        <input type="text"
          class="form-control"
          name="contactName"
          required
          ng-disabled="loading"
          ng-model="model.contact_name">

        <div class="form-error" ng-show="formInviteEmployer.contactName.$dirty && formInviteEmployer.contactName.$invalid">
          <span ng-show="formInviteEmployer.contactName.$error.required">
            Please insert the name of the contact person..
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="required">Company name</label>
        <input type="text"
          class="form-control"
          name="companyName"
          required
          ng-disabled="loading"
          ng-model="model.company_name">

        <div class="form-error" ng-show="formInviteEmployer.companyName.$dirty && formInviteEmployer.companyName.$invalid">
          <span ng-show="formInviteEmployer.companyName.$error.required">
            Please insert the name of the company.
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="required">Email</label>
        <input type="email"
          class="form-control"
          name="email"
          required
          ng-disabled="loading"
          ng-model="model.email">

        <div class="form-error" ng-show="formInviteEmployer.email.$dirty && formInviteEmployer.email.$invalid">
          <span ng-show="formInviteEmployer.email.$error.required">
            Please insert their's email.
          </span>
          <span ng-show="formInviteEmployer.email.$error.email">
            Please insert a valid email.
          </span>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-disabled="loading">Continue</button>
      </div>
    </form>
  </div>
</div>
