<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form name="formInviteEmployer"
      class="component-employer-invite-employer"
      ng-submit="inviteEmployer.submit()">

      <h3>Invite employer</h3>

      <div class="form-group">
        <label class="required">Company name</label>
        <input type="text"
          class="form-control"
          placeholder="Company name"
          name="companyName"
          required
          ng-disabled="loading"
          ng-model="model.company_name">

        <div class="form-error" ng-show="formInviteEmployer.companyName.$dirty && formInviteEmployer.companyName.$invalid">
          <span ng-show="formInviteEmployer.companyName.$error.required">
            Please insert the name of the company.
          </span>
        </div>
      </div>

      <div class="form-group required">
        <label>Company Type</label>

        <label class="form-label" ng-repeat="type in companyTypes">
          <input type="radio"
            name="companyType"
            value="{{ type }}"
            required
            ng-disabled="loading"
            ng-model="model.company_type">
          {{ type }}
        </label>

        <div class="form-error"ng-show="errorNoCompanyType">
          <span>Please select at least one company type.</span>
        </div>
      </div>

      <div class="form-group required">
        <label>Salutation</label>

        <select
          class="form-control"
          name="salutation"
          required
          ng-disabled="loading"
          ng-model="model.contact_salutation"
          ng-options="salutation for salutation in salutations">
          <option value="">Salutation...</option>
        </select>

        <div class="form-error" ng-show="formInviteEmployer.salutation.$dirty && formInviteEmployer.salutation.$invalid">
          <span ng-show="formInviteEmployer.salutation.$error.required">Please select a salutation</span>
        </div>
      </div>

      <div class="form-group required">
        <label>First name</label>

        <input type="text"
          class="form-control"
          placeholder="First name"
          name="contact_first_name"
          required
          ng-disabled="loading"
          ng-model="model.contact_first_name">

        <div class="form-error" ng-show="formInviteEmployer.contact_first_name.$dirty && formInviteEmployer.contact_first_name.$invalid">
          <span ng-show="formInviteEmployer.contact_first_name.$error.required">
            Please insert the first name of the contact person of your company.
          </span>
        </div>
      </div>

      <div class="form-group required">
        <label>Last name</label>

        <input type="text"
          class="form-control"
          placeholder="Last name"
          name="contact_last_name"
          required
          ng-disabled="loading"
          ng-model="model.contact_last_name">

        <div class="form-error" ng-show="formInviteEmployer.contact_last_name.$dirty && formInviteEmployer.contact_last_name.$invalid">
          <span ng-show="formInviteEmployer.contact_last_name.$error.required">
            Please insert the first name of the contact person of your company.
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="required">Email</label>
        <input type="email"
          class="form-control"
          placeholder="Email"
          name="email"
          required
          ng-disabled="loading"
          ng-model="model.email">

        <div class="form-error" ng-show="formInviteEmployer.email.$dirty && formInviteEmployer.email.$invalid">
          <span ng-show="formInviteEmployer.email.$error.required">
            Please insert their's email.
          </span>
          <span ng-show="formInviteEmployer.email.$error.email">
            Please insert a valid email.
          </span>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-disabled="loading">Continue</button>
      </div>
    </form>
  </div>
</div>
