-
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.idea

data
development.ini
venv
configs/data
# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.idea

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Mac files
.DS_Store


scotty/static/config/config.js
node_modules
tests/test-results.xml
scotty/static/apps/*.html
scotty/static/apps/de/
scotty/static/apps/sitemap.xml
tests/test-vars.js
tests/__config__.js
