<div class="component-shared-forget-password row">
  <form name="formForgetPassword"
    class="col-sm-6 col-sm-offset-3"
    ng-submit="forgetPassword.submit(email)">

    <h3>Forgot password</h3>

    <div class="form-group required">
      <label>Email</label>
      <input
        type="email"
        class="form-control"
        placeholder="Email"
        required
        ng-disabled="loading"
        ng-model="email"
        ng-change="forgetPassword.onChange(email)">

      <div class="form-error" ng-show="formForgetPassword.email.$dirty && formForgetPassword.email.$invalid">
        <span ng-show="formForgetPassword.email.$error.required">
          Please insert your email.
        </span>
        <span ng-show="formForgetPassword.email.$error.email">
          Please insert a valid email.
        </span>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" ng-disabled="loading">
        Send instructions
        <span ng-if="alreadySent">again</span>
      </button>
    </div>
  </form>
</div>
