<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form class="component-candidate-login" ng-submit="login.submit(email, password)">

      <h3>Log in</h3>

      <div class="form-group required">
        <label>Email</label>
        <input
          type="email"
          class="form-control"
          required
          ng-disabled="loading"
          ng-model="email">
      </div>

      <div class="form-group required">
        <label>Password</label>
        <input
          type="password"
          class="form-control"
          required
          ng-disabled="loading"
          ng-model="password">
      </div>

      <button type="submit" class="btn btn-primary" ng-disabled="loading">Submit</button>
      <a ui-sref="forget-password">Forgot your password?</a>
    </form>
  </div>
</div>
