<form role="form" name="formTarget" class="form-horizontal" ng-submit="submit()">

  <div class="form-group required">
    <label class="col-sm-3">Role</label>
    <div class="col-sm-9">
      <select class="form-control"
              name="country"
              required
              ng-disabled="loading"
              ng-model="model.role"
              ng-options="role for role in featuredRoles">
        <option value="">Select...</option>
      </select>

      <div class="form-error" ng-show="formTarget.role.$dirty && formTarget.role.$invalid">
        <span ng-show="formTarget.role.$error.required">Please insert your role.</span>
      </div>
    </div>
  </div>

  <div class="form-group required">
    <label class="col-sm-3">Technologies & Skills you want to work with</label>
    <div class="col-sm-9">
      <div class="checkbox col-sm-6" ng-repeat="skill in featuredSkills">
        <label class="form-label">
          <input type="checkbox"
                 ng-disabled="loading"
                 ng-model="skill.selected"
                 ng-change="onFeaturedSkillChange()">
          {{ skill.value }}
        </label>
      </div>
    </div>
  </div>

  <div class="form-group required">
    <div class="col-sm-offset-3 col-sm-9">
      <hc-label-typeahead
              name="skill"
              placeholder="Type a skill..."
              ng-disabled="loading"
              ng-model="model.skills"
              hc-required="!skillSelected"
              hc-source="searchSkills($viewValue)"
              hc-error-message="Please choose at least one skill"
              hc-allow-new>
      </hc-label-typeahead>
    </div>
  </div>

  <div class="form-group required">
    <label class="col-sm-3">What is your minimum annual salary expectation</label>
    <div class="col-sm-9">
      <div class="input-group">
        <span class="input-group-addon">€</span>
        <input type="dotted-integer"
               class="form-control"
               name="salary"
               required
               ng-disabled="loading"
               ng-model="model.minimum_salary"
               ng-change="onSalaryChange()">
        <span class="input-group-addon">.00</span>
      </div>
    </div>

    <div class="form-error" ng-show="(formTarget.salary.$dirty && formTarget.salary.$invalid) || errorSalaryTooHigh">
      <span ng-show="formTarget.salary.$error.required">Please insert your expected salary.</span>
      <span ng-show="formTarget.salary.$error.number">Please insert a number.</span>
      <span ng-show="formTarget.salary.$error.pattern">Decimals are not allowed.</span>
      <span ng-show="errorSalaryTooHigh">Please, select a salary below 99,000,000.</span>
    </div>
  </div>

  <div class="form-group required">
    <label class="col-sm-3">Location</label>

    <div class="col-sm-4">
      <div class="checkbox" ng-repeat="location in featuredLocations">
        <label class="form-label">
          <input type="checkbox"
                 ng-disabled="loading"
                 ng-model="location.selected"
                 ng-change="updateLocations()">
          {{ location.value.city }}, {{ location.value.country_iso }}
        </label>
      </div>
    </div>

    <div class="col-sm-5">
      <label class="form-label">
        <input type="radio"
               name="location-radio"
               value="anywhere"
               ng-disabled="loading"
               ng-required="errorLocationRequired"
               ng-model="locationRadio"
               ng-change="updateLocations()">
        Anywhere
      </label>

      <label class="form-label">
        <input type="radio"
               name="location-radio"
               value="other"
               ng-disabled="loading"
               ng-required="errorLocationRequired"
               ng-model="locationRadio"
               ng-change="updateLocations()">
        Other
      </label>

      <hc-label-typeahead
              name="cities"
              placeholder="Type a city..."
              ng-show="locationRadio === 'other'"
              ng-disabled="loading"
              ng-model="preferred_locations"
              hc-required="errorLocationRequired"
              hc-render="locationToText($entry)"
              hc-source="searchCities($viewValue)"
              on-change="updateLocations()">
      </hc-label-typeahead>
    </div>

    <div class="form-error" ng-show="errorLocationRequired">
      <span>Please type a city you would like to work at.</span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <div ng-transclude></div>
    </div>
  </div>
</form>
