<form role="form" name="formTarget" ng-submit="submit()">

  <div class="form-group required">
    <label>Role</label>
    <input type="text"
      class="form-control"
      placeholder="Role"
      name="role"
      required
      ng-disabled="loading"
      ng-model="model.role"
      typeahead="role for role in searchRoles($viewValue)">

    <div class="form-error" ng-show="formTarget.role.$dirty && formTarget.role.$invalid">
      <span ng-show="formTarget.role.$error.required">Please insert your role.</span>
    </div>
  </div>

  <div class="form-group required">
    <label>Skills</label>
    <hc-label-typeahead
      name="skill"
      placeholder="Type a skill..."
      ng-disabled="loading"
      ng-model="model.skills"
      hc-source="searchSkills($viewValue)"
      hc-error-message="Please choose at least one skill"
      hc-allow-new>
    </hc-label-typeahead>
  </div>

  <div class="form-group required">
    <label>Company Type</label>

    <label class="form-label" ng-repeat="type in companyTypes">
      <input type="checkbox"
        ng-required="errorNoCompanyType"
        ng-disabled="loading"
        ng-model="type.selected"
        ng-change="onCompanyTypeChange()">
      {{ type.value }}
    </label>

    <div class="form-error"ng-show="errorNoCompanyType">
      <span>Please select at least one company type.</span>
    </div>
  </div>

  <div class="form-group required">
    <label>Minimum salary</label>
    <div class="input-group">
      <span class="input-group-addon">€</span>
      <input type="dotted-integer"
        class="form-control"
        placeholder="Minimum salary",
        name="salary"
        required
        ng-disabled="loading"
        ng-model="model.minimum_salary">
      <span class="input-group-addon">.00</span>
    </div>

    <div class="form-error" ng-show="formTarget.salary.$dirty && formTarget.salary.$invalid">
      <span ng-show="formTarget.salary.$error.required">
        Please insert your expected salary.
      </span>
      <span ng-show="formTarget.salary.$error.number">
        Please insert a number.
      </span>
      <span ng-show="formTarget.salary.$error.pattern">
        Decimals are not allowed.
      </span>
    </div>
  </div>

  <div class="form-group required">
    <label>Country</label>

    <select
      class="form-control"
      name="country"
      required
      ng-disabled="loading"
      ng-model="country"
      ng-options="country.iso as country.name for country in countries"
      ng-change="setCountry(country)">
      <option value="">Select...</option>
    </select>
  </div>

  <div class="form-group required">
    <label>Cities</label>

    <hc-label-typeahead
      name="cities"
      placeholder="Type a city..."
      ng-disabled="loading || dontCareLocation || !country"
      ng-model="model.preferred_locations[country]"
      hc-source="searchCities($viewValue)">
    </hc-label-typeahead>

    <label class="form-label">
      <input type="checkbox"
        ng-disabled="loading || !country"
        ng-required="!model.preferred_locations[country].length"
        ng-model="dontCareLocation"
        ng-change="setCountry(country)">
      Anywhere
    </label>

    <div class="form-error" ng-show="cities.invalid && !dontCareLocation">
      <span>Please type a city you would like to work at and press enter key.</span>
    </div>
  </div>

  <div class="form-group required">
    <label>Willingness to travel</label>

    <select
      class="form-control"
      name="travel_willingness"
      required
      ng-disabled="loading"
      ng-model="model.travel_willingness"
      ng-options="option for option in willingness">
      <option value="">Select...</option>
    </select>

    <div class="form-error" ng-show="formTarget.travel_willingness.$dirty && formTarget.travel_willingness.$invalid">
      <span ng-show="formTarget.travel_willingness.$error.required">
        Please insert your expected willingness to travel.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label>
      <input type="checkbox"
        name="relocate"
        ng-model="model.relocate">
      Willing to relocate
    </label>
  </div>

  <div class="form-group">
    <div ng-transclude></div>
  </div>
</form>
