<form name="form" class="edit-form form-wrap form-signup no-padd-horz" ng-submit="submit()">
  <div class="row">
    <div class="col-sm-12">
      <div class="row mrg-btm">
        <label class="col-sm-3 no-padd-right no-padd-top" translate>University or Institution</label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 name="institution"
                 ng-required="hcRequired"
                 ng-disabled="hcDisabled"
                 ng-model="model.institution"
                 typeahead="institution for institution in searchInstitutions($viewValue)"
                 hc-typeahead-loader>
        </div>
        <div class="form-error col-sm-9 col-sm-offset-3" ng-show="form.institution.$dirty && form.institution.$invalid">
          <span ng-show="form.institution.$error.required" translate>Please insert the institution name.</span>
        </div>
      </div>

      <div class="row mrg-btm">
        <label class="col-sm-3 no-padd-right no-padd-top" translate>Course or Subject</label>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-12">
              <input type="text"
                     class="form-control"
                     name="course"
                     ng-disabled="hcDisabled"
                     ng-model="model.course"
                     typeahead="course for course in searchCourses($viewValue)"
                     hc-typeahead-loader>
            </div>
          </div>
        </div>
        <div class="form-error col-sm-9 col-sm-offset-3" ng-show="form.institution.$dirty && form.institution.$invalid">
          <span ng-show="form.institution.$error.required" translate>Please insert the course name.</span>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="row mrg-btm">
        <label class="col-sm-3" translate translate-comment="of time">Period</label>
        <div class="col-sm-9">
          <div class="row no-gutter">
            <div class="col-sm-2">
              <!-- From year -->
              <input type="number"
                     class="form-control"
                     name="start"
                     ng-min="1900"
                     ng-max="currentYear"
                     placeholder="Year"
                     ng-required="hcRequired"
                     ng-disabled="hcDisabled"
                     ng-model="model.start">
            </div>
            <div class="col-sm-1 spacer">
              <!-- Separator -->
              <span>–</span>
            </div>
            <div class="col-sm-2">
              <input type="number"
                     class="form-control"
                     name="end"
                     ng-min="1900"
                     ng-max="currentYear"
                     placeholder="Year"
                     ng-disabled="hcDisabled || current"
                     ng-required="hcRequired && !current"
                     ng-model="model.end"
                     hc-greater-than="model.start">
            </div>
            <div class="col-sm-6 check-wrap mrg-lft-small">
              <label>
                <input type="checkbox"
                       name="current"
                       ng-disabled="hcDisabled"
                       ng-model="current"
                       ng-change="model.end = null">
                <translate>I am still studying there</translate>
              </label>
            </div>
            <div class="col-sm-12">
              <div class="form-error col-sm-12" ng-show="form.start.$dirty && form.start.$invalid">
                <span ng-show="form.start.$error.required" translate>Please insert the year you started at this position.</span>
                <span ng-show="form.start.$error.min" translate>Start year must be after 1900.</span>
                <span ng-show="form.start.$error.max" translate>Start year must be in the past.</span>
              </div>
              <div class="form-error col-sm-12" ng-show="form.end.$dirty && form.end.$invalid">
                <span ng-show="form.end.$error.required" translate>Please insert the year you leave this position.</span>
                <span ng-show="form.end.$error.min" translate>Graduation must be after 1900.</span>
                <span ng-show="form.end.$error.max" translate>Graduation must be in the past.</span>
                <span ng-show="form.end.$error.greaterThan" translate>End year should be after start year.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mrg-btm">
        <label class="col-sm-3" translate>Degree</label>
        <div class="col-sm-9">
          <div>
            <select class="form-control"
                    name="degree"
                    ng-disabled="hcDisabled || not_completed_degree"
                    ng-required="hcRequired && !not_completed_degree"
                    ng-model="model.degree"
                    ng-options="degree for degree in degrees">
              <option value="" translate>Select a Degree...</option>
            </select>
          </div>
          <div class="check-wrap">
            <label>
              <input type="checkbox"
                     name="not_completed_degree"
                     ng-disabled="hcDisabled"
                     ng-model="not_completed_degree"
                     ng-change="model.degree = null">
              <translate>Did not complete degree.</translate>
            </label>
          </div>
          <div class="form-error" ng-show="form.degree.$dirty && form.degree.$invalid">
            <span ng-show="form.degree.$error.required" translate>
              Please select a degree or check "Did not complete degree".
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <span ng-transclude></span>
    </div>
  </div>
</form>
