<button type="button" class="edit-button pencil-edit" ng-click="edit()">
  <i class="fa fa-pencil"></i>
</button>
<a class="add-now"
  ng-if="!profile.isFormOpen"
  ng-click="edit()"
  translate>
  Add availability information
</a>

<form name="form" ng-submit="save(data)" hc-validations-on-submit>
  <button class="close-button" ng-click="close()">
    <i class="fa fa-close"></i>
  </button>

  <div class="form-group">
    <label translate>Availability</label>
    <textarea name="availability" class="form-control" required ng-model="data"></textarea>
    <p class="help-block" translate>Please enter your notice period or when you will be available.</p>

    <div class="validation-errors" ng-show="form.availability.$dirty">
      <div ng-show="form.availability.$error.required" translate>Please type your availability</div>
    </div>
  </div>

  <div class="buttons-wrap">
    <button type="submit" ng-disabled="loading" translate>Save</button>
    <button type="button" ng-disabled="loading" ng-click="close()" translate>Cancel</button>
  </div>

  <div class="clearfix"></div>
</form>
