<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-click="navbarMenuOpen = !navbarMenuOpen">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">4Scotty</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" ng-class="{ in: navbarMenuOpen }">
      <ul class="nav navbar-nav">
        <li ng-hide="session.user" ui-sref-active="active">
          <a ui-sref="login">Log in</a>
        </li>
        <li ng-hide="session.user" ui-sref-active="active">
          <a ui-sref="signup">Sign up</a>
        </li>
        <li ng-show="session.user" ui-sref-active="active">
          <a ui-sref="dashboard">Home</a>
        </li>
        <li ng-show="session.user" ui-sref-active="active">
          <a ui-sref="offer-list">Offers</a>
        </li>
        <li ng-show="session.user" ui-sref-active="active">
          <a ui-sref="profile">Profile</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="session.user"><a class="link" ng-click="logout()">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="alert alert-warning alert-verification" ng-show="session.user && !session.activated">
  Your account is not verified, please check your email inbox
</div>
