<nav class="navbar navbar-default" role="navigation">
  <div class="container no-padd-horz">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-click="navbarMenuOpen = !navbarMenuOpen">
        <span class="sr-only" translate>Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h1 class="navbar-brand"><a ng-href="{{ staticUrl() }}/" translate>4Scotty</a></h1>
    </div>


    <div class="collapse navbar-collapse" ng-class="{ in: navbarMenuOpen }">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" ng-show="session.user" ui-sref-active="active">
          <a ui-sref="profile">
            <!-- TODO display the user name and the user avatar please -->
            <div class="user-avatar" ng-style="{'background-image': 'url('+session.user._data.picture_url+')'}"></div>
            {{ session.user._data.first_name }} <i class="fa fa-angle-down"></i>
          </a>
          <div class="logout" ng-show="session.user"><a ng-click="logout()" translate>Log out</a></div>
        </li>
        <li>
          <hc-language-selector></hc-language-selector>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="session.user" ui-sref-active="active">
          <a ng-href="{{ staticUrl() }}/login.html" translate>Log in</a>
        </li>
        <li ng-hide="session.user" ui-sref-active="active">
          <a ui-sref="signup" translate>Sign up</a>
        </li>
        <li ng-show="session.user" ui-sref-active="active">
          <a ui-sref="dashboard" translate>Home</a>
        </li>
        <li ng-show="session.user" ui-sref-active="active">
          <div class="notifications" ng-show="session.user._data.pending_offers">
            {{ session.user._data.pending_offers }}
          </div>
          <a ui-sref="offer-list" translate>Offers</a>
        </li>
        <li ng-show="session.user" ui-sref-active="active">
          <a ui-sref="profile" translate>Profile</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
