<a class="add-now"
  ng-if="!profile.isFormOpen"
  ng-click="edit()"
  translate>
  Add work experiences
</a>

<div class="row">
  <div class="job-bar">
    <div class="job-bar-item" ng-repeat="entry in timeline"
      style="width: {{ entry.percent }}%"
      title="{{ entry.role }} - {{ entry.duration | yearMonth:false:lang }}">

      <div class="job-bar-item_up" ng-class="{
        'bg-gray-light': $even,
        'bg-blue-light': $odd,
      }">{{ entry.duration | yearMonth:entry.percent:lang }}</div>

      <div class="job-bar-item_down">{{ entry.percent > 5 && entry.role || '' }}</div>
    </div>
  </div>
</div>

<h2 class="big-title accordion-main-title">
  <translate>WORK EXPERIENCE</translate>
  <span class="accordion-title-extra">{{ totalWorkExperience | toMonthsYears:lang }}</span>
  <button class="add-btn" ng-show="profile.isEditing && !profile.isFormOpen" ng-click="add()">
    <i class="fa fa-plus"></i> <translate>ADD</translate>
  </button>
</h2>
<div class="accordion-wrap">
  <!-- Add panel -->
  <div class="add-panel" ng-if="editable" ng-show="editing === -2">
    <button class="add-panel-close" ng-click="close()">
      <i class="fa fa-close"></i>
    </button>
    <hc-experience-form
      hc-container="formContainer"
      name="form"
      hc-required="model.length === 0 || !formContainer.form.isPristine()"
      hc-disabled="loading"
      on-submit="save($model, $form, model.length)">

      <div class="row">
        <div class="buttons-wrap">
          <button type="submit" class="fl-rg bg-green btn-small mrg-lft-small" translate>save</button>
          <button type="button" class="fl-rg bg-gray-lighter2 btn-small" ng-click="close()" translate>cancel</button>
        </div>
      </div>
    </hc-experience-form>
  </div>
  <!--End  Add panel -->
  <div ng-repeat="entry in data">
    <!-- EDIT panel -->
    <div class="add-panel edit-panel" ng-if="editing === $index">
      <button class="add-panel-close" ng-click="close()"><i class="fa fa-close"></i></button>
      <hc-experience-form
        ng-model="entry"
        hc-required="true"
        hc-disabled="loading"
        on-submit="save($model, $form, $index)">
        <div class="row">
          <div class="buttons-wrap">
            <button type="submit" class="fl-rg bg-green btn-small mrg-lft-small" translate>save</button>
            <button type="button" class="fl-rg bg-gray-lighter2 btn-small" ng-click="close()" translate>cancel</button>
          </div>
        </div>
      </hc-experience-form>
    </div>
    <!--End  EDIT panel -->
    <hc-accordion hc-hide-control="!entry.summary && !entry.skills.length" ng-hide="editing === $index">
      <h3 class="accordion-subtitle">
        {{ entry.role }}
        <button type="button"
          ng-if="editable"
          class="btn-edit-sub no-fl"
          ng-show="profile.isEditing"
          ng-disabled="loading || profile.isFormOpen"
          ng-click="edit(entry, $index)">
          <i class="fa fa-pencil"></i>
        </button>
      </h3>
      <h4 class="accordion-subtitle2">{{ entry.company }}</h4>
      <span class="accordion-date">
        {{ entry.start | showMonthYear }} –
        <span ng-show="entry.end">{{ entry.end | showMonthYear }}</span>
        <span ng-hide="entry.end" translate>today</span>
        ({{ entry | momentDiff | toMonthsYears }})
      </span>
      <div class="accordion-text">{{ entry.summary }}</div>
      <div class="accordion-text" ng-show="entry.skills.length">
        <strong><translate>Technologies/Skills</translate>:</strong>
        {{ entry.skills.join(', ') }}
      </div>
    </hc-accordion>
  </div>
</div>
