<button class="close-button" ng-click="close()">
  <i class="fa fa-close"></i>
</button>

<h3 translate>Where would you like to work?</h3>
<h4 translate>Tell us what tech you want to work with and the minimum you expect to be paid.</h4>

<form name="form" class="row" ng-submit="save(data)" hc-validations-on-submit>
  <div class="col-sm-6">
    <div class="form-group">
      <label translate>Target position</label>
      <select name="role"
        class="form-control mrg-btm"
        required
        ng-disabled="loading"
        ng-model="data.role"
        ng-options="role as $root.translate(role) for role in featuredRoles">
        <option value="" translate>Select...</option>
      </select>

      <div class="validation-errors" ng-show="form.role.$dirty">
        <div ng-show="form.role.$error.required" translate>Please select a target role.</div>
      </div>
    </div>

    <div class="form-group">
      <label>
        <span class="question-title" translate>Annual Salary</span>
        <div class="question">
          <span>?</span>
          <div class="tooltip-wrap">
            <div class="tooltip-arrow"></div>
            <div class="tooltip-text" translate>
              Do not set your salary too high, as it will block employers to send you interesting offers, that have a slightly lower nominal salary but huge other benefits.
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </label>

      <div class="input-group">
        <span class="input-group-addon">€</span>
        <input type="dotted-integer"
          class="form-control"
          name="salary"
          required
          ng-max="99000000"
          ng-disabled="loading"
          ng-model="data.minimum_salary">
        <span class="input-group-addon">.00</span>
      </div>

      <div class="validation-errors" ng-show="form.salary.$dirty">
        <div ng-show="form.salary.$error.required" translate>Please type your minimum expected salary.</div>
        <div ng-show="form.salary.$error.max" translate>This seems to be too high.</div>
      </div>
    </div>

    <div class="buttons-wrap">
      <button type="submit" ng-disabled="loading" translate>Save</button>
      <button type="button" ng-disabled="loading" ng-click="skip()" translate>Skip</button>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <label>
        <span class="question-title" translate>Technologies &amp; Skills</span>

        <div class="question">
          <span>?</span>
          <div class="tooltip-wrap">
            <div class="tooltip-arrow"></div>
            <div class="tooltip-text" translate>
              Please choose from the list or write down at least one other technology or skill you've been working with for a relevant period of time.
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </label>

      <div class="row">
        <div class="col-sm-4" ng-repeat="skill in featuredSkills">
          <label class="form-label">
            <input type="checkbox"
              ng-disabled="loading"
              ng-model="skill.selected"
              ng-change="onFeaturedSkillChange()">
            {{ skill.value }}
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label translate>Other</label>
      <hc-label-typeahead
        name="skill"
        placeholder="{{ 'Type a skill and press enter on each one...' | translate }}"
        ng-disabled="loading"
        ng-model="data.skills"
        hc-required="!skillSelected"
        hc-source="searchSkills($viewValue)"
        hc-allow-new>
      </hc-label-typeahead>

      <div class="validation-errors" ng-show="form.skill.$dirty">
        <span ng-show="form.skill.$error.required" translate>Please insert the skills you expect to use.</span>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
</form>
