<form name="formSignupTerms"
  class="component-employer-signup-terms"
  ng-submit="signupTerms.submit()">

  <h3>Sign up - Terms</h3>

  <div class="alert alert-danger" ng-hide="!error">
    Sorry, unknown error ocurred, if this error persist please contact EMAIL_HERE.
  </div>

  <div class="form-group">
    <label>
      <input type="checkbox"
        required
        ng-disabled="loading"
        ng-model="model.agreedTos">
      I agree
    </label>
    <strong>
      <a ui-sref="signup.tos">terms &amp; services</a>
    </strong>

    <div class="form-error" ng-show="formSignupTerms.recruitment.$dirty && formSignupTerms.recruitment.$invalid">
      <span ng-show="formSignupTerms.recruitment.$error.required">
        You must accept terms and services to go on.
      </span>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary" ng-disabled="loading">Apply</button>
  </div>
</form>
