<form name="formSignupTerms"
      class="component-employer-signup-terms row"
      ng-submit="signupTerms.submit()" hc-validations-on-submit>

  <div class="col-sm-8 bg-white">
    <div class="col-sm-12">
      <h2 class="signup-title" translate>Terms and services</h2>

      <div class=" mrg-btm bg-gray-lighter pad-30 form-signup">
        <p>
          <translate>By selecting "I agree terms of service", you agree with our</translate>
          <a href="../en/terms-employer.html" class="smbd" target="_blank" translate>terms of service</a>.
          <br/><br/>
        </p>

        <p><translate>In summary</translate>:</p>
        <ul class="terms">
          <li translate>After your company profile was approved, you‘ll be able to browse
            the 4Scotty pool of IT-Professionals and make them interview offers.</li>

          <li translate>You agree not to approach one of our candidates outside of 4Scotty,
            or circumvent us in any way.</li>

          <li translate>4Scotty will only charge you a success fee if you successfully hire
            someone through our marketplace.
            You will have the option of paying 18% of the first year base salary
            upfront, or 2% of the annual salary per month for 12 months.</li>
        </ul>
        <label class="font-nor">
          <input type="checkbox"
                 name="agreedTos"
                 ng-required="true"
                 ng-disabled="loading"
                 ng-model="model.agreedTos">
          <span class="mrg-lft-small" translate>I agree to the terms of services</span>
        </label>

        <div class="form-error" ng-show="formSignupTerms.agreedTos.$dirty && formSignupTerms.agreedTos.$invalid">
          <span ng-show="formSignupTerms.agreedTos.$error.required" translate>You must accept our terms and services to proceed.</span>
        </div>
      </div>

      <div class="buttons-wrap mrg-top mrg-btm-30">
        <button type="submit"
                class="fl-rg bg-green btn-small"
                ng-disabled="loading"
                translate>
          Apply
        </button>
      </div>

    </div>
  </div>
  <div class="col-sm-4">
    <div class="bg-gray-lighter2 row mrg-btm">
      <div class="col-sm-12 padd-vert">
        <div class="box-title box-title_left mrg-btm gray-darker" translate>Help</div>
        <div>
          <p translate>Please read the terms carefully. You need to accept them to start using the 4Scotty platform.</p>
        </div>
      </div>
    </div>
    <div class="row  border-box">
      <div class="padd-vert col-sm-12">
        <div class="box-title box-title_left mrg-btm gray-darker" translate>Our Values</div>
        <div>
          <h4 class="orange lt caps font-14 mrg-btm-small" translate>The Best candidates</h4>
          <p class="mrg-btm font-12" translate>We are not a conventional job portal, which is the real reason that IT pros love 4Scotty. That’s our secret to providing access to the most competent experts that the market has to offer.</p>
          <h4 class="orange lt caps font-14 mrg-btm-small" translate>Convenient & time-saving</h4>
          <p class="mrg-btm font-12" translate>At 4Scotty, HR reps can see at first glance which skills a candidate possesses. This prevents the need for unnecessary and expensive job interviews.</p>
          <h4 class="orange lt caps font-14 mrg-btm-small" translate>Only Pay if you hire</h4>
          <p class="mrg-btm font-12" translate>Whether you choose the one-time payment or monthly pricing model – at 4Scotty you only pay once you have actually hired a candidate.</p>
          <h4 class="orange lt caps font-14 mrg-btm-small" translate>Quality-Assured</h4>
          <p class="mrg-btm font-12" translate>Our close contact to candidates ensures authentic and comprehensive profiles. Manipulation is virtually impossible.</p>
        </div>
      </div>
    </div>
  </div>
</form>
