<form name="formSignupTerms"
  class="component-employer-signup-terms row"
  ng-submit="signupTerms.submit()">

  <div class="col-sm-8">
    <div class="col-sm-12">
      <h3 class="signup-title">Terms and services</h3>

      <div class=" mrg-btm bg-gray-lighter pad-30 form-signup">
        <label>
          <input type="checkbox"
            required
            ng-disabled="loading"
            ng-model="model.agreedTos"
            >
          <span class="mrg-lft-small">I agree</span>
        </label>
        <a ui-sref="signup.tos" class="smbd">terms &amp; services</a>
        

        <div class="form-error" ng-show="formSignupTerms.recruitment.$dirty && formSignupTerms.recruitment.$invalid">
          <span ng-show="formSignupTerms.recruitment.$error.required">
            You must accept terms and services to go on.
          </span>
        </div>
      </div>

      <div class="buttons-wrap mrg-top mrg-btm">
          <button type="submit"
          class="fl-rg bg-green btn-small"
          ng-disabled="loading">
          Apply
          </button>
      </div>

    </div>
  </div>
  <div class="col-sm-4 bg-gray-lighter2">
    <div class="padd-vert">
      <div class="box-title box-title_left mrg-btm gray-darker">
        Help</div>
      <div class="">
        <p>
          There will be a text written in here as it is at the candidate sign up forms.
        </p>
      
      </div>
    </div>
  </div>
</form>
