<div class="component-employer-candidate-profile" ng-show="ready">
  <div class="inner">

    <div class="row no-gutter">
      <div class="col-sm-3 user-pic" style="background-image: url({{ user.picture_url }})"></div>

      <div class="col-sm-6">
        <div class="bg-white pad-normal user-desc">
          <div class="">
            <h2 class="main-title">{{ user.first_name }} {{ user.last_name }}</h2>
            <h3 class="main-subtitle">Target position: <span>{{ targetPosition.role }}</span></h3>
          </div>
          <div>
            <p>{{ user.summary }}</p>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="bg-gray pad-20 offer-box">
          <div class="box-title box-title_right">Offers</div>
          <div ng-show="!offers.length">Empty</div>

          <div ng-repeat="offer in offers">
            <div class="yellow bld">{{ offer.employer.company_name }}</div>
            <div class="mrg-btm">€ {{ offer.annual_salary | dottedInteger }}.00 / year</div>
          </div>
        </div>
        <a ui-sref="create-offer({ id: id })" class="btn btn-block btn_green">Make an offer</a>
      </div>
    </div>

    <div class="row no-gutter">
      <div class="col-sm-3">
        <div class="bg-gray pad-20 mrg-btm info">
          <div class="abs">
            <div> <span class="iconParent"><i class="fa fa-euro"></i></span>{{ targetPosition.minimum_salary | dottedInteger }}</div>
            <div> <span class="iconParent"><i class="fa fa-location-arrow"></i></span> {{ user.location.city }}, {{ user.location.country_iso }}</div>
          </div>
        </div>
      </div>

      <div class="col-sm-9">
        <div class="bg-yellow pad-20 mrg-btm">
          <div class="row">
            <div class="col-sm-2">
              <div class="skills-head">
                <div class="big-title skills-title">SKILLS</div>
                <div class="caption">
                  <div>expert  <hc-stars hc-value="expert" hc-values="starValues"></hc-stars></div>
                  <div>advanced <hc-stars hc-value="advanced" hc-values="starValues"></hc-stars></div>
                  <div>basic <hc-stars hc-value="basic" hc-values="starValues"></hc-stars></div>
                </div>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="skills-wrap ">
                <div class="col-sm-4 white alg-right" ng-repeat="skill in leveledSkills">
                  {{ skill.skill }}
                  <hc-stars ng-model="skill.level" hc-values="starValues"></hc-stars>
                </div>
                <div class="col-sm-12 col-sm-offset-1">
                  <div class="skills-others">
                    <strong>Others:</strong> {{ unleveledSkills }}</div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row no-gutter">
      <div class="col-sm-3">
        <div class="brd pad-20 mrg-btm">
          <div> <span class="iconParent"><i class="fa fa-birthday-cake yellow"></i> </span> Age {{ user.dob | yearsAgo }}</div>
          <div> <span class="iconParent"><i class="fa yellow" ng-class="{
            'fa-check': user.eu_work_visa,
            'fa-times': !user.eu_work_visa,
          }"></i></span> has a work visa</div>
        </div>
      </div>

      <div class="col-sm-9">
        <div class="pad-20">
          <div class="row">
            <div class="col-sm-3">
              CAREER SUMMARY
            </div>
            <div class="col-sm-9">

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row no-gutter">
      <div class="col-sm-3">
        <div class="bg-gray-light pad-20 mrg-btm">
          <div class="box-title box-title_left">Availability</div>
          <p class="gray">{{ user.availability }}</p>
        </div>
        <div class="bg-gray-light pad-20 mrg-btm">
          <div class="box-title box-title_left">Languages</div>
          <div ng-repeat="entry in languages">
            <span class="value gray">{{ entry.language }}: <strong>({{ entry.proficiency }})</strong></span>
          </div>
        </div>
      </div>

      <div class="col-sm-9">
        <div class="accordion-wrap bg-white pad-20 mrg-btm">
        <h2 class="big-title accordion-main-title ">WORK EXPERIENCE</h2>
        <hc-accordion ng-repeat="experience in workExperience">
          <h3 class="accordion-subtitle">{{ experience.role }}</h3>
          <h4 class="accordion-subtitle2">{{ experience.company }}</h4>
          <span class="accordion-date">{{ experience.start }} – {{ experience.end || 'today' }} ({{ experience | displayMonths }})</span>
          <!-- WARN: replaced UI by DIV -->
          <div>{{ experience.summary }}</div>
        </hc-accordion>
      </div>
      <div class="accordion-wrap bg-white pad-20">
        <h2 class="big-title accordion-main-title ">EDUCATION</h2>
        <hc-accordion ng-repeat="entry in education">
          <h3 class="accordion-subtitle">{{ entry.degree }}</h3>
          <h4 class="accordion-subtitle2">{{ entry.institution }}</h4>
          <span class="accordion-date">{{ entry.start }} – {{ entry.end || 'today' }} ({{ entry | displayMonths }})</span>
          <!-- WARN: replaced UI by DIV -->
          <div>{{ entry.course }}</div>
        </hc-accordion>
      </div>
    </div>
  </div>
</div>
