<div class="component-employer-candidate-profile" ng-show="ready">
<div class="inner">

<div class="status-wrap">
  <div class="status">
    <span><translate>Status</translate>: </span>
    <hc-candidate-status candidate="candidate" offers="allOffers"></hc-candidate-status>
  </div>
</div>


<div class="row">
<div class="col-sm-3">
  <div class="row">
    <div class="col-sm-12 bg-gray-light">
      <hc-candidate-pic picture-url="user.picture_url"></hc-candidate-pic>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 border-box mrg-btm">
      <div class="padd-vert">
        <div class="box-title box-title_left mrg-btm gray-darker" translate>Expectation</div>
        <div> <span class="iconParent"><i class="fa fa-euro orange"></i></span>{{ targetPosition.minimum_salary | dottedInteger }}</div>
        <div> <span class="iconParent"><i class="fa fa-location-arrow orange"></i></span>{{ preferredLocations }}</div>
      </div>
    </div>

    <div class="col-sm-12 info bg-gray-light mrg-btm" ng-hide="user.employer_blacklisted">
      <div class="row">
        <div class="contacts">
          <div class="fl-lf">
            <span class="box-title box-title_left" translate>Contact</span>
          </div>
          <div class="fl-rg" ng-show="user.employer_has_accepted_offers">
            <a ng-show="user.github_url" ng-href="{{ user.github_url }}"><i class="fa fa-github"></i></a>
            <a ng-show="user.stackoverflow_url" ng-href="{{ user.stackoverflow_url }}"><i class="fa fa-stack-overflow"></i></a>
            <a ng-show="user.blog_url" ng-href="{{ user.blog_url }}"><i class="fa fa-globe"></i></a>
          </div>
        </div>

        <div class="padd-vert col-sm-12">
          <div ng-show="!user.employer_has_accepted_offers">
            <div class="info bg-gray-light">
              <p class="pad-xl" translate>The contact details will be visible after the candidate accepted your offer.</p>
            </div>
          </div>
          <div ng-show="user.employer_has_accepted_offers">
            <div class="smbd orange mrg-btm-small" ng-show="user.email">
              <a ng-href="mailto:{{ user.email }}">
                <span class="iconParent"><i class="fa fa-envelope orange"></i></span> {{ user.email }}
              </a>
            </div>
            <div ng-show="user.contact_phone">
              <span class="iconParent"><i class="fa fa-mobile orange font-22"></i></span>
              {{ user.contact_phone }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 border-box mrg-btm">
      <div class="padd-vert">
        <div ng-if="user.location.city">
          <span class="iconParent"><i class="fa fa-home orange"></i></span> {{ user.location.city }}, {{ user.location.country_iso }}
        </div>

        <div>
          <span class="iconParent"><i class="fa fa-birthday-cake orange"></i></span>
          <translate>Age</translate> {{ user.dob | yearsAgo }}
        </div>
        <div>
                <span class="iconParent"><i class="fa orange" ng-class="{
                  'fa-check': user.eu_work_visa,
                  'fa-times': !user.eu_work_visa,
                }"></i></span>
          <translate>has a work visa</translate>
        </div>
      </div>
    </div>
    <div class="col-sm-12 bg-gray-light mrg-btm padd-vert">
      <div class="box-title box-title_left mrg-btm" translate>Availability</div>
      <p class="gray">{{ (user.availability || 'Not specified') | translate }}</p>
    </div>
    <div class="col-sm-12 bg-gray-light mrg-btm padd-vert">
      <div class="box-title box-title_left mrg-btm" translate>Languages</div>
      <div ng-repeat="entry in languages">
              <span class="value gray">
                {{ entry.language }}:
                <span class="smbd">{{ entry.proficiency | translate }}</span>
              </span>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-9">
  <div class="row">
    <div class="col-sm-8 bg-white">
      <div class="row">
        <div class="col-sm-12">
          <div class="user-desc">
            <div class="">
              <h2 class="main-title">{{ user.first_name }} {{ user.last_name }}</h2>
            </div>
            <div class="emp-off-desc">
              <h3 class="main-subtitle">
                <translate>Target position</translate>:
                <span>{{ targetPosition.role | translate }}</span>
              </h3>
              <p>{{ user.summary }}</p>
              <a ng-if="user.employer_has_accepted_offers" ng-href="{{ user.cv_upload_url }}" translate>Download CV</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4 bg-white user-desc">
      <div class="bg-gray-light row" ng-hide="!offers.length || status === 'hired'">
        <div class="offer-box col-sm-12">
          <div class="box-title box-title_right text-center pad-rgt-15" translate>Offers</div>
          <div ng-repeat="offer in offers">
            <div class="orange bld">{{ offer.employer.company_name }}</div>
            <div class="mrg-btm-small">
              € {{ offer.annual_salary | dottedInteger }}.00 / <translate>year</translate>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div ng-show="canMakeOffer" class="buttons-wrap mrg">
          <a ui-sref="create-offer({ id: id })" class="fw btn bg-green" translate>Make an offer</a>
        </div>
        <span ng-show="!user.candidate_has_been_hired && offerSent" class="fw btn-fake bg-blue-light" translate>offer made</span>
        <span ng-show="!offerSent && user.employer_blacklisted" class="fw btn-fake bg-blue-light" translate>You were blocked</span>
      </div>
    </div>
    <div class="col-sm-12 mrg-btm">
      <div class="border-box row skills-box">
        <div class="col-sm-4">
          <div class="skills-head">
            <div class="big-title skills-title" translate>SKILLS</div>
            <div class="caption">
              <div>
                <translate>expert</translate>
                <hc-stars hc-value="expert" hc-values="starValues"></hc-stars>
              </div>
              <div>
                <translate>advanced</translate>
                <hc-stars hc-value="advanced" hc-values="starValues"></hc-stars>
              </div>
              <div>
                <translate>basic</translate>
                <hc-stars hc-value="basic" hc-values="starValues"></hc-stars>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="skills-wrap row">
            <div class="col-sm-4" ng-repeat="skill in leveledSkills">
              <div class="skills-item" title="{{ skill.skill }}">
                <span>{{ skill.skill }}</span>
                <hc-stars ng-model="skill.level" hc-values="starValues"></hc-stars>
              </div>
            </div>
            <div class="col-sm-12" ng-if="unleveledSkills">
              <div class="skills-others">
                <span class="smbd"><translate>Others</translate>:</span>
                {{ unleveledSkills }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-white">
    <div class="job-bar">
      <div class="job-bar-item" ng-repeat="entry in timeline"
           ng-style="{ width: entry.percent+'%' }"
           title="{{ entry.role }} - {{ entry.duration | yearMonth:false:lang }}">
        <div class="job-bar-item_up" ng-class="{
                  'bg-gray-light': $even,
                  'bg-blue-light': $odd,
                }">{{ entry.duration | yearMonth:entry.percent:lang }}</div>
        <div class="job-bar-item_down">{{ entry.percent > 5 && entry.role || '' }}</div>
      </div>
    </div>
  </div>

  <div class="row bg-white mrg-btm">
    <div class="col-sm-12">
      <h2 class="big-title accordion-main-title">
        <translate>WORK EXPERIENCE</translate>
        <span class="accordion-title-extra">{{ totalWorkExperience | toMonthsYears:lang }}</span>
      </h2>
      <div class="accordion-wrap">
        <hc-accordion ng-repeat="entry in workExperience" hc-hide-control="!entry.summary && !entry.skills.length">
          <h3 class="accordion-subtitle">{{ entry.role }}</h3>
          <h4 class="accordion-subtitle2">{{ entry.company }}</h4>
                  <span class="accordion-date">
                    {{ entry.start | showMonthYear }} –
                    <span ng-show="entry.end">{{ entry.end | showMonthYear }}</span>
                    <span ng-hide="entry.end" translate>today</span>
                    ({{ entry | momentDiff | toMonthsYears }})
                  </span>
          <div class="accordion-text">{{ entry.summary }}</div>
          <div class="accordion-text" ng-show="entry.skills.length">
            <strong translate>Technologies/Skills:</strong>
            {{ entry.skills.join(', ') }}
          </div>
        </hc-accordion>
      </div>
    </div>
  </div>

  <div class="row bg-white">
    <div class="col-sm-12">
      <h2 class="big-title accordion-main-title">
        <translate>EDUCATION</translate>
        <span class="accordion-title-extra">{{ highestDegree }}</span>
      </h2>
      <div class="accordion-wrap">
        <div class="accordion-container" ng-repeat="entry in education">
          <h3 class="accordion-subtitle">
            {{ entry.degree }}
            <span class="accordion-subtitle-extra">{{ entry.course }}</span>
          </h3>
          <h4 class="accordion-subtitle2">{{ entry.institution }}</h4>
                  <span class="accordion-date">
                    {{ entry.start}} –
                    <span ng-show="entry.end">{{ entry.end }}</span>
                    <span ng-hide="entry.end" translate>today</span>
                    ({{ entry | momentDiff | toMonthsYears }})
                  </span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
