<div class="component-employer-invite-codes row">
  <div class="col-sm-6 col-sm-offset-3">
    <h3>Invite codes</h3>

    <form name="formInviteCode" ng-submit="submit()">
      <div class="form-group required">
        <label>Invite code</label>

        <input type="text"
          class="form-control"
          name="inviteCode"
          require
          ng-model="model.code">
      </div>

      <div class="form-group">
      <label>Description</label>

        <textarea class="form-control"
          name="description"
          ng-model="model.description">
        </textarea>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-disabled="loading">Continue</button>
      </div>
    </form>

    <div class="panel panel-default">
      <table class="table">
        <thead>
          <tr>
            <th>Created</th>
            <th>Code</th>
            <th>Used</th>
            <!--<th>Last usage</th>-->
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="entry in vauchers">
            <td>{{ entry.created | timeAgo }}</td>
            <td>{{ entry.code }}</td>
            <td>{{ entry.candidate_count }}</td>
            <!--<td>{{ entry.last_used | timeAgo }}</td>-->
            <td>{{ entry.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
