<div class="timeline-item clearfix">
  <div class="col-sm-2 no-padd-right">
    <!-- TODO
      Unknown states:
      'news-ico-profile-pending': entry.name === 'FOOBAR'
      'news-ico-profile-live': entry.name === 'FOOBAR'
      'news-ico-offer-start-date': entry.name === 'FOOBAR'
      'news-ico-offer-bookmarked-employer': entry.name === 'FOOBAR'
    -->
    <div class="news-ico {{ icon(entry) }}"></div>
  </div>

  <div class="col-sm-10">
    <div class="date">{{ entry.date | timeAgoIf:'yesterday' }}</div>
    <div class="note" ng-if="entry.name === 'REJECTED'">

      You have turned down this offer
    </div>
    <div class="note" ng-if="entry.name === 'WITHDRAWN'">
      <a ui-sref="employer({ id: entry.employer.id })">{{ entry.employer.company_name }}</a>
      had turned down the offer
    </div>
    <div class="note" ng-if="entry.name === 'OFFER_MADE'">
      Awesome, you received an offer from
      <a ui-sref="employer({ id: entry.employer.id })">{{ entry.employer.company_name }}</a>
    </div>
    <div class="note" ng-if="entry.name === 'ACCEPTED'">
      Brilliant you have accepted an interview with
      <a ui-sref="employer({ id: entry.employer.id })">{{ entry.employer.company_name }}</a>
    </div>
    <div class="note" ng-if="entry.name === 'INTERVIEWING'">
      Great! you have started interviewing with
      <a ui-sref="employer({ id: entry.employer.id })">{{ entry.employer.company_name }}</a>
    </div>
    <div class="note" ng-if="entry.name === 'NEGOCIATING'">
      Nearly there, you have started negotiating the details with
      <a ui-sref="employer({ id: entry.employer.id })">{{ entry.employer.company_name }}</a>
    </div>
    <div class="note" ng-if="entry.name === 'CONTRACT_SIGNED'">
      Winning! you have signed a contract with
      <a ui-sref="employer({ id: entry.employer.id })">{{ entry.employer.company_name }}</a>
      and will receive your golden handshake soon
    </div>
  </div>
</div>