<div class="timeline-item clearfix">
  <div class="col-sm-2 no-padd-right">
    <!-- TODO
      Unknown states:
      'news-ico-profile-pending': entry.name === 'FOOBAR'
      'news-ico-profile-live': entry.name === 'FOOBAR'
      'news-ico-offer-start-date': entry.name === 'FOOBAR'
      'news-ico-offer-bookmarked-employer': entry.name === 'FOOBAR'
    -->
    <div class="news-ico {{ icon(entry) }}"></div>
  </div>

  <div class="col-sm-10">
    <div class="date">{{ entry.date | timeAgoIf:'yesterday' }}</div>
    <div class="note" ng-if="entry.name === 'REJECTED'">
      <a ui-sref="candidate({ id: entry.candidate.id })">
        {{ entry.candidate.first_name }} {{ entry.candidate.last_name }}
      </a>
      had turned down the offer
    </div>
    <div class="note" ng-if="entry.name === 'WITHDRAWN'">
      You have turned down the offer
    </div>
    <div class="note" ng-if="entry.name === 'OFFER_MADE'">
      Awesome, you sent an offer to
      <a ui-sref="candidate({ id: entry.candidate.id })">
        {{ entry.candidate.first_name }} {{ entry.candidate.last_name }}
      </a>
    </div>
    <div class="note" ng-if="entry.name === 'ACCEPTED'">
      Brilliant
      <a ui-sref="candidate({ id: entry.candidate.id })">
        {{ entry.candidate.first_name }} {{ entry.candidate.last_name }}
      </a>
      had accepted an interview with you
    </div>
    <div class="note" ng-if="entry.name === 'INTERVIEWING'">
      Great! you have started interviewing with
      <a ui-sref="candidate({ id: entry.candidate.id })">
        {{ entry.candidate.first_name }} {{ entry.candidate.last_name }}
      </a>
    </div>
    <div class="note" ng-if="entry.name === 'NEGOCIATING'">
      Nearly there, you have started negotiating the details with
      <a ui-sref="candidate({ id: entry.candidate.id })">
        {{ entry.candidate.first_name }} {{ entry.candidate.last_name }}
      </a>
    </div>
    <div class="note" ng-if="entry.name === 'CONTRACT_SIGNED'">
      Winning! you have signed a contract with
      <a ui-sref="candidate({ id: entry.candidate.id })">
        {{ entry.candidate.first_name }} {{ entry.candidate.last_name }}
      </a>
      and will receive your golden handshake soon
    </div>
  </div>
</div>