<div class="timeline-item clearfix">
  <div class="col-sm-2 no-padd-right">
    <!-- TODO
      Unknown states:
      'news-ico-profile-pending': entry.name === 'FOOBAR'
      'news-ico-profile-live': entry.name === 'FOOBAR'
      'news-ico-offer-start-date': entry.name === 'FOOBAR'
      'news-ico-offer-bookmarked-employer': entry.name === 'FOOBAR'
    -->
    <div class="news-ico {{ icon(entry) }}"></div>
  </div>

  <div class="col-sm-10">
    <div class="date">{{ entry.date | timeAgoIf:'yesterday' }}</div>
    <div class="note" ng-if="entry.name === 'REJECTED'" translate>
      You have turned down this offer
    </div>
    <div class="note" ng-if="entry.name === 'WITHDRAWN'">
      <a ui-sref="employer({ id: entry.employer.id })">{{ entry.employer.company_name }}</a>
      <translate>had turned down the offer</translate>
    </div>
    <div class="note" ng-if="entry.name === 'OFFER_MADE'">
      <translate>Awesome, you received an offer from</translate>
      <a ui-sref="employer({ id: entry.employer.id })">{{ entry.employer.company_name }}</a>
    </div>
    <div class="note" ng-if="entry.name === 'ACCEPTED'">
      <translate>Brilliant! You have accepted an interview with</translate>
      <a ui-sref="employer({ id: entry.employer.id })">{{ entry.employer.company_name }}</a>
    </div>
    <div class="note" ng-if="entry.name === 'INTERVIEWING'">
      <translate>Great! you have started interviewing with</translate>
      <a ui-sref="employer({ id: entry.employer.id })">{{ entry.employer.company_name }}</a>
    </div>
    <div class="note" ng-if="entry.name === 'NEGOCIATING'">
      <translate>Nearly there! You have started negotiating the details with</translate>
      <a ui-sref="employer({ id: entry.employer.id })">{{ entry.employer.company_name }}</a>
    </div>
    <div class="note" ng-if="entry.name === 'CONTRACT_SIGNED'">
      <translate>Winning! you have signed a contract with</translate>
      <a ui-sref="employer({ id: entry.employer.id })">{{ entry.employer.company_name }}</a>
      <translate>and will receive your golden handshake soon</translate>
    </div>
  </div>
</div>
