<div class="component-candidate-signup row">
  <div class="status-wrap"></div>
  <div class="signup-container" ng-show="ready">
    <div class="col-sm-3">
      <div class="contact-me row">
        <p>
          <translate>Please don't hesitate to contact me at</translate>
          <a href="mailto:service@4scotty.com">service@4scotty.com</a>
          <translate>or by phone at</translate>
          +49(0)30 2639389-15,
          <translate>if I can assist you or provide guidance for your next step in IT.</translate>
        </p>
        <p>
          <span>Dana Kussatz</span><br/>
          <translate>Candidate Advocate</translate>
        </p>
      </div>
      <ol class="list-unstyled sidenav bg-white row">
        <li ng-class="{
          active: signup.atStep('signup.target'),
          unactive: signup.afterStep('signup.target'),
        }" ng-class="{  }">
          <span class="ico-can-signup ico-can-signup_tar"></span>
          <translate>Target position</translate>
          <i class="fa fa-check green" ng-if="signup.afterStep('signup.target')"></i>
        </li>
        <li ng-class="{
          active: signup.atStep('signup.user'),
          unactive: signup.afterStep('signup.user'),
        }">
          <span class="ico-can-signup ico-can-signup_free"></span>
          <translate>Free Sign up</translate>
          <i class="fa fa-check green" ng-if="signup.afterStep('signup.user')"></i>
        </li>
        <li ng-class="{
          active: signup.atStep('signup.experience'),
          unactive: signup.afterStep('signup.experience'),
        }">
          <a ng-if="signup.afterStep('signup.experience')" ui-sref="signup.experience">
            <span class="ico-can-signup ico-can-signup_work"></span>
            <translate>Work Experience</translate>
            <i class="fa fa-check green"></i>
          </a>
          <span ng-if="!signup.afterStep('signup.experience')">
            <span class="ico-can-signup ico-can-signup_work"></span>
            <translate>Work Experience</translate>
          </span>
        </li>
        <li ng-class="{
          active: signup.atStep('signup.education'),
          unactive: signup.afterStep('signup.education'),
        }">
          <a ng-if="signup.afterStep('signup.education')" ui-sref="signup.education">
            <span class="ico-can-signup ico-can-signup_edu"></span>
            <translate>Education</translate>
            <i class="fa fa-check green"></i>
          </a>
          <span ng-if="!signup.afterStep('signup.education')">
            <span class="ico-can-signup ico-can-signup_edu"></span>
            <translate>Education</translate>
          </span>
        </li>
        <li ng-class="{
          active: signup.atStep('signup.skills'),
          unactive: signup.afterStep('signup.skills'),
        }">
          <a ng-if="signup.afterStep('signup.skills')" ui-sref="signup.skills">
            <span class="ico-can-signup ico-can-signup_skills"></span>
            <translate>Skills</translate>
            <i class="fa fa-check green"></i>
          </a>
          <span ng-if="!signup.afterStep('signup.skills')">
            <span class="ico-can-signup ico-can-signup_skills"></span>
            <translate>Skills</translate>
          </span>
        </li>
        <li ng-class="{
          active: signup.atStep('signup.languages'),
          unactive: signup.afterStep('signup.languages'),
        }">
          <a ng-if="signup.afterStep('signup.languages')" ui-sref="signup.languages">
            <span class="ico-can-signup ico-can-signup_lang"></span>
            <translate>Languages</translate>
            <i class="fa fa-check green"></i>
          </a>
          <span ng-if="!signup.afterStep('signup.languages')">
            <span class="ico-can-signup ico-can-signup_lang"></span>
            <translate>Languages</translate>
          </span>
        </li>
        <li ng-class="{
          active: signup.atStep('signup.profile'),
          unactive: signup.afterStep('signup.profile'),
        }">
          <a ng-if="signup.afterStep('signup.profile')" ui-sref="signup.profile">
            <span class="ico-can-signup ico-can-signup_final"></span>
            <translate>Final step</translate>
            <i class="fa fa-check green"></i>
          </a>
          <span ng-if="!signup.afterStep('signup.profile')">
            <span class="ico-can-signup ico-can-signup_final"></span>
            <translate>Final step</translate>
          </span>
        </li>
        <div class="clearfix"></div>
      </ol>
    </div>
    <ui-view class="col-sm-9"></ui-view>
  </div>
</div>
