@import '../candidate-signup-activate/candidate-signup-activate.less';

.component-candidate-signup {
  .sidenav li {
    margin: 15px 10px;
    &.active {
      font-weight: bold;
    }
  }

  .signup-container {
    margin-top: 50px;
  }

  .close {
    float: none;
  }

  .form-inline input.form-control {
    min-width: 114.9px;
    width: 15%
  }
}
