.component-candidate-signup {
  margin: 0 -@generic-padding;


  @media (max-width: (@screen-sm-min - 1)) {
    .dana-column { display: none }
    .invite-code-box.top { display: none }
    .invite-code-box.bottom { margin-bottom: @generic-padding }
    .form-container {
      margin-top: 0 !important;
      padding-top: @generic-padding;
    }
  }
  @media (min-width: @screen-sm-min) {
    background: url(/candidate/resources/images/background.jpg) no-repeat center -67px;
    .invite-code-box.bottom { display: none }
    .invite-code-box.top {
      margin-right: -@generic-padding;
      margin-top: 450px;
    }
  }


  header {
    text-align: center;
  }

  .signup-title {
    color: #e05600;
    text-transform: uppercase;
  }

  .dana-column {
    background: url(/candidate/resources/images/Dana_Big.png) center -10px no-repeat;
  }

  .contact-me {
    margin-top: 315px;
    text-align: center;
  }
  .dana-sign { .smbd() }

  .buttons-wrap button {
    margin: @generic-padding 0 (@generic-padding * 2);
  }

  .invite-code-box {
    border: 1px solid white;
    .content { padding-top: 0 }
    & > div {
      padding: @generic-padding;
    }
  }

  .form-container {
    background: white;
    margin: 85px 0 (@generic-padding * 2);
    font-size: 0.9em;
  }

  form {
    .bg-gray-lighter();
    margin-top: @generic-padding * 2;
    padding: @generic-padding;


    .field { .make-sm-column(9) }
    .checkbox { margin-left: 20px }

    .label {
      .make-sm-column(3);
      text-align: left;
      vertical-align: center;
      margin-bottom: 0;
      padding-top: 11px;
    }

    label {
      .smbd();
      color: #197185
    }

    .validation-errors {
      .make-sm-column-offset(3);
      .make-sm-column(9);
    }

    .form-group {
      .clearfix();
      margin: @generic-padding 0;
    }
  }
}

.signup ui-view.container {
  width: auto !important;
}


// TODO: merge .signup-form-mixin() into employer signup
