
<div class="component-candidate-signup-target row">
  <div class="col-sm-8">
    <div class="col-sm-12 mrg-btm">
      <h3 class="signup-title">Target position</h3>
      <hc-target-position-form on-submit="onSubmit($model)">
      <div class="buttons-wrap mrg-top">
        <button type="submit" class="fl-rg bg-green btn-small" ng-disabled="loading">Continue</button>
      </div>
      </hc-target-position-form>
    </div>
  </div>

  <div class="col-sm-4 bg-gray-lighter2">
    <div class="padd-vert">
      <div class="box-title box-title_left mrg-btm gray-darker">
        Help</div>
      <div class="">
        <p>
          We make sure you only get job offers you really want. Tell us what tech you want to work with and the minimum you expect to be paid. Then we send you confirmed interview offers for your target position.
        </p>
      
      </div>
    </div>
  </div>
</div>
