<div class="component-candidate-signup-target row">
  <div class="col-sm-8">
    <h3>Target position</h3>

    <hc-target-position-form on-submit="onSubmit($model)">
        <button type="submit" class="btn btn-primary" ng-disabled="loading">Continue</button>
    </hc-target-position-form>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default helpbox">
      <div class="panel-heading">
        <h3 class="panel-title">Help</h3>
      </div>
      <div class="panel-body">
        We make sure you only get job offers you really want.
        Tell us what tech you want to work with. 
        Then we send you confirmed interview offers for your target position.
      </div>
    </div>
  </div>
</div>
