<div class="panel panel-default" ng-show="model.length || hcShowEmpty">
  <div ng-if="hcTitle" class="panel-heading">
    <h3 class="panel-title">{{ hcTitle }}</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="entry in model">
      <dl class="dl-horizontal">
        <dt>institution</dt>
        <dd>{{ entry.institution }}</dd>
        <dt>course</dt>
        <dd>{{ entry.course }}</dd>
        <dt>start</dt>
        <dd>{{ entry.start }}</dd>
        <dt ng-show="entry.end">end</dt>
        <dd ng-show="entry.end">{{ entry.end }}</dd>
        <dt ng-show="entry.degree">degree</dt>
        <dd ng-show="entry.degree">{{ entry.degree }}</dd>
        <dd ng-if="hcEditable">
          <button type="button" class="btn btn-default" ng-click="edit(entry)">Edit</button>
          <button type="button" class="btn btn-default" ng-click="remove(entry)">Remove</button>
        <dd>
      </dl>
    </li>
  </ul>
</div>
