<div class="panel panel-default">
  <div ng-if="hcTitle" class="panel-heading">
    <h3 class="panel-title">
      {{ hcTitle }}
    </h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="entry in model">
      <div ng-hide="active === $index">
        {{ entry.institution }} -
        {{ entry.course }} -
        {{ entry.start }}
        <span ng-if="entry.end">- {{ entry.end }}</span>
        <span ng-if="!entry.end">Current</span>
        <button type="button"
          ng-if="hcEditable"
          ng-show="!editing"
          ng-click="hcEducationCtrl.setActive($index)">
          Expand
        </button>
          <label ng-show="entry.imported">
            <input type="checkbox" ng-model="entry.import">
            Import
          </label>
      </div>

      <hc-education-form
        ng-if="active === $index"
        ng-model="entry"
        hc-required="true"
        hc-disabled="loading"
        on-submit="edit($model, $form, $index)">

        <div class="col-sm-12">
          <button type="button"
            class="btn btn-default"
            ng-disabled="loading"
            ng-click="hcEducationCtrl.setActive(-1)">
            Cancel
          </button>
          <button type="submit"
            class="btn btn-primary"
            ng-disabled="loading">
            Done
          </button>
        </div>
      </hc-education-form>
    </li>

    <li class="list-group-item" ng-if="hcEditable" ng-show="!editing && !adding && !hcAutomaticAdd">
      <button type="button"
        class="btn btn-primary"
        ng-disabled="loading"
        ng-click="hcEducationCtrl.add()">
        Add More
      </button>
    </li>

    <li class="list-group-item" ng-if="adding || (!editing && hcAutomaticAdd)">
      <hc-education-form
        hc-scope="formContainer"
        name="form"
        hc-required="model.length === 0 || !form.isPristine()"
        hc-disabled="loading"
        on-submit="submit($model, $form, model.length)">

        <div class="col-sm-12">
          <button type="submit"
            class="btn btn-primary"
            ng-disabled="loading">
            Save
          </button>
        </div>
      </hc-education-form>
    </li>
  </ul>
</div>
