<div>
  <div ng-if="hcTitle" class="panel-heading">
    <h3>
      {{ hcTitle }}
    </h3>
  </div>
  <ul>
    <li class="bg-gray-lighter pad-30" ng-show="model.length">
      <div class="row">
        <div class="col-sm-4 caps blue-link smbd lt">Institution</div>
        <div class="col-sm-4 caps blue-link smbd lt">Duration</div>
        <div class="col-sm-2 alg-cen">
          <span class="lt smbd gray-darker caps">Edit</span>
        </div>

        <div class="col-sm-2 alg-cen">
          <!--button type="button"
            class="btn btn-primary pull-right"
            ng-disabled="loading"
            ng-click="hcEducationCtrl.setAdding(true)">
            Add More
          </button-->
          <span class="lt smbd gray-darker caps">Add</span>
        </div>

        <div class="col-sm-12" ng-repeat="entry in model">
          <div class="row mrg-top" ng-hide="active === $index">
            <div class="col-sm-4 no-padd-right">
              <div class="data-box">{{ entry.institution }}</div>
            </div>
            <div class="col-sm-4">
              <div class="data-box">{{ entry.start }} - {{ entry.end || 'current' }}</div>
            </div>
            <div class="col-sm-2 alg-cen pad-top-5">
              <i class="fa fa-pencil blue-link"
              ng-show="hcEditable"
              ng-click="hcEducationCtrl.setActive($index)"></i>
            </div>
            <div class="col-sm-2  alg-cen pad-top-5" >
              <input type="checkbox" ng-model="entry.import" ng-change="importChange()">
            </div>
          </div>
          <hc-education-form
            ng-if="active === $index"
            ng-model="entry"
            hc-required="true"
            hc-disabled="loading"
            on-submit="edit($model, $form, $index)">

            <div class="">
              <button type="submit"
                class="bg-green btn-small fl-rg mrg-lft"
                ng-disabled="loading">
                Done
              </button>
              <button type="button"
                class="bg-gray-light btn-small fl-rg"
                ng-disabled="loading"
                ng-click="hcEducationCtrl.setActive(-1)">
                Cancel
              </button>
            </div>
          </hc-education-form>
        </div>



        <div class="col-sm-12" ng-if="hcEditable" ng-show="!editing && !adding && !hcAutomaticAdd">
          <button type="button"
            class="add-btn no-fl"
            ng-disabled="loading"
            ng-click="hcEducationCtrl.setAdding(true)">
             <i class="fa fa-plus"></i> Add
          </button>
           <div class="clearfix"></div>
        </div>

      </div>
    </li>


    <li class="bg-gray-lighter brd-top pad-30 no-padd-top no-padd-btm" ng-if="adding || (!editing && hcAutomaticAdd)">
      <hc-education-form
        hc-scope="formContainer"
        name="form"
        hc-required="model.length === 0 || !form.isPristine()"
        hc-disabled="loading"
        on-submit="submit($model, $form, model.length)">

       <div class="">
          <div class="buttons-wrap">
             <button type="submit"
              class="bg-green btn-small fl-rg mrg-lft"
              ng-disabled="loading">
              Save
            </button>
            <button type="button"
              ng-show="adding && model.length"
              class="bg-gray-light btn-small fl-rg"
              ng-disabled="loading"
              ng-click="hcEducationCtrl.setAdding(false)">
              Cancel
            </button>
          </div>
        </div>
      </hc-education-form>
    </li>
  </ul>
</div>
