@import "./avatar-partial.less";

hc-candidate-avatar-edit,
[hc-candidate-avatar-edit] {
  .picture-edit();
  display: block;

  form {
    .bg-gray-lighter3();
    padding: @generic-padding;
    display: none;
  }
}
