hc-candidate-avatar-edit,
[hc-candidate-avatar-edit] {
  display: block;

  .edit-button {
    position: absolute;
    display: block;
    outline: none;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

    i {
      color: @white;
      font-size: 70px;
      opacity:  0.7;
    }
  }

  form {
    padding: @generic-padding;
    display: none;
  }

  .avatar-preview {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: @generic-padding-small 0;
    height: 110px;
    width: 110px;
  }

  .upload-text {
    font-size: 10px;
    margin-top: 0;
    padding-top: 10px;
  }
}
