@import "./avatar-partial.less";

hc-candidate-avatar-edit,
[hc-candidate-avatar-edit] {
  display: block;

  .edit-button {
    .picture-edit();
  }

  form {
    .bg-gray-lighter3();
    padding: @generic-padding;
    display: none;
  }
}
