<div class="component-candidate-offer-list">
  <div class="inner">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="main-title-blue">Offers</h2>
      </div>
      <div class="col-sm-12">
        <div class="bg-white">
          <div class="row">

            <div class="col-sm-12">

                <div class="pad-30" ng-show="!offers.length">No offers</div>
                <ul class="offer-list">
                  <li class="offer-list-item" ng-repeat="offer in offers">
                    <div class="prio bg-red"></div>
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="col-sm-12">
                          <div class="caps mrg-btm">Offer No. xxxxxx/x</div>
                          <div class="offer-pic" style="background-image: url({{ user.picture_url }})"></div>
                        </div>
                      </div>
                      <div class="col-sm-9 pad-0">
                        <div class="offer-date">created: October 19th, 2014</div>
                        <div class="row no-gutter">
                          <div class="col-sm-3">
                            <div class="rel">
                              <button class="btn-offer bg-green exp">Accept</button>
                              <div class="start-wrap">
                                <div class="blue-light bld caps">Start date*</div>
                                <input type="date" id="exampleInput" name="input" ng-model="value" placeholder="yyyy-MM-dd" min="2013-01-01" max="2013-12-31" required />
                                <span class="error" ng-show="myForm.input.$error.required">
                                     Required!</span>
                                <span class="error" ng-show="myForm.input.$error.date">
                                     Not a valid date!</span>
                                <div class="blue-light bld caps">Start salary</div>
                                <div class="salary">
                                  <div class="ico-salary">€</div>
                                  <input type="text"></input>
                                </div>
                                <div class="red bld">Please insert your start salary.</div>
                                <button class="bg-green btn-small ">Submit</button>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="rel">
                              <button class="btn-offer bg-red exp">Reject</button>
                              <div class="reject-wrap hide">
                                <div>
                                  <label><input type="checkbox" name="reject">
                                  Role not fitting to my interest</label>
                                </div>
                                <div>
                                  <label><input type="checkbox" name="reject">
                                  Technologies not attractive</label>
                                </div>
                                <div>
                                  <label><input type="checkbox" name="reject">
                                  Locations does not fit</label>
                                </div>
                                <div>
                                  <label><input type="checkbox" name="reject">
                                  Company profile not convincing</label>
                                </div>
                                <div>
                                  <label><input type="checkbox" name="reject">
                                  Salary offer not high enough</label>
                                </div>
                                <div>
                                  <label><input type="checkbox" name="reject">
                                  Benefits insufficients</label>
                                </div>
                                <div>
                                  <label><input type="checkbox" name="reject">
                                  Other</label>
                                </div>
                                <div>
                                  <button type="button">
                                    <div class="brd-circle">
                                      <i class="fa fa-close"></i>
                                    </div>
                                    Block employer
                                  </button>
                                </div>
                                <button class="bg-green btn-small ">Submit</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-9 pad-0 padd-vert">
                        <div class="row no-gutter font-12">
                          <div class="col-sm-4">
                            <div class="col-sm-4 mrg-btm-small">
                              <span class="lbl">Status</span>
                            </div>
                            <div class="col-sm-6  mrg-btm-small"><span class="iconParent"><i class="fa fa-toggle-on blue-light "></i></span>active</div>
                            <div class="col-sm-4  mrg-btm-small">
                              <span class="lbl">Contact</span>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">mail@jimparson.com</div>
                            <div class="col-sm-4 mrg-btm-small">
                              <span class="lbl">Employer</span>
                            </div>
                            <div class="col-sm-6  mrg-btm-small"><a href="#" class="blue-light bld und">Hack&Craft</a></div>
                          </div>
                          <div class="col-sm-2">
                            <div class="mrg-btm-small"> <span class="iconParent"><i class="fa fa-euro"></i></span>60,000 / year</div>
                            <div class="mrg-btm-small"> <span class="iconParent"><i class="fa fa-location-arrow"></i></span>Berlin, DE</div>
                          </div>
                          <div class="col-sm-3">
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="link-wrap">
                              <a href="#">View OFFER Details <i class="fa fa-angle-right yellow "></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="offer-list-item" ng-repeat="offer in offers">
                    <div class="prio bg-yellow"></div>
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="col-sm-12">
                          <div class="caps mrg-btm">Offer No. xxxxxx/x</div>
                          <div class="offer-pic" style="background-image: url({{ user.picture_url }})"></div>
                        </div>
                      </div>
                      <div class="col-sm-9 pad-0">
                        <div class="offer-date">created: October 19th, 2014</div>
                        <div class="row no-gutter">
                          <div class="col-sm-3">
                            <div class="btn-offer bg-green inactive">Sign contract</div>
                          </div>
                          <div class="col-sm-3">
                            <button class="btn-offer bg-red exp">Reject</button>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-9 pad-0 padd-vert">
                        <div class="row no-gutter font-12">
                          <div class="col-sm-4">
                            <div class="col-sm-4 mrg-btm-small">
                              <span class="lbl">Status</span>
                            </div>
                            <div class="col-sm-6  mrg-btm-small"><span class="iconParent"><i class="fa fa-toggle-on blue-light "></i></span>accepted</div>
                            <div class="col-sm-4  mrg-btm-small">
                              <span class="lbl">Contact</span>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">mail@jimparson.com</div>
                            <div class="col-sm-4 mrg-btm-small">
                              <span class="lbl">Employer</span>
                            </div>
                            <div class="col-sm-6  mrg-btm-small"><a href="#" class="blue-light bld und">Greta <span class="bookmark bookmark_small bookmark_active"></span></a></div>
                          </div>
                          <div class="col-sm-2">
                            <div class="mrg-btm-small"> <span class="iconParent"><i class="fa fa-euro"></i></span>60,000</div>
                            <div class="mrg-btm-small"> <span class="iconParent"><i class="fa fa-location-arrow"></i></span>Berlin, DE</div>
                          </div>
                          <div class="col-sm-3">
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="link-wrap">
                              <a href="#">View OFFER Details <i class="fa fa-angle-right yellow "></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="offer-list-item" ng-repeat="offer in offers">
                    <div class="prio bg-yellow"></div>
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="col-sm-12">
                          <div class="caps  mrg-btm">Offer No. xxxxxx/x</div>
                          <div class="offer-pic" style="background-image: url({{ user.picture_url }})"></div>
                        </div>
                      </div>
                      <div class="col-sm-9 pad-0">
                        <div class="offer-date">created: October 19th, 2014</div>
                        <div class="row no-gutter">
                          <div class="col-sm-3">
                            <button class="btn-offer bg-green exp">Sign contract</button>
                          </div>
                          <div class="col-sm-3">
                            <button class="btn-offer bg-red exp">Reject</button>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-9 pad-0 padd-vert">
                        <div class="row no-gutter font-12">
                          <div class="col-sm-4">
                            <div class="col-sm-4 mrg-btm-small">
                              <span class="lbl">Status</span>
                            </div>
                            <div class="col-sm-6  mrg-btm-small"><span class="iconParent"><i class="fa fa-exchange blue-light "></i></span>contract signed</div>
                            <div class="col-sm-4  mrg-btm-small">
                              <span class="lbl">Contact</span>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">mail@jimparson.com</div>
                            <div class="col-sm-4 mrg-btm-small">
                              <span class="lbl">Employer</span>
                            </div>
                            <div class="col-sm-6  mrg-btm-small"><a href="#" class="blue-light bld und">Hack&Craft</a></div>
                          </div>
                          <div class="col-sm-2">
                            <div class="mrg-btm-small"> <span class="iconParent"><i class="fa fa-euro"></i></span>60,000</div>
                            <div class="mrg-btm-small"> <span class="iconParent"><i class="fa fa-location-arrow"></i></span>Berlin, DE</div>
                          </div>
                          <div class="col-sm-3">
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="link-wrap">
                              <a href="#">View OFFER Details <i class="fa fa-angle-right yellow "></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="offer-list-item" ng-repeat="offer in offers">
                    <div class="prio bg-gray-light"></div>
                    <div class="row inactive">
                      <div class="col-sm-3">
                        <div class="col-sm-12">
                          <div class="offer-pic" style="background-image: url({{ user.picture_url }})"></div>
                        </div>
                      </div>
                      <div class="col-sm-9 pad-0">
                        <div class="row">
                          <div class="caps col-sm-3">Offer No. xxxxxx/x</div>
                          <div class="offer-date  col-sm-3">created: October 19th, 2014</div>
                          <div class="offer-date  col-sm-5">you put the offer down on October 7th.2014</div>
                        </div>
                      </div>
                      <div class="col-sm-9 pad-0 ">
                        <div class="row no-gutter font-12">
                          <div class="col-sm-4">
                            <div class="col-sm-4 mrg-btm-small">
                              <span class="lbl">Status</span>
                            </div>
                            <div class="col-sm-6  mrg-btm-small"><span class="iconParent"><i class="fa fa-toggle-off red "></i></span>rejected</div>
                            <div class="col-sm-4  mrg-btm-small">
                              <span class="lbl">Reason</span>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">company profile not convincing</div>
                            <div class="col-sm-4 mrg-btm-small">
                              <span class="lbl">Employer</span>
                            </div>
                            <div class="col-sm-6  mrg-btm-small"><a href="#" class="blue-light bld und">Hack&Craft</a>&nbsp;&nbsp;<i class="fa fa-shield red "></i></div>
                          </div>
                          <div class="col-sm-2">
                            <div class="mrg-btm-small"> <span class="iconParent"><i class="fa fa-euro"></i></span>60,000</div>
                            <div class="mrg-btm-small"> <span class="iconParent"><i class="fa fa-location-arrow"></i></span>Berlin, DE</div>
                          </div>
                          <div class="col-sm-3">
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="offer-list-item" ng-repeat="offer in offers">
                    <div class="prio bg-yellow"></div>
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="col-sm-12">
                          <div class="caps  mrg-btm">Offer No. xxxxxx/x</div>
                          <div class="offer-pic" style="background-image: url({{ user.picture_url }})"></div>
                        </div>
                      </div>
                      <div class="col-sm-9 pad-0">
                        <div class="offer-date">created: October 19th, 2014</div>
                        <div class="row no-gutter">
                          <div class="col-sm-3">
                            <div class="btn-offer bg-green inactive">Sign contract</div>
                          </div>
                          <div class="col-sm-3">
                            <button class="btn-offer bg-red exp">Reject</button>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-9 pad-0 padd-vert">
                        <div class="row no-gutter font-12">
                          <div class="col-sm-4">
                            <div class="col-sm-4 mrg-btm-small">
                              <span class="lbl">Status</span>
                            </div>
                            <div class="col-sm-6  mrg-btm-small"><span class="iconParent"><i class="fa fa-comments blue-light "></i></span>interviewing</div>
                            <div class="col-sm-4  mrg-btm-small">
                              <span class="lbl">Contact</span>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">mail@jimparson.com</div>
                            <div class="col-sm-4 mrg-btm-small">
                              <span class="lbl">Employer</span>
                            </div>
                            <div class="col-sm-6  mrg-btm-small"><a href="#" class="blue-light bld und">Hack&Craft</a></div>
                          </div>
                          <div class="col-sm-2">
                            <div class="mrg-btm-small"> <span class="iconParent"><i class="fa fa-euro"></i></span>60,000</div>
                            <div class="mrg-btm-small"> <span class="iconParent"><i class="fa fa-location-arrow"></i></span>Berlin, DE</div>
                          </div>
                          <div class="col-sm-3">
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="link-wrap">
                              <a href="#">View OFFER Details <i class="fa fa-angle-right yellow "></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="offer-list-item" ng-repeat="offer in offers">
                    <div class="prio bg-yellow"></div>
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="col-sm-12">
                          <div class="caps  mrg-btm">Offer No. xxxxxx/x</div>
                          <div class="offer-pic" style="background-image: url({{ user.picture_url }})"></div>
                        </div>
                      </div>
                      <div class="col-sm-9 pad-0">
                        <div class="offer-date">created: October 19th, 2014</div>
                        <div class="row no-gutter">
                          <div class="col-sm-3">
                            <div class="btn-offer bg-green inactive">Sign contract</div>
                          </div>
                          <div class="col-sm-3">
                            <button class="btn-offer bg-red exp">Reject</button>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-9 pad-0 padd-vert">
                        <div class="row no-gutter font-12">
                          <div class="col-sm-4">
                            <div class="col-sm-4 mrg-btm-small">
                              <span class="lbl">Status</span>
                            </div>
                            <div class="col-sm-6  mrg-btm-small"><span class="iconParent"><i class="fa fa-exchange blue-light "></i></span>negociating</div>
                            <div class="col-sm-4  mrg-btm-small">
                              <span class="lbl">Contact</span>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">mail@jimparson.com</div>
                            <div class="col-sm-4 mrg-btm-small">
                              <span class="lbl">Employer</span>
                            </div>
                            <div class="col-sm-6  mrg-btm-small"><a href="#" class="blue-light bld und">Hack&Craft</a></div>
                          </div>
                          <div class="col-sm-2">
                            <div class="mrg-btm-small"> <span class="iconParent"><i class="fa fa-euro"></i></span>60,000</div>
                            <div class="mrg-btm-small"> <span class="iconParent"><i class="fa fa-location-arrow"></i></span>Berlin, DE</div>
                          </div>
                          <div class="col-sm-3">
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                            <div class="col-sm-6 mrg-btm-small">
                              <span class="iconParent mrg-lft-small"><i class="fa fa-asterisk yellow"></i></span><strong>Ruby</strong>
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="link-wrap">
                              <a href="#">View OFFER Details <i class="fa fa-angle-right yellow "></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                
      
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
