{
    "apiEndpoint": "http://{{ API_ROUTE }}",
    "widgetRoute": "http://{{ WIDGET_ROUTE }}",
    "storylinesRoute": "http://{{ STORYLINES_ROUTE }}",

    "adminApikey": "{{ ADMIN_KEY }}",
    "gettyApikey": "yunuzn5pvx8u8kjbpgtjebe7",
    "gettyEndpoint": "https://connect.gettyimages.com/v3",

    "cmsDomain": "{{ CMS_DOMAIN }}",
    "cmsEndpoint": "http://{{ CMS_DOMAIN }}/storyline",
    "clickProxy": "http://{{ WIDGET_ROUTE }}/fwd",
    "gaCode": "{{ GA_CODE }}"
}