<div class="component-admin-dashboard row">
  <div class="col-sm-8 col-sm-offset-2">
    <ul>
      <li><a ui-sref="invite-employer">Invite employer</a></li>
      <li><a ui-sref="approve-employers">Approve employers</a></li>
      <li><a ui-sref="search-employers">Search employers</a></li>
      <li><a ui-sref="search-candidates">Search candidates</a></li>
    </ul>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Offers</h3>
      </div>
      <div class="panel-body" ng-show="!offers.length">No offers</div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="offer in offers">
          <hc-offer ng-model="offer"
            hc-hide="{{ {
              rejectReason: true,
              employerLogo: true,
              candidatePicture: true,
              location: true,
              salary: true,
              technologies: true,
              benefits: true,
              message: true,
              hiringProcess: true,
            } }}"
            hc-actions
            hc-next-status
            hc-hire-button
            hc-reject-button
            hc-link>
          </hc-offer>
        </li>
      </ul>
    </div>
  </div>
</div>
