<div class="component-admin-dashboard row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Offers</h1>
      </div>
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-4">
              <select class="form-control"
                ng-model="query.status"
                ng-change="filter()"
                ng-options="status as text for (status, text) in statuses">
                <option value="">Status...</option>
              </select>
            </div>
            <div class="col-sm-8">
              <input type="text"
                class="form-control"
                placeholder="Company..."
                ng-model="query.company"
                ng-change="filter()">
            </div>
          </div>
        </form>
      </div>
      <div class="panel-body" ng-show="!offers.length">No offers</div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="offer in offers">
          {{ offer.data.employer.company_name }} -
          {{ offer.data.candidate.first_name }} {{ offer.data.candidate.last_name }} -
          {{ offer.data.annual_salary | dottedInteger }} €/year -
          {{ offer.data.location.city }}, {{ offer.data.location.country_iso }} -
          <span class="label label-default" ng-class="{
            'label-success': offer.status === 'ACCEPTED' || offer.status === 'CONTRACT_SIGNED',
            'label-danger': offer.status === 'REJECTED',
          }">{{ offer.statusText }}</span>
          <a ui-sref="offer({ id: offer.id })">View details</a>
        </li>
        <li class="list-group-item" ng-show="total > offers.length">
          <button type="button" class="btn btn-default" ng-click="loadMore()">Load more</button>
        </li>
      </ul>
    </div>
  </div>
</div>
