  <form name="formEducation1"
    class="component-candidate-signup-education1 container col-sm-6 col-sm-offset-3">

    <h3>Sign up - Education</h3>

    <div class="form-group">
      <label class="required">Institution</label>
      <input type="text"
        class="form-control"
        name="institution"
        required
        ng-model="signup.education.institution"
        typeahead="institution for institution in signupEducation1.searchInstitutions($viewValue)">
    </div>

    <div class="form-error" ng-show="formEducation1.institution.$dirty && formEducation1.institution.$invalid">
      <span ng-show="formEducation1.institution.$error.required">
        Please insert the institution name.
      </span>
    </div>

    <div class="form-group">
      <label class="required">Degree</label>
      <input type="text"
        class="form-control"
        name="degree"
        required
        ng-model="signup.education.degree"
        typeahead="degree for degree in degrees | filter:$viewValue | limitTo:10">
    </div>

    <div class="form-error" ng-show="formEducation1.degree.$dirty && formEducation1.degree.$invalid">
      <span ng-show="formEducation1.degree.$error.required">
        Please insert the degree.
      </span>
    </div>

    <div class="form-group">
      <a type="submit" class="btn btn-primary" ui-sref="signup.education2">
        Continue
      </a>
    </div>
  </form>
