<div class="component-candidate-thanks">
  <div class="banner">
    <div class="banner-inner">
      <h1 translate>Welcome a board</h1>
      <h2 hc-scope="{ email: session.user._data.email }">
        <div translate>Thank you for registering with 4scotty</div>
        <div translate>Please check your email inbox <a ng-href="{{email}}">{{email}}</a>
        for the 4Scotty welcome email and click the confirmation link in it to confirm your email address.</div>
      </h2>
    </div>
  </div>

  <a class="button" ui-sref="profile">Continue to your profile</a>

  <div class="companies">
    <h3 translate>Top companies using 4scotty</h3>
    <ul>
      <li class="rebuy"></li>
      <li class="mister-spex"></li>
      <li class="euromicron"></li>
      <li class="scarosso"></li>
      <li class="x-o"></li>
      <li class="welsparen"></li>
      <li class="nolte-lauth"></li>
    </ul>
  </div>
</div>
