<div class="component-candidate-thanks">
  <div class="banner">
    <div class="banner-inner">
      <h1 translate>Welcome a board</h1>
      <h2 translate>Thank you for registering with 4scotty</h2>
    </div>
  </div>

  <p hc-scope="{ email: 'm.schleuthner@4scotty.com' }">
    <span class="message" translate>
      Bitte schauen Sie in Ihrem Postfach für <a ng-href="{{email}}">{{email}}</a>
      natch und klicken Sie den Aktivirungslink um Ihre Registrierug zu bestätigen.
    </span>
  </p>

  <a class="button" ui-sref="profile">Continue to your profile</a>
</div>
