<script>
  (function() {
    'use strict';

    window.app = {
      api_url: '{{ api_url }}',
      POST: POST,
      GET: GET,
      display: display
    };
    function GET(url, callback) {
      var xhr = new XMLHttpRequest();
      xhr.open('GET', url);
      xhr.withCredentials = true;
      xhr.send(null);
      xhr.addEventListener('readystatechange', function() {
        if (xhr.readyState !== 4) return null;
        callback(JSON.parse(xhr.responseText));
      });
    }
    function POST(url, data, callback) {
      var xhr = new XMLHttpRequest();
      xhr.open('POST', url);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.withCredentials = true;
      xhr.send(JSON.stringify(data));
      xhr.addEventListener('readystatechange', function() {
        if (xhr.readyState === 4)
          callback(xhr);
      });
    }
    function display($error) {
      show($error);
      setTimeout(hide.bind(null, $error), 5000);
    }
    function show(element) {
      element.style.display = 'block';
    }
    function hide(element) {
      element.style.display = 'none';
    }
  })();

  (function() {
    'use strict';

    app.inviteFriend = function(formId, lang) {
      var url = app.api_url + 'v1/refer';
      var $form = document.getElementById(formId);

      $form.addEventListener('submit', function(event) {
        event.preventDefault();

        var fields = [].slice.call($form.querySelectorAll('input,textarea'));
        var data = fields.reduce(function(data, item) {
          data[item.name] = item.value;
          return data;
        }, { lang: lang });

        app.POST(url, data, success);
      });

      function success(xhr) {
        var resp = JSON.parse(xhr.responseText);
        app.display(document.getElementById('message-' + resp.message));

        if (resp.success){
          var fields = [].slice.call($form.querySelectorAll('input.form-emptiable'));
          fields.forEach(function(item) { item.value = '' });
          fields[0].focus();
        }

        $('.alert-container').affix({ offset: { top: 100 }});
      }
    };
  })();
</script>
