<div class="component-employer-dashboard row">
  <div class="col-sm-6 col-sm-offset-3">
    <h3>Search candidates</h3>

    <hc-label-typeahead
      placeholder="Skills"
      ng-model="terms"
      hc-source="searchCandidates.searchSkills($viewValue)"
      on-change="searchCandidates.onTermsChange($value)">
    </hc-label-typeahead>

    <div class="panel panel-default" ng-repeat="candidate in candidates">
      <div class="panel-heading">
        <h3 class="panel-title">{{ candiate.first_name }} {{ candidate.last_name }}</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <dl class="dl-horizontal"
            hc-candidate="candidate"
            hc-hide="{{ {
              name: true,
              years: true,
            } }}">
          </dl>
        </li>
      </ul>
    </div>

  </div>
</div>
