<div class="component-employer-dashboard row" ng-if="ready">
  <div class="col-sm-6 col-sm-offset-3">
    <h3>Search candidates</h3>

    <form name="search">
      <hc-label-typeahead
        placeholder="Skills"
        ng-model="terms"
        hc-source="searchCandidates.searchSkills($viewValue)"
        on-change="searchCandidates.search()">
      </hc-label-typeahead>

      <input type="text"
        class="form-control"
        placeholder="Location"
        ng-disabled="!terms.length"
        ng-model="locationText"
        ng-blur="searchCandidates.setLocation(locationText)"
        typeahead-on-select="searchCandidates.setLocation(locationText)"
        typeahead="location for location in searchCandidates.searchLocations($viewValue)">
    </form>

    <div class="spinner" ng-show="loading"></div>

    <div ng-show="terms.length && !loading && !candidates.length">No candidate found</div>

    <hc-candidate
      ng-repeat="candidate in candidates"
      ng-model="candidate"
      hc-hide="{{ { years: true } }}"
      hc-link-profile>
    </hc-candidate>

  </div>
</div>
