<form name="formSignupBenefits"
  class="component-employer-signup-benefits"
  ng-submit="signupBenefits.submit()">
  <toaster-container></toaster-container>

  <h3>Sign up - Benefits</h3>

  <div class="form-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Benefits</h3>
      </div>

      <ul class="list-group">
        <li class="list-group-item" ng-repeat="benefit in benefits">
          <label>
            <input type="checkbox"
              ng-disabled="loading"
              ng-model="benefit.selected">
            {{ benefit.value }}
          </label>
        </li>
      </ul>
    </div>
  </div>

  <div class="form-group required">
    <label>Recruitment process</label>
    <textarea
      class="form-control"
      placeholder="Recruitment process",
      name="recruitment"
      required
      ng-disabled="loading"
      ng-model="model.recruitment_process">
    </textarea>

    <div class="form-error" ng-show="formSignupBenefits.recruitment.$dirty && formSignupBenefits.recruitment.$invalid">
      <span ng-show="formSignupBenefits.recruitment.$error.required">
        Please, provide a description of your recruitment process.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label>Training policy</label>
    <textarea
      class="form-control"
      placeholder="Training policy",
      name="training"
      ng-disabled="loading"
      ng-model="model.training_policy">
    </textarea>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary" ng-disabled="loading">Continue</button>
  </div>
</form>
