<div>
  <div class="col-sm-2 no-padd-right rel">
    <div class="news-ico {{ icon(entry) }}"></div>
  </div>
  <div class="col-sm-10">
    <div class="date">{{ entry.date | timeAgoIf:'yesterday' }}</div>
    <div class="note" ng-if="entry.name === 'SIGN_UP'" translate>
      Congrats you joined Scotty.
    </div>
    <div class="note" ng-if="entry.name === 'PROFILE_PENDING'" translate>
      Your profile is done, just waiting for you to click the activation link in your inbox.
    </div>
    <div class="note" ng-if="entry.name === 'PROFILE_LIVE'" translate>
      Nicely done, you are now live and can start receiving great offers
    </div>
    <div class="note" ng-if="entry.name === 'OFFER_RECEIVED'" translate>
      Awesome! You received <hc-offer-link ng-model="entry.offer">an interview offer</hc-offer-link> from <hc-employer-link ng-model="entry.offer.employer"></hc-employer-link>
    </div>
    <div class="note" ng-if="entry.name === 'OFFER_REJECTED'" translate>
      You have turned down <hc-offer-link ng-model="entry.offer">the offer</hc-offer-link> from <hc-employer-link ng-model="entry.offer.employer"></hc-employer-link>
    </div>
    <div class="note" ng-if="entry.name === 'OFFER_ACCEPTED'" translate>
      Brilliant! You have accepted an interview with <hc-employer-link ng-model="entry.offer.employer"></hc-employer-link>
    </div>
    <div class="note" ng-if="entry.name === 'OFFER_NEGOTIATION'" translate>
      Nearly there! You have started negotiating the details with <hc-employer-link ng-model="entry.offer.employer"></hc-employer-link>
    </div>
    <div class="note" ng-if="entry.name === 'OFFER_SIGNED'" translate>
      Winning! You have signed a contract with <hc-employer-link ng-model="entry.offer.employer"></hc-employer-link> and will receive you golden handshake soon.
    </div>
    <div class="note" ng-if="entry.name === 'OFFER_START_DATE'" translate>
      Good luck! you have set a start date of {{ entry.offer.job_start_date }} with <hc-employer-link ng-model="entry.offer.employer"></hc-employer-link>
    </div>
    <div class="note" ng-if="entry.name === 'BOOKMARKED_EMPLOYER'" translate>
      You have requested an interview with <hc-employer-link ng-model="entry.employer"></hc-employer-link>. They have been notified and should get in touch.
    </div>
  </div>
</div>
