<div>
  <div class="col-sm-2 no-padd-right rel">
    <div class="news-ico {{ icon(entry) }}"></div>
  </div>
  <div class="col-sm-10">
    <div class="date">{{ entry.date | timeAgoIf:'yesterday' }}</div>
    <div class="note" ng-if="entry.name === 'SIGN_UP'">
      Congrats you joined Scotty.
    </div>
    <div class="note" ng-if="entry.name === 'PROFILE_PENDING'">
      Your profile is done, just waiting for you to click the activation link in your inbox.
    </div>
    <div class="note" ng-if="entry.name === 'PROFILE_LIVE'">
      Nicely done, you are now live and can start receiving great offers
    </div>
    <div class="note" ng-if="entry.name === 'OFFER_RECEIVED'">
      Awesome! You received <a ui-sref="offer({ id: entry.offer.id })">an interview offer</a> from
      <a ui-sref="employer({ id: entry.offer.employer.id })">{{ entry.offer.employer.company_name }}</a>
    </div>
    <div class="note" ng-if="entry.name === 'OFFER_REJECTED'">
      You have turned down <a ui-sref="offer({ id: entry.offer.id })">the offer</a> from
      <a ui-sref="employer({ id: entry.offer.employer.id })">{{ entry.offer.employer.company_name }}</a>
    </div>
    <div class="note" ng-if="entry.name === 'OFFER_ACCEPTED'">
      Brilliant! You have accepted an interview with
      <a ui-sref="employer({ id: entry.offer.employer.id })">{{ entry.offer.employer.company_name }}</a>
    </div>
    <div class="note" ng-if="entry.name === 'OFFER_NEGOTIATION'">
      Nearly there! You have started negotiating the details with
      <a ui-sref="employer({ id: entry.offer.employer.id })">{{ entry.offer.employer.company_name }}</a>
    </div>
    <div class="note" ng-if="entry.name === 'OFFER_SIGNED'">
      Winning! You have signed a contract with
      <a ui-sref="employer({ id: entry.offer.employer.id })">{{ entry.offer.employer.company_name }}</a>
      and will receive you golden handshake soon.
    </div>
    <div class="note" ng-if="entry.name === 'OFFER_START_DATE'">
      Good luck! you have set a start date of {{ entry.offer.job_start_date }} with
      <a ui-sref="employer({ id: entry.offer.employer.id })">{{ entry.offer.employer.company_name }}</a>
    </div>
    <div class="note" ng-if="entry.name === 'BOOKMARKED_EMPLOYER'">
      You have requested an interview with
      <a ui-sref="employer({ id: entry.offer.employer.id })">{{ entry.employer.company_name }}</a>!
      They have been notified and should get in touch.
    </div>
  </div>
</div>