<div class="component-candidate-search-employers row">
  <div class="col-sm-6 col-sm-offset-3">
    <h3>Search employers</h3>

    <form>
      <input type="text"
        class="form-control"
        placeholder="Name or email address"
        ng-model="term"
        ng-change="search(locationText)">
    </form>

    <div ng-show="terms.length && !employers.length">No employer found</div>

    <hc-employer
      ng-repeat="employer in employers | limitTo:limit"
      ng-model="employer"
      hc-link-profile>
    </hc-employer>

    <button type="button"
      ng-show="candidates.length > limit"
      ng-click="searchCandidates.loadMore()">
      Load more
    </button>
  </div>
</div>
