<div class="component-admin-search-employers row">
  <div class="col-sm-12">
    <div class="pull-right">
      <dl class="inline">
        <dt>INVITED</dt>
        <dd>Sent an invite, but not signed up yet</dd>
        <dt>SIGNED UP</dt>
        <dd>Started signup process, not finished yet</dd>
        <dt>APPLIED</dt>
        <dd>Waiting for approval (agreed to terms)</dd>
        <dt>APPROVED</dt>
        <dd>Fully online in platform</dd>
      </dl>
    </div>
    <a ui-sref="invite-employer">Invite employer</a>
    <h1>Search employers</h1>
    <ul class="list-group clearfix">
      <hc-admin-search on-search="executeSearch($params)" hc-statuses="statuses" hc-status="{{ status }}">
        <table class="table" query-builder="results">
          <colgroup>
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
          </colgroup>
          <thead>
            <tr>
              <th sort-field="id">ID</th>
              <th sort-field="created">Signup</th>
              <th>Logo</th>
              <th sort-field="name">Name</th>
              <th sort-field="email">Email</th>
              <th>Contact</th>
              <th>Status</th>
              <th sort-field="location">Location</th>
              <th>Company type</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="employer in results">
              <td><small>{{ employer.id }}</small></td>
              <td>{{ employer.created | date }}</td>
              <td><img style="max-height:50px;max-width:50px;" src="{{ employer.logo_url }}"/></td>
              <td>{{ employer.company_name }}</td>
              <td>{{ employer.email }}</td>
              <td><small>{{ employer.contact_first_name }} {{ employer.contact_last_name }}</small></td>
              <td>{{ employer.status }}</td>
              <td><div ng-if="employer.location">
                {{ employer.location.city }}, {{ employer.location.country_iso }}
              </div></td>
              <td>{{ employer.company_type }}</td>
              <td><a ui-sref="employer({ id: employer.id })">Details &raquo;</a></td>
            </tr>
          </tbody>
          <tfoot>
            <tr><td colspan="6" align="center"><load-more></load-more></td></tr>
          </tfoot>
        </table>
      </hc-admin-search>
    </ul>
  </div>
</div>
