<div>
  <div ng-if="hcTitle" class="panel-heading">
    <h3>
      {{ hcTitle }}
    </h3>
  </div>
  <ul>

    <li class="" ng-if="adding || (!editing && hcAutomaticAdd)">
      <hc-office-form
        hc-scope="formContainer"
        name="form"
        hc-required="model.length === 0 || !form.isPristine()"
        hc-disabled="loading"
        on-submit="submit($model, $form, model.length)">

        <div class="col-sm-12 mrg-top">
          <button type="submit"
            class="bg-green btn-small fl-rg mrg-lft"
            ng-disabled="loading">
            Save
          </button>
          <button type="button"
            class="bg-gray btn-small fl-rg mrg-lft"
            ng-disabled="loading"
            ng-click="hcOfficesCtrl.setActive(-1)">
            Cancel
          </button>
        </div>
      </hc-office-form>
    </li>


    <li class="" ng-repeat="entry in model">
      <div class="edit-form form-wrap form-signup bg-gray-lighter">
        <div class="row" ng-hide="active === $index">
          <span class="col-sm-1">
            <i class="fa fa-chevron-right"
              ng-show="hcEditable"
              ng-click="hcOfficesCtrl.setActive($index)"></i>
          </span>
          <span class="col-sm-6">{{ entry.address_city.city }}, {{ entry.address_city.country_iso }}</span>
        </div>

        <hc-office-form
          ng-if="active === $index"
          ng-model="entry"
          hc-disabled="loading"
          on-submit="edit($model, $form, $index)">

          <div class="col-sm-12">
            <button type="submit"
              class="bg-green btn-small fl-rg mrg-lft"
              ng-disabled="loading">
              Done
            </button>
            <button type="button"
              class="bg-gray btn-small fl-rg mrg-lft"
              ng-disabled="loading"
              ng-click="hcOfficesCtrl.setActive(-1)">
              Cancel
            </button>
          </div>
        </hc-office-form>
        <div class="" ng-if="hcEditable" ng-show="!editing && !adding && !hcAutomaticAdd">
          <button type="button"
            class="btn btn-primary pull-right"
            ng-disabled="loading"
            ng-click="hcOfficesCtrl.setAdding(true)">
            Add More
          </button>
          <div class="clearfix"></div>
        </div>
      </div>
    </li>
  </ul>
</div>
