<div>
  <div ng-if="hcTitle" class="panel-heading">
    <h3>
      {{ hcTitle }}
    </h3>
  </div>

  <hc-office-form
    hc-scope="formContainer"
    name="form"
    hc-required="model.length === 0 || !form.isPristine()"
    hc-disabled="loading"
    on-submit="submit($model, $form)">

    <div class="col-sm-12 mrg-top">
      <button type="submit"
        class="bg-green btn-small fl-rg mrg-lft"
        ng-disabled="loading">
        Save and add another
      </button>
      <button type="button"
        ng-show="editing"
        class="bg-gray btn-small fl-rg mrg-lft"
        ng-disabled="loading"
        ng-click="hcOfficesCtrl.setActive(-1)">
        Cancel
      </button>
    </div>
  </hc-office-form>

  <div ng-if="model.length">
    <h4>Saved</h4>
    <ul>
      <li ng-repeat="entry in model" ng-hide="active === $index">
        <div class="edit-form form-wrap form-signup bg-gray-lighter">
          <button class="col-sm-1" ng-show="hcEditable" ng-click="hcOfficesCtrl.setActive($index, entry)">
            <i class="fa fa-pencil"></i>
          </button>
          <dl class="dl-horizontal">
            <dt>Address</dt>
            <dd>
              <address>
                {{ entry.address_line1 }}<br>
                {{ entry.address_line2 }}<br ng-if="entry.address_line2">
                {{ entry.address_line3 }}<br ng-if="entry.address_line3">
                {{ entry.address_city.city }},
                {{ entry.address_city.country_iso }}
                {{ entry.address_zipcode }}
              </address>
            </dd>
            <dt>Contact name</dt>
            <dd>{{ entry.contact_first_name }} {{ entry.contact_last_name }}</dd>
            <dt>Contact phone</dt>
            <dd>{{ entry.contact_phone }}</dd>
            <dt>Contact email</dt>
            <dd>{{ entry.contact_email }}</dd>
          </dl>
        </div>
      </li>
    </ul>
  </div>
</div>
