<button class="close-button" ng-click="close()">
  <i class="fa fa-close"></i>
</button>

<h3 translate>Where do you want to work at?</h3>
<h4 translate>Select the cities where you are interested to receive offers from.</h4>

<form name="form" ng-submit="save(data)" ng-click="validate()" hc-validations-on-submit>
  <div class="form-group">
    <div hc-preferred-locations model="data"></div>

    <div class="validation-errors">
      <div ng-show="errorLocationRequired" translate>Please select at least one location.</div>
    </div>
  </div>

  <div class="buttons-wrap">
    <button type="submit" ng-disabled="loading" translate>Save</button>
    <button type="button" ng-disabled="loading" ng-click="skip()" translate>Skip</button>
  </div>

  <div class="clearfix"></div>
</form>
