<form class="component-employer-create-offer row"
  name="formCreateOffer"
  ng-if="ready"
  ng-submit="createOffer.submit()">
  <div class="col-sm-6 col-sm-offset-3">

    <h3>Make an offer</h3>

    <hc-candidate
      ng-model="candidate"
      hc-link-profile>
    </hc-candidate>

    <div class="form-group required">
      <label>Annual salary</label>
      <div class="input-group">
        <span class="input-group-addon">€</span>
        <input type="number"
          class="form-control"
          placeholder="Annual salary"
          name="salary"
          required
          ng-disabled="loading"
          ng-model="model.annual_salary"
          ng-pattern="/^[0-9]+$/">
        <span class="input-group-addon">.00</span>
      </div>

      <div class="form-error" ng-show="formCreateOffer.salary.$dirty && formCreateOffer.salary.$invalid">
        <span ng-show="formCreateOffer.salary.$error.required">
          Please insert your offer's salary.
        </span>
        <span ng-show="formCreateOffer.salary.$error.number">
          Please insert a number.
        </span>
        <span ng-show="formCreateOffer.salary.$error.pattern">
          Decimals are not allowed.
        </span>
      </div>
    </div>

    <div class="form-group required">
      <label>Location</label>
      <input type="text"
        name="location"
        class="form-control"
        required
        ng-disabled="loading"
        ng-model="locationText"
        ng-blur="createOffer.setLocation(locationText)"
        typeahead-on-select="createOffer.setLocation(locationText)"
        typeahead="location for location in createOffer.searchLocations($viewValue)">

      <div class="form-error" ng-show="errorInvalidCity || (formCreateOffer.location.$dirty && formCreateOffer.location.$invalid)">
        <span ng-show="formCreateOffer.location.$error.required">
          Please insert the city of the offer.
        </span>
        <span ng-show="errorInvalidCity">
          Please choose a city from the menu.
        </span>
      </div>
    </div>

    <div class="form-group required">
      <label>Role</label>
      <input type="text"
        class="form-control"
        name="role"
        required
        ng-disabled="loading"
        ng-model="model.role"
        typeahead="role for role in createOffer.searchRoles($viewValue)">

      <div class="form-error" ng-show="formCreateOffer.role.$dirty && formCreateOffer.role.$invalid">
        <span ng-show="formCreateOffer.role.$error.required">Please insert the role for this offer.</span>
      </div>
    </div>

    <div class="form-group required">
      <label>Technologies &amp; Skills</label>

      <hc-label-typeahead
        placeholder="Technologies &amp; skills"
        ng-disabled="loading"
        ng-model="model.technologies"
        hc-source="createOffer.searchSkills($viewValue)"
        hc-error-message="Please choose at least one skill"
        hc-allow-new>
      </hc-label-typeahead>
    </div>

    <div class="form-group required">
      <label>Job description</label>

      <text-angular
        name="jobDescription"
        required
        ng-model="model.job_description">
      </text-angular>

      <div class="form-error" ng-show="dirty && !model.job_description">
        <span>Please provide a description of this position.</span>
      </div>
    </div>

    <div class="form-group required">
      <label>Hiring process</label>

      <text-angular
        name="hiringProcess"
        required
        ng-model="model.interview_details">
      </text-angular>

      <div class="form-error" ng-show="dirty && !model.interview_details">
        <span>Please provide a little description of the hiring process.</span>
      </div>
    </div>

    <div class="form-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Benefits</h3>
        </div>

        <ul class="list-group">
          <li class="list-group-item" ng-repeat="benefit in benefits">
            <label>
              <input type="checkbox"
                ng-disabled="loading"
                ng-model="benefit.selected">
              {{ benefit.value }}
            </label>
          </li>
        </ul>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" ng-disabled="loading">Submit offer</button>
    </div>
  </div>
</form>
