<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <img class="avatar-small" ng-src="{{ model.picture_url }}">
      <a ng-if="hcLinkProfile" ui-sref="candidate({ id: model.id })">
        {{ model.first_name }} {{ model.last_name }}
      </a>
      <span ng-if="!hcLinkProfile">
        {{ model.first_name }} {{ model.last_name }}
      </span>
    </h3>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt ng-hide="hide.email">email</dt>
      <dd ng-hide="hide.email">{{ model.email }}</dd>
      <dt ng-hide="hide.city">City</dt>
      <dd ng-hide="hide.city">{{ model.city }}</dd>
      <dt ng-hide="hide.years">Years of experience</dt>
      <dd ng-hide="hide.years">{{ model.years }}</dd>
      <dt ng-hide="hide.skills">Skills</dt>
      <dd ng-hide="hide.skills">{{ model.skills.join(', ') }}</dd>
    </dl>
  </div>
</div>
