
<div class="offer-list-item mrg-lft">
  <div class="row">
    <div class="col-sm-12 mrg-btm-small">
      <div class="location">
        <i class="fa  fa-map-marker gray-light"></i> Berlin, DE
      </div>
      <i class="bookmark" ng-class="{
        'bookmark_active': employer.isBookmarked,
        'bookmark_inactive': !employer.isBookmarked,
      }"></i>
    </div>
    <div class="col-sm-12 ">
      <div class="row">
        <div class="col-sm-4">
          <img class="img-responsive" ng-src="{{ model.picture_url }}">
          <a class="smbd caps" ng-if="hcLinkProfile" ui-sref="candidate({ id: model.id })">{{ model.first_name }} {{ model.last_name }} <i class="fa fa-angle-right"></i></a>
          <span ng-if="!hcLinkProfile">
            {{ model.first_name }} {{ model.last_name }}
          </span>
        </div>
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-1 req-list">
              <div class="key">
                <i class="fa fa-star ico-req-list"></i>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="req-list-title mrg-btm-small">Skills</div>
                </div>
                <div class="col-sm-3 mrg-btm-small" >
                  <span>Ruby</span>
                </div>
                <div class="col-sm-3 mrg-btm-small" >
                  <span>Ruby</span>
                </div>
                <div class="col-sm-3 mrg-btm-small" >
                  <span>Ruby</span>
                </div>
                <div class="col-sm-3 mrg-btm-small" >
                  <span>Ruby</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
