<div class="component-candidate-signup-user row">

  <form name="formSignupUser" class="col-sm-8 form-horizontal bg-white" ng-submit="signupUser.submit()">
    <div class="col-sm-12">
      <h3 class="signup-title">Signup for free</h3>

      <div class="form-group" ng-show="!imported && !linkedin.isConnected">
        <div class="col-sm-12">
          <hc-linkedin-connect ng-click="linkedin.connect()"></hc-linkedin-connect>
        </div>
      </div>

      <div class="bg-gray-lighter pad-30 mrg-btm form-wrap form-signup">
        <div class="form-group required">
          <label class="col-sm-3">First Name</label>
          <div class="col-sm-9">
            <input type="text"
                   class="form-control"
                   name="firstName"
                   required
                   ng-disabled="loading"
                   ng-model="model.first_name">
          </div>

          <div class="form-error col-sm-9 col-sm-offset-3" ng-show="formSignupUser.firstName.$dirty && formSignupUser.firstName.$invalid">
            <span ng-show="formSignupUser.firstName.$error.required">
              Please insert your first name.
            </span>
          </div>
        </div>

        <div class="form-group required">
          <label class="col-sm-3">Last Name</label>
          <div class="col-sm-9">
            <input type="text"
                   class="form-control"
                   name="lastName"
                   required
                   ng-disabled="loading"
                   ng-model="model.last_name">
          </div>

          <div class="form-error col-sm-9 col-sm-offset-3" ng-show="formSignupUser.lastName.$dirty && formSignupUser.lastName.$invalid">
            <span ng-show="formSignupUser.lastName.$error.required">
              Please insert your last name.
            </span>
          </div>
        </div>

        <div class="form-group required">
          <label class="col-sm-3">Email</label>
          <div class="col-sm-9">
            <input type="email"
                   class="form-control"
                   name="email"
                   required
                   ng-disabled="loading"
                   ng-model="model.email"
                   ng-change="signupUser.onEmailChange()">
          </div>

          <div class="form-error col-sm-9 col-sm-offset-3" ng-show="errorAlreadyRegistered || (formSignupUser.email.$dirty && formSignupUser.email.$invalid)">
            <span ng-show="formSignupUser.email.$error.required">
              Please insert your email.
            </span>
            <span ng-show="formSignupUser.email.$error.email">
              Please insert a valid email.
            </span>
            <span ng-show="errorAlreadyRegistered">
              Email already registered.
              <a ui-sref="forget-password">Forgot your password?</a>
            </span>
          </div>
        </div>

        <div class="form-group required">
          <label class="col-sm-3">Password</label>
          <div class="col-sm-9">
            <input type="password"
                   class="form-control"
                   name="password"
                   required
                   ng-minlength="8"
                   ng-disabled="loading"
                   ng-model="model.pwd">
          </div>

          <div class="form-error col-sm-9 col-sm-offset-3" ng-show="formSignupUser.password.$dirty && formSignupUser.password.$invalid">
            <span ng-show="formSignupUser.password.$error.required">Please choose a password.</span>
            <span ng-show="formSignupUser.password.$error.minlength">Password must have at least 8 characters.</span>
          </div>
        </div>

        <div class="form-group no-marg-btm">
          <label class="col-sm-3">Invite code</label>
          <div class="col-sm-9">
            <input type="text"
                   class="form-control"
                   name="inviteCode"
                   ng-disabled="loading"
                   ng-model="model.invite_code">
          </div>

        </div>
      </div>


      <div class="buttons-wrap mrg-top mrg-btm-30">
        <button type="submit"
          class="fl-rg bg-green btn-small"
          ng-disabled="loading || !formSignupUser.$valid">
          Continue
        </button>
      </div>
    </div>
  </form>

  <div class="col-sm-4">
    <div class="bg-gray-lighter2 mrg-btm row">
      <div class="padd-vert col-sm-12">
        <div class="box-title box-title_left mrg-btm gray-darker">
          Help</div>
        <div class="">
          <p class="mrg-btm">
            Please set up your free profile.</br>
            We guarantee your data privacy.</br>
            Employers will not see your name and contact data until you accept their offers or decide so at a later point of this sign up.
          </p>
        </div>
      </div>
    </div>

    
    <div class="bg-gray-lighter2 mrg-btm row">
      <div class="padd-vert col-sm-12">
        <div class="box-title box-title_left mrg-btm gray-darker">
          Don't have an invite code?</div>
        <div class="">
          <p class="mrg-btm">
            If you received an invite code, plese enter it here.</br>Leave the field blank if you didn't have one and we will contact you afterwards to validate your profile.
          </p>
        </div>
      </div>
    </div>


    <div class="row  border-box">
      <div class="padd-vert col-sm-12">
        <div class="box-title box-title_left mrg-btm gray-darker">
          Our Promises</div>
        <div class="">
          <h4 class="orange lt caps font-14 mrg-btm-small">No Spam</h4>
          <p class="mrg-btm font-12">You’ll only receive job offers that match your profile.</p>
          <h4 class="orange lt caps font-14 mrg-btm-small">Full disclosure</h4>
          <p class="mrg-btm font-12">You’ll always find all essential job details about every job offer posted on 4Scotty – including the salary.</p>
          <h4 class="orange lt caps font-14 mrg-btm-small">Privacy standards</h4>
          <p class="mrg-btm font-12">Companies only receive your contact details once you have explicitly accepted their offers. Your profile cannot be seen by your current employer.</p>
          <h4 class="orange lt caps font-14 mrg-btm-small">Quality support</h4>
          <p class="mrg-btm font-12">We will accompany you throughout the entire process. And if you find a new job, we’ll even share our commission with you.</p>
        </div>
      </div>
    </div>

  </div>
</div>
