<div class="component-candidate-signup-user row">

  <form name="formSignupUser" class="col-sm-8 form-horizontal bg-white" ng-submit="signupUser.submit()">
    <div class="col-sm-12">
      <h3 class="signup-title" translate>Signup for free</h3>

      <hc-connectors-buttons ng-show="!imported"></hc-connectors-buttons>

      <div class="bg-gray-lighter pad-30 mrg-btm form-wrap form-signup">
        <div class="form-group required">
          <label class="col-sm-3" translate>First Name</label>
          <div class="col-sm-9">
            <input type="text"
                   class="form-control"
                   name="firstName"
                   required
                   ng-disabled="loading"
                   ng-model="model.first_name">
          </div>

          <div class="form-error col-sm-9 col-sm-offset-3" ng-show="formSignupUser.firstName.$dirty && formSignupUser.firstName.$invalid">
            <span ng-show="formSignupUser.firstName.$error.required" translate>
              Please insert your first name.
            </span>
          </div>
        </div>

        <div class="form-group required">
          <label class="col-sm-3" translate>Last Name</label>
          <div class="col-sm-9">
            <input type="text"
                   class="form-control"
                   name="lastName"
                   required
                   ng-disabled="loading"
                   ng-model="model.last_name">
          </div>

          <div class="form-error col-sm-9 col-sm-offset-3" ng-show="formSignupUser.lastName.$dirty && formSignupUser.lastName.$invalid">
            <span ng-show="formSignupUser.lastName.$error.required" translate>
              Please insert your last name.
            </span>
          </div>
        </div>

        <div class="form-group required">
          <label class="col-sm-3" translate>Email</label>
          <div class="col-sm-9">
            <input type="email"
                   class="form-control"
                   name="email"
                   required
                   ng-disabled="loading"
                   ng-model="model.email"
                   ng-change="signupUser.onEmailChange()">
          </div>

          <div class="form-error col-sm-9 col-sm-offset-3" ng-show="errorEmailAlreadyRegistered || (formSignupUser.email.$dirty && formSignupUser.email.$invalid)">
            <span ng-show="formSignupUser.email.$error.required" translate>
              Please insert your email.
            </span>
            <span ng-show="formSignupUser.email.$error.email" translate>
              Please insert a valid email.
            </span>
            <span ng-show="errorEmailAlreadyRegistered">
              <translate>Email already registered.</translate>
              <a href="../forgot-password.html" translate>Forgot your password?</a>
            </span>
          </div>
        </div>

        <div class="form-group required">
          <label class="col-sm-3" translate>Password</label>
          <div class="col-sm-9">
            <input type="password"
                   class="form-control"
                   name="password"
                   required
                   ng-minlength="8"
                   ng-disabled="loading"
                   ng-model="model.pwd">
          </div>

          <div class="form-error col-sm-9 col-sm-offset-3" ng-show="formSignupUser.password.$dirty && formSignupUser.password.$invalid">
            <span ng-show="formSignupUser.password.$error.required" translate>Please choose a password.</span>
            <span ng-show="formSignupUser.password.$error.minlength" translate>Password must have at least 8 characters.</span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3" translate>Invite code</label>
          <div class="col-sm-9">
            <input type="text"
                   class="form-control"
                   name="inviteCode"
                   ng-disabled="loading"
                   ng-model="model.invite_code">
          </div>
        </div>

        <div class="form-group no-marg-btm">
          <label class="col-sm-3"></label>
          <div class="col-sm-9">
            <label class="checkbox mrg-lft">
              <input type="checkbox"
                     required
                     ng-disabled="loading"
                     ng-model="model.agreedTos"
                >
              <translate>I have read and agree to the</translate><br>
              <a class="link" style="text-decoration: underline;" href="../en/terms-candidate.html" target="_blank" translate>4Scotty terms of services.</a>
            </label>
          </div>
        </div>


      </div>


      <div class="buttons-wrap mrg-top mrg-btm-30">
        <button type="submit"
                class="fl-rg bg-green btn-small"
                ng-disabled="loading"
                translate>
          Continue
        </button>
      </div>
    </div>
  </form>

  <div class="col-sm-4">
    <div class="bg-gray-lighter2 mrg-btm row">
      <div class="padd-vert col-sm-12">
        <div class="box-title box-title_left mrg-btm gray-darker" translate>Help</div>
        <div class="">
          <p class="mrg-btm" translate>
            Please set up your free profile.<br/>
            We guarantee your data privacy.<br/>
            Employers will not see your name and contact data until you accept their offers or decide so at a later point of this sign up.
          </p>
        </div>
      </div>
    </div>


    <div class="bg-gray-lighter2 mrg-btm row">
      <div class="padd-vert col-sm-12">
        <div class="box-title box-title_left mrg-btm gray-darker" translate>Don't have an invite code?</div>
        <div>
          <p class="mrg-btm" translate>
            If you received an invite code, plese enter it here.<br/>Leave the field blank if you didn't have one and we will contact you afterwards to validate your profile.
          </p>
        </div>
      </div>
    </div>


    <div class="row  border-box">
      <div class="padd-vert col-sm-12">
        <div class="box-title box-title_left mrg-btm gray-darker" translate>Our Promises</div>
        <div>
          <h4 class="orange lt caps font-14 mrg-btm-small" translate>No Spam</h4>
          <p class="mrg-btm font-12" translate>You’ll only receive job offers that match your profile.</p>
          <h4 class="orange lt caps font-14 mrg-btm-small" translate>Full disclosure</h4>
          <p class="mrg-btm font-12" translate>You’ll always find all essential job details about every job offer posted on 4Scotty – including the salary.</p>
          <h4 class="orange lt caps font-14 mrg-btm-small" translate>Privacy standards</h4>
          <p class="mrg-btm font-12" translate>Companies only receive your contact details once you have explicitly accepted their offers. Your profile cannot be seen by your current employer.</p>
          <h4 class="orange lt caps font-14 mrg-btm-small" translate>Quality support</h4>
          <p class="mrg-btm font-12" translate>We will accompany you throughout the entire process. And if you find a new job, we’ll even share our commission with you.</p>
        </div>
      </div>
    </div>

  </div>
</div>
