<div class="panel panel-default" ng-show="model.length || hcShowEmpty">
  <div ng-if="hcTitle" class="panel-heading">
    <h3 class="panel-title">
      {{ hcTitle }}
      <span ng-transclude></span>
      <div class="clearfix"></div>
    </h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="entry in model">
      <dl class="dl-horizontal">
        <dt>role</dt>
        <dd>{{ entry.role }}</dd>
        <dt>skills</dt>
        <dd>{{ entry.skills.join(', ') }}</dd>
        <dt>company type</dt>
        <dd>{{ entry.company_types.join(', ') }}</dd>
        <dt>minimum salary</dt>
        <dd>{{ entry.minimum_salary | dottedInteger }}€</dd>
        <dt>relocate</dt>
        <dd>
          <span ng-show="entry.relocate">Yes</span>
          <span ng-show="!entry.relocate">False</span>
        </dd>
        <dt>Willingness to travel</dt>
        <dd>{{ entry.travel_willingness }}</dd>
        <dd ng-if="hcEditable">
          <button type="button" class="btn btn-default" ng-click="edit(entry)">Edit</button>
          <button type="button" class="btn btn-default" ng-click="remove(entry)">Remove</button>
        <dd>
    </li>
  </ul>
</div>
