  <form name="formSkills"
    class="component-candidate-signup-skills"
    ng-submit="signupSkills.submit()">

    <h3>Sign up - Skills</h3>

    <div class="form-group">
      <label>Enter your technical skills:</label>
    </div>

    <div class="form-group" ng-repeat="entry in model">
      <div class="form-inline">
        <input type="text"
          class="form-control"
          name="skill{{ $index }}"
          ng-disabled="loading"
          ng-required="$index === 0"
          ng-model="entry.skill"
          ng-blur="signupSkills.onBlur(entry, $index)"
          ng-change="signupSkills.onChange(entry, $index)"
          typeahead="skill for skill in signupSkills.searchSkills($viewValue)">

        <select
          class="form-control"
          name="level{{ $index }}"
          ng-disabled="loading"
          ng-required="entry.skill"
          ng-model="entry.level"
          ng-options="level for level in levels">
          <option value="">Select level</option>
        </select>

        <span class="close"
          ng-if="$index !== signup.skills.length - 1"
          ng-click="signupSkills.remove($index)">
          &times;
        </span>

        <!-- TODO: This doesn't work yet -->
        <div class="form-error" ng-show="
          formSkills['skill' + $index].$dirty &&
          formSkills['skill' + $index].$invalid">
          <span ng-show="formSkills['skill' + $index].$error.required">
            Please insert the skill level.
          </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" ng-disabled="loading">Continue</button>
    </div>
  </form>
