<div class="panel panel-default">
  <div ng-if="hcTitle" class="panel-heading">
    <h3 class="panel-title">
      {{ hcTitle }}
    </h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <strong>
          <span class="col-sm-offset-1" ng-class="{
            'col-sm-4': importing,
            'col-sm-5': !importing
          }">Company</span>
          <span class="col-sm-5">Duration</span>
          <span class="col-sm-2 text-right" ng-show="importing">Add</span>
        </strong>
      </div>
    </li>

    <li class="list-group-item" ng-repeat="entry in model">
      <div class="row" ng-hide="active === $index">
        <span class="col-sm-1">
          <i class="fa fa-chevron-right"
            ng-show="hcEditable"
            ng-click="hcExperienceCtrl.setActive($index)"></i>
        </span>
        <span ng-class="{
            'col-sm-4': importing,
            'col-sm-5': !importing
        }">{{ entry.company }}</span>
        <span class="col-sm-6">{{ entry.start }} ({{ entry.end || 'current' }})</span>
        <span class="col-sm-1" ng-show="entry.imported">
          <input type="checkbox" ng-model="entry.import">
        </span>
      </div>

      <hc-experience-form
        ng-if="active === $index"
        ng-model="entry"
        hc-required="true"
        hc-disabled="loading"
        on-submit="edit($model, $form, $index)">

        <div class="col-sm-12">
          <button type="button"
            class="btn btn-default"
            ng-disabled="loading"
            ng-click="hcExperienceCtrl.setActive(-1)">
            Cancel
          </button>
          <button type="submit"
            class="btn btn-primary"
            ng-disabled="loading">
            Done
          </button>
        </div>
      </hc-experience-form>
    </li>

    <li class="list-group-item" ng-if="hcEditable" ng-show="!editing && !adding && !hcAutomaticAdd">
      <button type="button"
        class="btn btn-primary pull-right"
        ng-disabled="loading"
        ng-click="hcExperienceCtrl.setAdding(true)">
        Add More
      </button>
      <div class="clearfix">
    </li>

    <li class="list-group-item" ng-if="adding || (!editing && hcAutomaticAdd)">
      <hc-experience-form
        hc-scope="formContainer"
        name="form"
        hc-required="model.length === 0 || !form.isPristine()"
        hc-disabled="loading"
        on-submit="submit($model, $form, model.length)">

        <div class="col-sm-12">
          <button type="button"
            ng-show="adding"
            class="btn btn-default"
            ng-disabled="loading"
            ng-click="hcExperienceCtrl.setAdding(false)">
            Cancel
          </button>
          <button type="submit"
            class="btn btn-primary"
            ng-disabled="loading">
            Save
          </button>
        </div>
      </hc-experience-form>
    </li>
  </ul>
</div>
