<div class="component-shared-reset-password row" ng-show="ready">
  <form name="formResetPassword"
    class="col-sm-6 col-sm-offset-3"
    ng-submit="resetPassword.submit(password, confirm)">

    <h3>Reset password</h3>

    <div class="form-group required">
      <label>Password</label>
      <input type="password"
        name="password"
        class="form-control"
        required
        ng-disabled="loading"
        ng-model="password"
        ng-change="resetPassword.check(password, confirm)">

      <div class="form-error" ng-show="formResetPassword.password.$dirty && formResetPassword.password.$invalid">
        <span ng-show="formResetPassword.password.$error.required">
          Please insert your new password.
        </span>
      </div>
    </div>

    <div class="form-group required">
      <label>Confirm password</label>
      <input type="password"
        name="confirm"
        class="form-control"
        required
        ng-disabled="loading"
        ng-model="confirm"
        ng-change="resetPassword.check(password, confirm)">

      <div class="form-error" ng-show="formResetPassword.confirm.$dirty && formResetPassword.confirm.$invalid">
        <span ng-show="formResetPassword.confirm.$error.required">
          Please insert your new password.
        </span>
      </div>
      <div class="form-error" ng-show="errorNotEqual &&
        formResetPassword.password.$dirty &&
        formResetPassword.confirm.$dirty">
        You must type the same password on both fields.
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" ng-disabled="loading || errorNotEqual || !password">
        Reset password
      </button>
    </div>
  </form>
</div>
