<form name="formSignupMission"
  class="component-employer-signup-mission"
  ng-submit="signupMission.submit()">
  <toaster-container></toaster-container>

  <h3>Sign up - Mission</h3>

  <div class="form-group">
    <text-angular ng-model="model.mission_text"></text-angular>

    <div class="form-error" ng-show="missionDirty && errorMissionEmpty">
      <span>Please insert a description of the mission of your company.</span>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary" ng-disabled="loading">Continue</button>
  </div>
</form>
