<form name="formSignupMission"
  class="component-employer-signup-mission"
  ng-submit="signupMission.submit()">

  <h3>Sign up - Mission</h3>

  <div class="alert alert-danger" ng-hide="!error">
    Sorry, unknown error ocurred, if this error persist please contact EMAIL_HERE.
  </div>

  <div class="form-group">
    <label class="required">Logo url</label>
    <text-angular ng-model="model.mission_text"></text-angular>

    <div class="form-error" ng-show="missionDirty && errorMissionEmpty">
      <span>Please insert a description of the mission of your company.</span>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary" ng-disabled="loading">Continue</button>
  </div>
</form>
