<input type="text"
  class="form-control"
  name="{{ name }}"
  autocomplete="off"
  placeholder="{{ placeholder }}"
  ng-required="hcRequired && !ngModel.length"
  ng-disabled="disabled"
  ng-model="input"
  ng-blur="input = ''"
  ng-keydown="onKeydown($event, input)"
  typeahead-on-select="add(input)"
  typeahead="entry for entry in getSource($viewValue)"
  hc-typeahead-loader>

<ul class="skills-list" ng-if="!hcHideTags">
  <li ng-repeat="entry in ngModel" class="label label-default" role="label">
    <span class="text">{{ hcRender({ $entry: entry }) }}</span>
    <button type="button" class="close" data-dismiss="label" ng-click="remove(entry, $index)">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
</ul>

<div class="form-error" ng-if="hcErrorMessage" ng-show="invalid">
  {{ hcErrorMessage }}
</div>
