<input type="text"
  class="form-control"
  name="{{ name }}"
  placeholder="{{ placeholder }}"
  ng-disabled="disabled"
  ng-model="input"
  ng-blur="input = ''"
  ng-keydown="onKeydown($event, input)"
  typeahead-on-select="add(input)"
  typeahead="entry for entry in getSource(input)">

<ul class="list-unstyled">
  <li ng-repeat="entry in ngModel" class="label label-default" role="label">
    {{ hcRender({ $entry: entry }) }}
    <button type="button" class="close" data-dismiss="label" ng-click="remove(entry, $index)">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
  </li>
</ul>

<div class="form-error" ng-if="hcErrorMessage" ng-show="invalid">
  {{ hcErrorMessage }}
</div>
