<div class="component-candidate-signup-languages row">
  <div class="col-sm-8">
    <h3>Languages</h3>

    <hc-languages-form
            name="form"
            hc-disabled="loading"
            on-submit="signupLanguages.submit()">
      <button type="submit" class="btn btn-primary" ng-disabled="loading">Continue</button>
    </hc-languages-form>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default helpbox">
      <div class="panel-heading">
        <h3 class="panel-title">Help</h3>
      </div>
      <div class="panel-body">
        <p>Which languages do you speak and how well?</p>
        <dl>
          <dt>Native</dt><dd>Your first language.</dd>
          <dt>Fluent</dt><dd>You are fluent in both written and spoken word.</dd>
          <dt>Advanced</dt><dd>You can conduct business in the language.</dd>
          <dt>Basic</dt><dd>You can express yourself in the language with limited working proficiency.</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
