<div class="component-candidate-signup-languages row">
  <div class="col-sm-8 bg-white">
    <div class="col-sm-12">
      <h3 class="signup-title">Languages</h3>

      <hc-languages-form
              name="form"
              hc-disabled="loading"
              on-submit="signupLanguages.submit()">
        <div class="buttons-wrap mrg-top mrg-btm-30">
          <button type="submit" class="bg-green btn-small fl-rg" ng-disabled="loading || !form.$valid">Continue</button>
        </div>
      </hc-languages-form>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="bg-gray-lighter2 row mrg-btm">
      <div class="padd-vert col-sm-12 ">
        <div class="box-title box-title_left mrg-btm gray-darker">
          Help</div>
        <div class="">
          <p>
            Which languages do you speak and how well?</p>

  <p><span class="smbd">Native</span></br>
  Your first language.</p>
  <p><span class="smbd">Fluent</span></br>
  You professionally master he language in both written and spoken word.</p>
  <p><span class="smbd">Advanced</span></br>
  You can conduct business in the language.</p>
  <p><span class="smbd">Basis</span></br>
  You can express yoursef in the language with limited working proficiency.</p>

        </div>
      </div>
    </div>
    <div class="row  border-box">
      <div class="padd-vert col-sm-12">
        <div class="box-title box-title_left mrg-btm gray-darker">
          Our Promises</div>
        <div class="">
          <h4 class="orange lt caps font-14 mrg-btm-small">No Spam</h4>
          <p class="mrg-btm font-12">You’ll only receive job offers that match your profile.</p>
          <h4 class="orange lt caps font-14 mrg-btm-small">Full disclosure</h4>
          <p class="mrg-btm font-12">You’ll always find all essential job details about every job offer posted on 4Scotty – including the salary.</p>
          <h4 class="orange lt caps font-14 mrg-btm-small">Privacy standards</h4>
          <p class="mrg-btm font-12">Companies only receive your contact details once you have explicitly accepted their offers. Your profile cannot be seen by your current employer.</p>
          <h4 class="orange lt caps font-14 mrg-btm-small">Quality support</h4>
          <p class="mrg-btm font-12">We will accompany you throughout the entire process. And if you find a new job, we’ll even share our commission with you.</p>
        </div>
      </div>
    </div>
  </div>
</div>
