<div class="component-candidate-signup-languages row">
  <div class="col-sm-8">
    <div class="col-sm-12">
      <h3 class="signup-title">Languages</h3>

      <hc-languages-form
              name="form"
              hc-disabled="loading"
              on-submit="signupLanguages.submit()">
        <div class="buttons-wrap mrg-top">
          <button type="submit" class="bg-green btn-small fl-rg" ng-disabled="loading">Continue</button>
        </div>
      </hc-languages-form>
    </div>
  </div>

  <div class="col-sm-4 bg-gray-lighter2">
    <div class="padd-vert">
      <div class="box-title box-title_left mrg-btm gray-darker">
        Help</div>
      <div class="">
        <p>
          Which languages do you speak and how well?</p>

<p><span class="smbd">Native</span></br>
Your first language.</p>
<p><span class="smbd">Fluent</span></br>
You professionally master he language in both written and spoken word.</p>
<p><span class="smbd">Advanced</span></br>
You can conduct business in the language.</p>
<p><span class="smbd">Basis</span></br>
You can express yoursef in the language with limited working proficiency.</p>
      
      </div>
    </div>
  </div>
</div>
