hc-candidate-completion,
[hc-candidate-completion] {
  .row();

  section {
    .row();
    color: @white;
    background: #0a3d54;
    padding: @generic-padding;

    form {
      display: block;
    }

    .form-group .question-title {
      color: #e37334;
    }

    .form-group > label:nth-child(1) {
      .question-title();
      color: #e37334;
      float: none;
    }
  }

  .completion-experience-section form {
    label {
      color: white !important;
    }

    label.col-sm-3,
    .col-sm-3 > label {
      color: #e37334 !important;
    }
  }

  .buttons-wrap > button {
    float: left !important;
    margin-left: 0 !important;
    margin-right: 15px;
  }
}
