<div class="component-candidate-signup-experience">
  <h3>Sign up - Experience</h3>

  <hc-experience-form
    ng-if="ready"
    name="form"
    on-submit="signupExperience.submit()">

    <button type="submit"
      class="btn btn-primary"
      ng-click="setAddAnother(true)"
      ng-disabled="loading">
      Save &amp; add another
    </button>
    <button type="submit"
      class="btn btn-primary"
      ng-click="setAddAnother(false)"
      ng-disabled="loading">
      Save &amp; continue
    </button>
    <button type="submit"
      class="btn btn-primary"
      ng-show="list.length"
      ng-click="signupExperience.nextStep($event)"
      ng-disabled="loading">
      Continue
    </button>
  </hc-experience-form>

  <hc-experience
    ng-if="ready"
    name="list"
    hc-title="Saved"
    hc-source="session.user.getExperience()"
    hc-source-remove="session.user.deleteExperience($entry)"
    on-edit="signupExperience.edit($entry)"
    hc-editable="true">
  </hc-experience>

</div>
