<div class="component-candidate-signup-experience row" ng-show="ready">
  <div class="col-sm-8 bg-white">
    <div class="col-sm-12">
      <h3 class="signup-title">Work Experience</h3>

      <hc-experience
        name="list"
        hc-source="listExperience()"
        on-edit="update($entry, $index)"
        on-add="add($entry)"
        on-import-change="updateImports($list)"
        hc-editable="true"
        hc-remove-last="true">
      </hc-experience>

      <div class="buttons-wrap mrg-top mrg-btm-30">
        <button type="button"
          class="bg-green btn-small fl-rg"
          ng-disabled="!someImport"
          ng-click="submit()">
          Continue
        </button>
      </div>
    </div>
  </div>

  <div class="col-sm-4">

    <div class="bg-gray-lighter2 mrg-btm row">
      <div class="padd-vert col-sm-12">
        <div class="box-title box-title_left mrg-btm gray-darker">
          Help</div>
        <div class="">
          <p>
            Enter your previous jobs and where you currently work.
            We will ensure that your current employers will not see your profile.
            You can edit your entries anytime.
          </p>

        </div>
      </div>
    </div>

    <div class="row  border-box">
      <div class="padd-vert col-sm-12">
        <div class="box-title box-title_left mrg-btm gray-darker">
          Our Promises</div>
        <div class="">
          <h4 class="orange lt caps font-14 mrg-btm-small">No Spam</h4>
          <p class="mrg-btm font-12">You’ll only receive job offers that match your profile.</p>
          <h4 class="orange lt caps font-14 mrg-btm-small">Full disclosure</h4>
          <p class="mrg-btm font-12">You’ll always find all essential job details about every job offer posted on 4Scotty – including the salary.</p>
          <h4 class="orange lt caps font-14 mrg-btm-small">Privacy standards</h4>
          <p class="mrg-btm font-12">Companies only receive your contact details once you have explicitly accepted their offers. Your profile cannot be seen by your current employer.</p>
          <h4 class="orange lt caps font-14 mrg-btm-small">Quality support</h4>
          <p class="mrg-btm font-12">We will accompany you throughout the entire process. And if you find a new job, we’ll even share our commission with you.</p>
        </div>
      </div>
    </div>

  </div>
</div>
