<div class="component-candidate-employer-profile" ng-show="ready">
  <div class="inner">
    <div class="status-wrap"></div>
    <div class="row">
      <div class="col-sm-3">
        <div class="row">
          <div class="col-sm-12 bg-gray-light">
            <div class="user-pic emp-pic" ng-show="data.logo_url" style="background-image: url({{ data.logo_url }})"></div>
          </div>
          <!--TODO toggle class .closed with .open to see the content of the hidden div -->
          <div class="col-sm-12 info bg-gray-light mrg-btm office-wrap" ng-class="{
            open: officesSection,
            closed: !officesSection,
          }">
            <div class="row">
              <div class="contacts">
                <div class="fl-lf">
                  <button class="toggler" ng-click="toggle('officesSection')">
                    Offices
                    <span ng-show="data.offices.length > 1">
                      <i ng-show="!officesSection" class="fa fa-angle-down"></i>
                      <i ng-show="officesSection" class="fa fa-angle-up"></i>
                    </span>
                  </button>
                </div>
                <div class="fl-rg">
                  <a ng-show="data.facebook_url" ng-href="{{ data.facebook_url }}" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a ng-show="data.linkedin_url" ng-href="{{ data.linkedin_url }}" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
              <div class="padd-vert col-sm-12 brd-btm office-list">
                <div class="mrg-btm-big office-list-item" ng-repeat="office in data.offices">
                  <div class="orange smbd">{{ office.address_city.city }}</div>
                  <div>{{ office.address_line1 }}</div>
                  <div>{{ office.address_line2 }}</div>
                  <div>{{ office.address_line3 }}</div>
                  <div>
                    {{ office.address_city.city }},
                    {{ office.address_city.country_iso }}
                    {{ office.address_zipcode }}
                  </div>
                  <div>
                    {{ office.contact_salutation }}
                    {{ office.contact_first_name }}
                    {{ office.contact_last_name }}
                  </div>
                </div>
              </div>
              <div class="padd-vert col-sm-12">
                <p ng-show="data.funding_year" class="smbd">founded in {{ data.funding_year }}</p>
                <p ng-show="data.no_of_employees" class="smbd">{{ data.no_of_employees }} employees</p>
                <p ng-show="data.revenue_pa">Annual revenue: {{ data.revenue_pa | dottedInteger }}.00 €</p>
                <p ng-show="data.funding_amount">VC Founding amount: {{ data.funding_amount | dottedInteger }}.00 €</p>
                <a class="mrg-btm-small no-marg-top link-blue smbd" target="_blank" ng-href="{{ data.website }}">
                  {{ data.website }}
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 border-box mrg-btm padd-vert" ng-if="data.benefits.length || data.other_benefits">
            <div class="box-title box-title_left mrg-btm gray-darker">BENEFITS</div>
            <hc-benefits-display col-class="col-sm-12 employer-benefit-icon"
                                 list-class="row"
                                 benefits="data.benefits"
                                 other-benefits="data.other_benefits"></hc-benefits-display>

          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-8 bg-white">
            <div class="row">
              <div class="col-sm-12">
                <div class="user-desc">
                  <div>
                    <h2 class="main-title">
                      {{ data.company_name }}
                    </h2>
                  </div>
                  <div class="emp-off-desc">
                    <div ng-bind-html="data.mission_text"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 bg-white user-desc">
            <div class="row">
              <div class="buttons-wrap">

                <div ng-if="can_act">
                  <div class="fw btn-fake bg-blue-light" ng-if="candidate_is_bookmarked">interview requested</div>
                  <button type="button"
                          class="fw btn bg-green"
                          ng-show="!candidate_is_bookmarked"
                          ng-click="employerProfile.toogleBookmark()">
                    Request an interview
                  </button>
                </div>
                <div ng-if="candidate_is_blacklisted">
                  <div class="fw btn-fake bg-blue-light">BLACKLISTED</div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="row mrg-btm">
          <div class="col-sm-12 border-box skills-box">
            <div class="row">
              <div class="col-sm-3">
                <div class="skills-head">
                  <div class="big-title skills-title">TECH</div>
                  <span ng-show="data.tech_team_size"><span class="smbd">Team size</span> </br> {{ data.tech_team_size }}</span>
                </div>
              </div>
              <div class="col-sm-9">
                <div class="skills-wrap row">
                  <div class="col-sm-4" ng-repeat="tag in data.tech_tags">
                    <div class="skills-item alg-left"><i class="fa fa-rocket"></i> {{ tag }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row bg-white mrg-btm">
          <div class="col-sm-12 pad-top-10">
            <div class="accordion-wrap">
              <div ng-show="data.tech_team_philosophy">
                <h3 class="accordion-subtitle">Technology Philosophy</h3>
                <p class="pad-btm-15" ng-bind-html="data.tech_team_philosophy"></p>
              </div>
              <div ng-show="data.recruitment_process">
                <h3 class="accordion-subtitle">Hiring process</h3>
                <p class="pad-btm-15" ng-bind-html="data.recruitment_process"></p>
              </div>
              <div ng-show="data.training_policy">
                <h3 class="accordion-subtitle">Training policy</h3>
                <p class="pad-btm-15" ng-bind-html="data.training_policy"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

