<div class="component-candidate-employer-profile row" ng-show="ready">
  <div class="col-sm-6 col-sm-offset-3">

    <button class="btn btn-default"
      ng-class="{ active: isBookmarked }"
      ng-click="employerProfile.toogleBookmark()">
      Bookmark
    </button>

    <div class="page-header">
      <h1>
        <img class="logo" ng-show="data.logo_url" ng-src="{{ data.logo_url }}">
        <small>{{ data.company_name }}</small>
      </h1>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Company</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Status</dt>
          <dd>{{ data.status }}</dd>
          <dt>Website</dt>
          <dd>{{ data.website }}</dd>
          <dt ng-show="data.fb_url">Facebook</dt>
          <dd ng-show="data.fb_url"><a ng-href="{{ data.fb_url }}">{{ data.fb_url }}</a></dd>
          <dt ng-show="data.linkedin_url">Linked in</dt>
          <dd ng-show="data.linkedin_url"><a ng-href="{{ data.linkedin_url }}">{{ data.linkedin_url }}</a></dd>
          <dt ng-show="data.founding_year">Founding year</dt>
          <dd ng-show="data.founding_year">{{ data.founding_year }}</dd>
          <dt ng-show="data.funding_amount">Founding amount</dt>
          <dd ng-show="data.funding_amount">{{ data.funding_amount | dottedInteger }}€</dd>
          <dt ng-show="data.revenue_pa">Revenue</dt>
          <dd ng-show="data.revenue_pa">{{ data.revenue_pa | dottedInteger }}€</dd>
          <dt ng-show="data.no_of_employees">Number of employees</dt>
          <dd ng-show="data.no_of_employees">{{ data.no_of_employees }}</dd>
          <dt ng-show="data.tech_team_size">Tech team size</dt>
          <dd ng-show="data.tech_team_size">{{ data.tech_team_size }}</dd>

          <dt>Company Description</dt>
          <dd ng-bind-html="data.mission_text"></dd>

          <dt>Recruitment process</dt>
          <dd>{{ data.recruitment_process }}</dd>
          <dt ng-show="data.training_policy">Training policy</dt>
          <dd ng-show="data.training_policy">{{ data.training_policy }}</dd>
          <dt>Benefits</dt>
          <dd>{{ data.benefits.join(', ') || 'none' }}</dd>
          <dt>Address</dt>
          <dd>
            <address>
              {{ data.address_line1 }}<br>
              {{ data.address_line2 }}<br ng-if="data.address_line2">
              {{ data.address_line3 }}<br ng-if="data.address_line3">
              {{ data.address_city.city }},
              {{ data.address_city.country_iso }}
              {{ data.address_zipcode }}
            </address>
          </dd>
        </dl>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Contact</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd>{{ data.contact_name }}</dd>
          <dt ng-show="data.contact_position">Position</dt>
          <dd ng-show="data.contact_position">{{ data.contact_position }}</dd>
          <dt>Phone</dt>
          <dd>{{ data.contact_phone }}</dd>
          <dt>Email</dt>
          <dd>{{ data.contact_email }}</dd>
        </dl>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Technologies</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="tag in data.tech_tags">
          <span class="value">{{ tag }}</span>
        </li>
      </ul>
    </div>

    <div class="panel panel-default" style="display:none">
      <div class="panel-heading">
        <h3 class="panel-title">Offices</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="office in data.offices">
          <dl class="dl-horizontal">
            <dt>Website</dt>
            <dd>{{ office.website }}</dd>
            <dt>Contact name</dt>
            <dd>{{ office.contact_name }}</dd>
            <dt ng-show="office.contact_position">Contact position</dt>
            <dd ng-show="office.contact_position">{{ office.contact_position }}</dd>
            <dt>Contact phone</dt>
            <dd>{{ office.contact_phone }}</dd>
            <dt>Contact email</dt>
            <dd>{{ office.contact_email }}</dd>
            <dt>Address</dt>
            <dd>
              <address>
                {{ office.address_line1 }}<br>
                {{ office.address_line2 }}<br ng-if="office.address_line2">
                {{ office.address_line3 }}<br ng-if="office.address_line3">
                {{ office.address_city.city }},
                {{ office.address_city.country_iso }}
                {{ office.address_zipcode }}
              </address>
            </dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
</div>
