<div class="component-employer-signup-offices row" ng-show="ready">
  <div class="col-sm-8">
    <div class="col-sm-12 mrg-btm">
      <h3 class="signup-title">Offices</h3>

      <hc-offices
        name="list"
        hc-source="listOffices()"
        on-edit="update($entry, $index)"
        on-add="add($entry)"
        hc-editable="true"
        hc-remove-last="true">
      </hc-offices>
      <div class="buttons-wrap mrg-top-30 mrg-btm-30">
        <button type="button"
          class="fl-rg bg-green btn-small"
          ng-disabled="list.length === 0"
          ng-click="submit()">
          Continue
        </button>
      </div>
    </div>
  </div>

  <div class="col-sm-4 bg-gray-lighter2">
    <div class="padd-vert">
      <div class="box-title box-title_left mrg-btm gray-darker">
        Help</div>
      <div class="">
        <p>
          There will be a text written in here as it is at the candidate sign up forms.
        </p>
      
      </div>
    </div>
  </div>
</div>
