<%inherit file="../debug.html"/>


<%def name="title()">Admin</%def>
<%def name="tests()">
<script>
  var email = '${email.replace('@', "+employer-'+guid()+'@")|n}',
          tests = [

            {sectionTitle: 'Search'},
            {url: '/api/v1/admin/search/employers?q=Hack', title: 'admin-search-employers'},
            {url: '/api/v1/admin/search/candidates?q=Mapa', title: 'admin-search-candidates'},

            {sectionTitle: 'List Offers'},
            {url: '/api/v1/admin/offers?status=ACTIVE', title: 'admin-offers'},
            {url: '/api/v1/admin/offers?status=ACCEPTED', title: 'admin-offers'},
            {url: '/api/v1/admin/offers?status=INTERVIEW', title: 'admin-offers'},
            {url: '/api/v1/admin/offers?status=CONTRACT_SENT', title: 'admin-offers'},
            {url: '/api/v1/admin/offers?status=CONTRACT_RECEIVED', title: 'admin-offers'},
            {url: '/api/v1/admin/offers?status=CONTRACT_SIGNED', title: 'admin-offers'},
            {url: '/api/v1/admin/offers?status=JOB_STARTED', title: 'admin-offers'},
            {url: '/api/v1/admin/offers?status=EXPIRED', title: 'admin-offers', expectedErrors:[400]},
            {url: '/api/v1/admin/offers?status=xyz', title: 'admin-offers', expectedErrors:[400]},


            {sectionTitle: 'Invite'},
            {url: '/api/v1/admin/employers', title: 'admin-invite-employer',
              data: {company_name: 'Bob Corp ' + guid(), "email": email,
                'contact_first_name': 'Uncle',
                'contact_last_name': 'Bob',
                'contact_salutation': 'Mr',
                company_type:'startup'
              },
              extract: function (r, extr) {
                return {invite_token: r.invite_token}
              }},

            {url: '/api/v1/admin/employers/INVITED', title: 'admin-employers-invited'},

            {url: function(r, extr) { return '/api/v1/employers/invite/'+ extr.invite_token; },
              title: 'employer-invite-validate'},

            {url: function(r, extr) { return '/api/v1/employers/invite/'+ extr.invite_token; },
              data: {pwd: 'helloworld'},
              extract: function(r, extr){return {emplId: r.id}},
              title: 'employer-invite-respond'},

            {url: '/api/v1/employers/login', data: {email: email, pwd: 'helloworld'}, title: 'employer-login'},
            {url: '/api/v1/employers/me', title: 'employer-me'},

            {sectionTitle: 'Approval'},
            {url: '/api/v1/admin/employers/INVITED', title: 'admin-employers-invited'},
            {url: '/api/v1/admin/employers/SIGNEDUP', title: 'admin-employers-signedup'},
            {url: '/api/v1/admin/employers/APPLIED', title: 'admin-employers-applied'},
            {url: '/api/v1/employers/me/apply', title: 'admin-employer-apply', method:'PUT', data:{agreedTos: true}},
            {url: '/api/v1/admin/employers/APPLIED', title: 'admin-employers-applied'},

            {url: '/api/v1/admin/employers/APPROVED', title: 'admin-employers-approved'},

            {url: function(r, extr){return '/api/v1/admin/employers/'+extr.emplId+'/approve';},
              title: 'admin-approve-employer',
            },
            {url: '/api/v1/admin/employers/APPROVED', title: 'admin-employers-approved-2'},
            {url: '/api/v1/admin/employers/invalid', title: 'admin-employers-invalid', expectedErrors:[400]},
          ];

  $(function () {
    getTestRunner(tests)(0, {});
  })
</script>
</%def>
