<%inherit file="../debug.html"/>


<%def name="title()">Candidate</%def>
<%def name="scripts()">
<script src="/debug/static/candidate_signup.js"></script>
</%def>

<%def name="tests()">
<script>
var tmpemail = '${email.replace('@', "+candidate-'+guid()+'@")|n}',
  email = '${email.replace('@', "+candidate-'+guid()+'@")|n}',
  inviteCode = 'INVITE-CODE-'+ guid(),

  tests =
    [
      {title: "InviteCodes"},

      {url:'/api/v1/candidates/', title: 'candidate-signup-empty', data: {}, expectedErrors:[400]},

      {url:'/api/v1/admin/invite_codes?apikey=${apikey}', title: 'admin-create-invite-code',
        data: {code: inviteCode, description: "Baylays invite code TEST"}},


      {title: 'Signup - First Target Position & Preferred Location'},

      {url:'/api/v1/candidates/', title: 'candidate-email-signup-with-invite',
        data: {first_name: 'Bob', last_name: "Bayley", "email": tmpemail, pwd:"welcomepwd", 'invite_code':inviteCode, agreedTos: true},
        extract:   function(r, extr){return {candidateId: r.id, actToken: r.activation_token}}},
      {url:function(r, extr){return '/api/v1/candidates/' + extr.candidateId+'/target_position'}, title: 'candidate-TP-empty-location',
        method: 'PUT', data: {}, expectedErrors:[400]},
      {url: function(r, extr){return '/api/v1/candidates/' + extr.candidateId+'/target_position'}, title: 'signup-target_position',
        method:"PUT", data: {"role":"Software Development (general)", "skills": ["Python", "PHP"], minimum_salary: 100000}
      },

      {url: function(r, extr){return '/api/v1/candidates/' + extr.candidateId+'/target_position'}, title: 'edit-target_position',
        method:"PUT", data: {"role":"Software Development (general)", "skills": ["Python", "Java"], minimum_salary: 9999}
      },

      {url: '/api/v1/candidates/me/signup_stage', title: 'candidate-stage-TargetPosition', expectedErrors: [403]},
      {title: 'Signup - Second Email & Password'},

      {url: function(r, extr){return '/api/v1/candidates/me?apikey=${apikey}'}, title: 'candidate-with-invite-delete', method:"DELETE"},
      {url:'/api/v1/admin/invite_codes?apikey=${apikey}', title: 'admin-show-invite-codes'},

      {title: "Signup"},
    ].concat(

      CANDIDATE_SIGNUP(email).concat([

        {url: '/api/v1/candidates/me', title: 'candidate-me'},
        {url: '/api/v1/candidates/me', title: 'candidate-me-locale-de', method: 'PUT', data:{'locale': 'de'}},
        {url: '/api/v1/candidates/me', title: 'candidate-me'},

        {url: '/api/v1/candidates/me/signup_stage', title: 'candidate-stage-base'},


        {url: '/api/v1/candidates/me/picture', title: 'candidate-me-picture',
          data: {url: 'https://media.licdn.com/mpr/mpr/shrink_120_120/p/8/005/02b/072/128f576.jpg'}},

        {title: 'candidate-me-picture-get',
          execute: function(root, extr){
            root.append('<img src="/api/v1/candidates/me/picture"/>')
          }
        },

        {url: '/api/v1/candidates/me', title: 'candidate-edit-me', method: 'PUT',

          data:{
            first_name: 'Harold',
            last_name: 'Lucky-One',
            contact_phone: '+40 243564375',
            contact_skype: 'super.skype.name',
            contact_line1: 'Super Duper Street 94',
            contact_line2: 'Line 2 Area',
            contact_zipcode: '34567',
            contact_city: 'Berlin+Super+Town+It was my idea',
            contact_country_iso: 'DE',
            dob: '2000-02-28',
            pob: 'Krakow, Poland',
            eu_work_visa: true,
            cv_upload_url: 'http://a-url-with-the-cv-document.com',
            stackoverflow_url: 'http://meta.stackexchange.com/users/183471/goje87',
            github_url: 'https://github.com/MartinPeschke'

          }},
        {url: '/api/v1/candidates/me', title: 'candidate-me-2'},

        {title: 'Password Forgot'},
        {url: '/api/v1/candidates/requestpassword', title: 'candidate-pwd-forgot', data: {email: email},
          extract: function(r, extr){return {pwdToken: r.token}}},
        {url: function(r, extr){ return '/api/v1/candidates/resetpassword/'+extr.pwdToken;}, title: 'candidate-pwd-validate-token'},
        {url: function(r, extr){ return '/api/v1/candidates/resetpassword/'+extr.pwdToken;}, title: 'candidate-pwd-reset', data: {pwd: 'helloworld'}},
        {url: function(r, extr){return '/api/v1/candidates/login'}, title: 'candidate-login-after pwd-reset',
          data: {"email": email, pwd:"helloworld"}
        },

        {title: 'Work Experience'},
        {url: function(r, extr){return '/api/v1/candidates/me/work_experience'}, title: 'list-work_experience'},
        {url: function(r, extr){return '/api/v1/candidates/me/work_experience'}, title: 'create-work_experience',
          data: {"company": "Intel Corp.", "role":"Quality Assurance",
            "city": "ÜberSigourney Fanatastic Not Existing Town", country_iso: 'DE',
            "start":"2004-01-01", summary:"Design of Intelligent Protoplasma"},
          extract:   function(r, extr){return {work_experienceId: r.id}}},
        {url: function(r, extr){return '/api/v1/candidates/me/work_experience'}, title: 'create-work_experience-2',
          data: {"company": "Intel Corp.", "role":"Quality Assurance",
            skills : ['Skill1', 'Skill2', 'Skill3'],
            "city": "Berlin", country_iso: 'DE', "start":"2004-04-01", "end": "2004-05-01", summary:"Design of Intelligent Protoplasma"}},
        {url: function(r, extr){return '/api/v1/candidates/me/work_experience'}, title: 'list-work_experience-2'},
        {url: function(r, extr){return '/api/v1/candidates/me/work_experience/'+extr.work_experienceId}, title: 'delete-work_experience', method:"DELETE"},
        {url: function(r, extr){return '/api/v1/candidates/me/work_experience'}, title: 'list-work_experience-3'},



        {title: 'Work Experience Duplicates'},

        {url: function (r, extr) {
          return '/api/v1/candidates/me/work_experience'
        }, title: 'SET-4-work-experiences-twice-same',
          method: 'PUT',
          data: [
            {"company": "Intel Corp.", "role": "Project Architect", skills: ['PHP', "Phillips", "Volta"],
              "city": "ÜberSigourney Fanatastic Not Existing Town", country_iso: 'DE',
              "start": "2000-02-29", summary: "Design of Intelligent Protoplasma"},
            {"company": "Intel Corp.", "role": "Project Architect", skills: ['PHP', "Phillips", "Volta"],
              "city": "ÜberSigourney Fanatastic Not Existing Town", country_iso: 'DE',
              "start": "2000-02-29", summary: "Design of Intelligent Protoplasma"},

          ],
          extract: function (r, extr) {
            return {work_experienceId: r.id}
          }},

        {url: function (r, extr) {
          return '/api/v1/candidates/me/work_experience'
        }, title: 'SET-4-work-experiences',
          method: 'PUT',
          data: [
            {"company": "Intel Corp.", "role": "Project Architect", skills: ['PHP', "Phillips", "Volta"],
              "city": "ÜberSigourney Fanatastic Not Existing Town", country_iso: 'DE',
              "start": "2000-02-29", summary: "Design of Intelligent Protoplasma"},
          ],
          extract: function (r, extr) {
            return {work_experienceId: r.id}
          }},

        {url: function (r, extr) {
          return '/api/v1/candidates/me/work_experience'
        }, title: 'list-work_experience-4'},


        {url: function(r, extr){return '/api/v1/candidates/me/work_experience'}, title: 'SET-4-work-experiences-1-wrong',
          method: 'PUT',
          data: [ {"company": "Intel Corp.", "role":"Quality Assurance",
            "city": "ÜberSigourney Fanatastic Not Existing Town", country_iso: 'DE',
            "start":"2000-02-29", summary:"Design of Intelligent Protoplasma"},
            {"company": "Alpha Corp.", "start":"2004-03-31"},
            {"company": "Sigma Corp.", summary: 'SUMMARY', end:'2006-01-31'},
            {"company": "Omega Corp.", "start":"2010-01-01", role: 'MD'},
          ],
          expectedErrors: [400]},

        {url: function(r, extr){return '/api/v1/candidates/me/work_experience'}, title: 'SET-4-work-experiences-3-wrong',
          method: 'PUT',
          data: [ {"role":"Quality Assurance",
            "city": "ÜberSigourney Fanatastic Not Existing Town", country_iso: 'DE',
            "start":"2000-02-29", summary:"Design of Intelligent Protoplasma"},
            {"company": "Alpha Corp."},
            {"company": "Sigma Corp.", "start":"2005-12-31", summary: 'SUMMARY', end:'2006-01-31'},
            {},
          ],
          expectedErrors: [400]},

        {url: function(r, extr){return '/api/v1/candidates/me/work_experience'}, title: 'SET-4-work-experiences',
          method: 'PUT',
          data: [ {"company": "Intel Corp.", "role":"Quality Assurance",
            "city": "ÜberSigourney Fanatastic Not Existing Town", country_iso: 'DE',
            "start":"2000-02-29", summary:"Design of Intelligent Protoplasma"},
            {"company": "Alpha Corp.", "start":"2004-03-31"},
            {"company": "Sigma Corp.", "start":"2005-12-31", summary: 'SUMMARY', end:'2006-01-31'},
            {"company": "Omega Corp.", "start":"2010-01-01", role: 'MD'},
          ],
          extract:   function(r, extr){return {work_experienceId: r.id}}},

        {url: function(r, extr){return '/api/v1/candidates/me/work_experience'}, title: 'list-work_experience-4'},
        {url: '/api/v1/candidates/me/signup_stage', title: 'candidate-stage-WorkExperience'},


        {title: 'Education'},
        {url: function(r, extr){return '/api/v1/candidates/me/education'}, title: 'list-education'},
        {url: function(r, extr){return '/api/v1/candidates/me/education'}, title: 'create-education',
          data: {"institution": "Eidgenössische Technische Hochschule Zürich, Switzerland",
            degree: 'NEWDEGREE-'+guid(), "start":1992, course:"Programming"}},
        {url: function(r, extr){return '/api/v1/candidates/me/education'}, title: 'create-education',
          data: {"institution": "Eidgenössische Technische Hochschule Zürich, Switzerland", "degree":null,
            "start":1999, course:"Design of Intelligent Protoplasma"},
          extract:   function(r, extr){return {educationId: r.id}}},
        {url: function(r, extr){return '/api/v1/candidates/me/education'}, title: 'create-education-2',
          data: {"institution": "Peking University, China", "degree":"Master",
            "start":2005, "end": 2007, course:"Cleanup of Intelligent Protoplasma"}},
        {url: function(r, extr){return '/api/v1/candidates/me/education'}, title: 'list-education-2'},
        {url: function(r, extr){return '/api/v1/candidates/me/education/'+extr.educationId}, title: 'delete-education', method:"DELETE"},
        {url: function(r, extr){return '/api/v1/candidates/me/education'}, title: 'list-education-3'},

        {url: function(r, extr){return '/api/v1/candidates/me/education'}, title: 'SET-3-education-1-wrong',
          method: 'PUT',
          data: [
            {"institution": "Eidgenössische Technische Hochschule Zürich, Switzerland",
              degree: 'NEWDEGREE-'+guid(), "start":1992, course:"Programming"},
            {"institution": "RWTH Aachen", "start":1994},
            {"institution": "Universität Konstanz"}
          ],
          expectedErrors: [400]
        },

        {url: function(r, extr){return '/api/v1/candidates/me/education'}, title: 'SET-4-education-3-wrong',
          method: 'PUT',
          data: [
            {"institution": "Eidgenössische Technische Hochschule Zürich, Switzerland",
              degree: 'NEWDEGREE-'+guid(), "start":1992, course:"Programming", end:2010},
            {degree: '', institution: ''},
            {"institution": "Universität Konstanz"},
            {"institution": "Universität Konstanz", start: 2000, end: 1990}
          ],
          expectedErrors: [400]
        },

        {url: function(r, extr){return '/api/v1/candidates/me/education'}, title: 'SET-3-education',
          method: 'PUT',
          data: [
            {"institution": "Eidgenössische Technische Hochschule Zürich, Switzerland",
              degree: 'NEWDEGREE-'+guid(), "start":1992, end:2010, course:"Programming"},
            {"institution": "RWTH Aachen", "start":1994},
            {"institution": "Universität Konstanz",
              degree: 'MD', "start":1997, course:"Oncology"},
          ]
        },

        {url: function(r, extr){return '/api/v1/candidates/me/education'}, title: 'list-education-4'},



        {title: 'Education Duplicates'},

        {url: '/api/v1/candidates/me/education', title: 'SET-3-education-twice-same',
          method: 'PUT',
          data: [
            {"institution": "Eidgenössische Technische Hochschule Zürich, Switzerland",
              degree: 'NEWDEGREE-'+guid(), "start":1992, end:2010, course:"Programming"},
            {"institution": "Eidgenössische Technische Hochschule Zürich, Switzerland",
              degree: 'NEWDEGREE-'+guid(), "start":1992, end:2010, course:"Programming"},
          ]
        },

        {url: '/api/v1/candidates/me/education', title: 'SET-3-education',
          method: 'PUT',
          data: [
            {"institution": "Eidgenössische Technische Hochschule Zürich, Switzerland",
              degree: 'NEWDEGREE-'+guid(), "start":1992, end:2010, course:"Programming"},
          ]
        },
        {url: '/api/v1/candidates/me/education', title: 'LIST-3-education'},

        {title: 'Additional Education & Work experience'},
        {url: '/api/v1/candidates/me/signup_stage/no_more', data: {'name': 'xyz'}, title: 'candidate-no_additional_false', expectedErrors:[400]},
        {url: '/api/v1/candidates/me/signup_stage/no_more', data: {'name': 'work_experience'}, title: 'candidate-no_additional_wxp'},
        {url: '/api/v1/candidates/me/signup_stage/no_more', data: {'name': 'education'}, title: 'candidate-no_additional_edu'},



        {url: '/api/v1/candidates/me/signup_stage', title: 'candidate-stage-Education'},


        {title: 'Languages'},
        {url: function(r, extr){return '/api/v1/candidates/me/languages'},
          title: 'set-languages-1', method:'PUT', data: [
          {'language':'English', 'proficiency': 'advanced'},
          {'language':'German', 'proficiency': 'native'},
          {'language':'French', 'proficiency': 'basic'}
        ]},
        {url: function(r, extr){return '/api/v1/candidates/me/languages'},
          title: 'set-languages-2', method:'PUT', data: [
          {'language':'Chinese', 'proficiency': 'native'},
          {'language':'English', 'proficiency': 'basic'}
        ]},
        {url: function(r, extr){return '/api/v1/candidates/me'}, title: 'get-candidate-languages'},
        {url: '/api/v1/candidates/me/signup_stage', title: 'candidate-stage-languages'},


        {title: 'Preferred Locations'},
        {url: function(r, extr){return '/api/v1/candidates/me/preferred_locations'},
          title: 'set-preferred_locations-1', method:'PUT',
          data: {DE: ['Berlin', 'Leipzig', 'Hamburg'], BR: ['Uberlândia']}},
        {url: function(r, extr){return '/api/v1/candidates/me/preferred_locations'},
          title: 'set-preferred_locations-2', method: 'PUT',
          data: {'DE': ['Berlin Schöneberg']}},
        {url: function(r, extr){return '/api/v1/candidates/me/preferred_locations'},
          title: 'set-locations-dontcare-1', method:'PUT',
          data: {DE: ['Berlin', 'Leipzig', 'Hamburg'], BR: null}},
        {url: function(r, extr){return '/api/v1/candidates/me/preferred_locations'},
          title: 'set-locations-dontcare-2', method:'PUT',
          data: {DE: ['Berlin', 'Leipzig', 'Hamburg'], BR: []}},
        {url: function(r, extr){return '/api/v1/candidates/me/preferred_locations'},
          title: 'set-locations-dontcare-3', method:'PUT',
          data: {DE: null}},
        {url: function(r, extr){return '/api/v1/candidates/me'}, title: 'get-candidate-preferred_locations'},

        {url: function(r, extr){return '/api/v1/candidates/me/preferred_locations'},
          title: 'set-preferred_locations-empty', method:'PUT', data: {}, expectedErrors: [400]
        },
        {url: function(r, extr){return '/api/v1/candidates/me/preferred_locations'},
          title: 'set-preferred_locations-1', method:'PUT',
          data: {DE: ['Berlin', 'Leipzig', 'Hamburg'], BR: ['Uberlândia']}},

        {title: 'Skills'},
        {url: function(r, extr){return '/api/v1/candidates/me/skills'},
          title: 'set-skills', method:'PUT', data: [
          {"skill": "PHP", "level":"advanced"},
          {"skill": "Java", "level":"advanced"},
          {"skill": "Python", "level":"basic"},
          {"skill": "Spring", "level":"expert"},
          {"skill": "SingStar"},
          {"skill": "SegaGames", level:null}
        ],
          extract:   function(r, extr){return {skillId: r.id}}},

        {url: function(r, extr){return '/api/v1/candidates/me/skills'},
          title: 'set-skills-2', method:'PUT', data: [
          {"skill": "PHP", "level":"basic"}, {"skill": "Python", "level":"expert"}],
          extract:   function(r, extr){return {skillId: r.id}}},
        {url: function(r, extr){return '/api/v1/candidates/me'}, title: 'get-candidate-skills'},
        {url: '/api/v1/candidates/me/signup_stage', title: 'candidate-stage-skills'},

        {url:function(r, extr){return '/api/v1/admin/candidates/'+extr.candidateId+'/approve?apikey=${apikey}';}, title: 'admin-approve-candidates'},
        {url: '/api/v1/candidates/me/signup_stage', title: 'candidate-stage-approved'},

        {'sectionTitle': 'Profile Completion'},

        {url: function(r, extr){return '/api/v1/candidates/me/profile_completion'}, title: 'profile-completion-workflow'},
        {url: function(r, extr){return '/api/v1/candidates/me'}, title: 'profile-complete-summary',
          data: {'summary': 'a long text and lots of information'}, method:'PUT'},
        {url: function(r, extr){return '/api/v1/candidates/me/profile_completion'}, title: 'profile-completion-workflow'},

        {url: function(r, extr){return '/api/v1/candidates/me'}, title: 'profile-complete-summary',
          data: {'availability': 'Ill be available'}, method:'PUT'},
        {url: function(r, extr){return '/api/v1/candidates/me/profile_completion'}, title: 'profile-completion-workflow'},

        {'sectionTitle': 'Cleanup'},
        {url: function(r, extr){return '/api/v1/candidates/logout'}, title: 'candidate-logout'},
        {url: '/api/v1/login', data: {"email": email, pwd:"helloworld"}, title: 'unified-login'},
        {url: function(r, extr){return '/api/v1/candidates/logout'}, title: 'candidate-logout'},
        {url: function(r, extr){return '/api/v1/candidates/'+extr.candidateId+'?apikey=${apikey}'}, title: 'candidate-delete', method:"DELETE"},
        {url: function(r, extr){return '/api/v1/candidates/login'}, title: 'candidate-login-after-delete',
          data: {"email": email, pwd:"helloworld"}, expectedErrors:[404]
        },
        {url: '/api/v1/login', title: 'unified-login-after-delete',
          data: {"email": email, pwd:"helloworld"}, expectedErrors:[404]
        },
      ]));

$(function(){getTestRunner(tests)(0, {});})
</script>
</%def>
