<%inherit file="../debug.html"/>


<%def name="title()">Candidate Search</%def>

<%def name="tests()">
<script>
    var tmpemail = '${email.replace('@', "+candidate-'+guid()+'@")|n}',
            email = '${email.replace('@', "+candidate-'+guid()+'@")|n}',
            inviteCode = 'INVITE-CODE-'+ guid(),
            tests = [
                {url: '/api/v1/candidates/advancedsearch', METHOD: "post",
                    title: 'candidate-adv-search', data: {'salary': 20000000}},
                {url: '/api/v1/candidates/advancedsearch', METHOD: "post",
                    title: 'candidate-adv-search-QA', data: {'salary': 20000000, role: 'Quality Assurance'}},
                {url: '/api/v1/candidates/advancedsearch', METHOD: "post",
                    title: 'candidate-adv-search-QA-DE-Berlin',
                    data: {'salary': 20000000, role: 'Quality Assurance', 'locations': [{city: 'Berlin', 'country_iso':'DE'}]}},
                {url: '/api/v1/candidates/advancedsearch', METHOD: "post",
                    title: 'candidate-adv-search-DE-Berlin',
                    data: {'locations': [{city: 'Berlin', 'country_iso':'DE'}]}},
                {url: '/api/v1/candidates/advancedsearch', METHOD: "post",
                    title: 'candidate-adv-search-DE-Berlin-Skills',
                    data: {'locations': [{city: 'Berlin', 'country_iso':'DE'}], 'skills': ['Magento', 'Java', 'PHP']}},
        ];

    $(function(){getTestRunner(tests)(0, {});})
</script>
</%def>
