<%inherit file="../debug.html"/>


<%def name="title()">Candidate Suggestions</%def>
<%def name="scripts()">
<script src="/debug/static/employer_signup.js"></script>
<script src="/debug/static/candidate_signup.js"></script>
</%def>
<%def name="tests()">
<script>
  var cand_email = '${email.replace('@', "+candidate-'+guid()+'@")|n}',
    emp_email = '${email.replace('@', "+employer-'+guid()+'@")|n}',
    emp2_email = '${email.replace('@', "+employer-'+guid()+'@")|n}',

    tests = CANDIDATE_SIGNUP(cand_email).concat(EMPLOYER_SIGNUP(emp_email)).concat([

      {sectionTitle: 'SINGLE SUGGESTION'},
      {url: function(r, extr){ return '/api/v1/admin/candidates/'+extr.candidateId+'/suggested_to?apikey=${apikey}'}, title: 'get-suggestions'},
      {url: function(r, extr){ return '/api/v1/admin/candidates/'+extr.candidateId+'/suggested_to?apikey=${apikey}'},
        data: function(r, extr){ return {id: extr.employerId};}, title: 'add-suggestion'},

      {url: function(r, extr){ return '/api/v1/admin/candidates/'+extr.candidateId+'/send_suggestion?apikey=${apikey}'},
        data: function(r, extr){ return {id: extr.employerId};}, title: 'send-suggestion-email'},

            {url: function(r, extr){ return '/api/v1/admin/candidates/'+extr.candidateId+'/suggested_to?apikey=${apikey}'}, title: 'get-suggestions-after-first-email'},

      {url: function(r, extr){ return '/api/v1/admin/candidates/'+extr.candidateId+'/send_suggestion?apikey=${apikey}'},
        data: function(r, extr){ return {id: extr.employerId};}, title: 'send-suggestion-email-again'},

      {url: function(r, extr){ return '/api/v1/admin/candidates/'+extr.candidateId+'/suggested_to?apikey=${apikey}'}, title: 'get-suggestions-after-second-email'},
      {url: function(r, extr){ return '/api/v1/employers/'+extr.employerId+'/suggested/candidates'}, title: 'get-employer-suggestions'},
      {url: function(r, extr){ return '/api/v1/admin/candidates/'+extr.candidateId+'/suggested_to?apikey=${apikey}'},
        data: function(r, extr){ return {id: extr.employerId};}, title: 'delete-suggestion', method: 'DELETE'},
      {url: function(r, extr){ return '/api/v1/admin/candidates/'+extr.candidateId+'/suggested_to?apikey=${apikey}'}, title: 'get-suggestions'},

      {url: function(r, extr){ return '/api/v1/employers/'+extr.employerId+'/suggested/candidates'}, title: 'get-employer-suggestions'},

      {url: function(r, extr){ return '/api/v1/admin/candidates/'+extr.candidateId+'/suggested_to?apikey=${apikey}'},
        data: function(r, extr){ return {id: extr.employerId};}, title: 'add-suggestion'},
      {sectionTitle: 'Create 2nd employer'},

    ]).concat(EMPLOYER_SIGNUP(emp2_email)).concat([
      {sectionTitle: 'Suggest 2nd employer'},

      {url: function(r, extr){ return '/api/v1/admin/candidates/'+extr.candidateId+'/suggested_to?apikey=${apikey}'},
        data: function(r, extr){ return {id: extr.employerId};}, title: '2nd-add-suggestion'},

      {url: function(r, extr){ return '/api/v1/admin/candidates/'+extr.candidateId+'/suggested_to?apikey=${apikey}'}, title: '2nd-get-suggestions'},
      {url: function(r, extr){ return '/api/v1/employers/'+extr.employerId+'/suggested/candidates'}, title: '2nd-get-employer-suggestions'},

      {url: function(r, extr){ return '/api/v1/employers/'+extr.employerId+'/suggested/candidates'},
        data:function(r, extr){ return {id: extr.candidateId}}, method: 'DELETE', title: 'not-interested-in-suggestion'},

      {url: function(r, extr){ return '/api/v1/employers/'+extr.employerId+'/suggested/candidates'}, title: '3rd-get-employer-suggestions'},
      {url: function(r, extr){ return '/api/v1/admin/candidates/'+extr.candidateId+'/suggested_to?apikey=${apikey}'}, title: '3rd-get-suggestions'},
    ]);

  $(function () {
    getTestRunner(tests)(0, {});
  })
</script>
</%def>
