  <form role="form" name="formTarget1"
    class="component-candidate-signup-target1"
    ng-submit="signupTarget1.submit()">

    <h3>Sign up - Target position</h3>

    <div class="form-group">
      <label class="required">Skill</label>
      <input type="text"
        class="form-control"
        name="skill"
        required
        ng-model="signup.target.skill"
        typeahead="skill for skill in signupTarget1.searchSkills($viewValue)">

      <div class="form-error" ng-show="formTarget1.skill.$dirty && formTarget1.skill.$invalid">
        <span ng-show="formTarget1.skill.$error.required">Please insert your skill.</span>
      </div>
    </div>

    <div class="form-group">
      <label class="required">Role</label>
      <input type="text"
        class="form-control"
        name="role"
        required
        ng-model="signup.target.role"
        typeahead="role for role in signupTarget1.searchRoles($viewValue)">

      <div class="form-error" ng-show="formTarget1.role.$dirty && formTarget1.role.$invalid">
        <span ng-show="formTarget1.role.$error.required">Please insert your role.</span>
      </div>
    </div>

    <div class="form-group">
      <label class="required">Company Type</label>
      <select
        class="form-control"
        name="companyType"
        required
        ng-model="signup.target.company_type"
        ng-options="type for type in companyTypes">
        <option value="">Select one</option>
      </select>

      <div class="form-error"ng-show="formTarget1.companyType.$dirty && formTarget1.companyType.$invalid">
        <span>Please select your's company type.</span>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" ng-disabled="loading">Continue</button>
    </div>
  </form>
