<div class="form-group" ng-show="!linkedin.isConnected">
  <div class="col-sm-12">
    <hc-linkedin-connect ng-click="linkedin.connect()"></hc-linkedin-connect>
  </div>
</div>


<div class="form-group" ng-show="!xing.isConnected">
  <div class="col-sm-12">
    <hc-xing-connect ng-click="xing.connect()"></hc-xing-connect>
  </div>
</div>


<script>
  window.__thefc_config = {"dataUrl": "http://widget.thefc.frf.me","widgetBase": "http://thefc.frf.me/widget","apiKey": "10519b8e-a30a-4922-aadd-8fdaba638804"};
  (function (){var a=window.__thefc_config,b=document.createElement("script");
    b.src=a.widgetBase+"/widget.js";b.async=!0;var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)})();</script>