<div class="component-candidate-offer" ng-if="ready">
  <div class="inner">
    <div class="row no-gutter mrg-btm">
      <div class="col-sm-3">
        <div class="user-pic mrg-btm" style="background-image: url({{ user.picture_url }})"></div>
        <div class="rel">
          <div class="row timeline-head no-gutter">
            <div class="col-sm-2 no-padd-horz">
              <div class="dot"><i class="fa fa-circle"></i></div>
            </div>
            <div class="col-sm-10">{{ offer.data.created | moment:"MMMM Do, YYYY" }}</div>
          </div>
          <div class="timeline">
            <div class="gray-bar"></div>
          </div>
          <!-- @TODO implement offer timeline -->
          <div class="timeline-item" ng-repeat="entry in news">
            <div class="col-sm-2 no-padd-horz">
              <div class="news-ico
  news-ico-profile-pending
  news-ico-profile-live
  news-ico-offer-received
  news-ico-offer-rejected
  news-ico-offer-accepted
  news-ico-offer-negotiation
  news-ico-offer-signed
  news-ico-offer-start-date
  news-ico-offer-bookmarked-employer"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <h2 class="main-title-blue">Offer <a href="#">view candidate Profile <i class="fa fa-angle-right"></i></a></h2>
        <div class="bg-white emp-off-desc mrg-btm">
          <div class="">
            <h3 class="main-subtitle"><span>{{ offer.data.role }}</span> at {{ offer.employer.company_name }}</h3>
          </div>
          <!-- @TODO: implement candidate summary -->
          <div>
            <p>This is the candidates summary. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula egete dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. These are 250 characters.</p>
          </div>
        </div>
        <div class="bg-white emp-off-desc">
          <div class="">
            <h3 class="main-subtitle">Job description</h3>
          </div>
          <div>
            <p ng-bind-html="offer.data.job_description"></p>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="btn btn-block bg-gray-light">Offer accepted</div>
        <div class="bg-yellow pad-20 mrg-btm">
          <div class="white">
            <span class="iconParent"><i class="fa fa-euro"></i></span>
            {{ offer.data.annual_salary | dottedInteger }}.00 / year
          </div>
          <div class="white">
            <span class="iconParent"><i class="fa fa-location-arrow"></i></span>
            {{ offer.data.location.city }}, {{ offer.data.location.country_iso }}
          </div>
          <div class="box-title box-title_left"></div>
          <div class="white clearfix ">
            <div class="col-sm-12 mrg-btm-small" ng-repeat="tech in offer.data.technologies">
              <span class="iconParent"><i class="fa fa-asterisk"></i></span><span>{{ tech }}</span>
            </div>
          </div>
          <div class="box-title box-title_left"></div>
          <div class="white clearfix skills-wrap-right">
            <div class="label-wrap">
              <div class="col-sm-6 mrg-btm-small" ng-repeat="benefit in offer.data.benefits">
                <label><input type="checkbox" name="reject" checked> {{ benefit }}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-gray-light pad-20 mrg-btm">
          <div class="box-title box-title_left">Hiring process</div>
          <p class="gray" ng-bind-html="offer.data.interview_details"></p>
        </div>
      </div>
    </div>
  </div>
</div>







