<div class="component-employer-dashboard" ng-show="ready">
  <div class="inner">
    <div class="status-wrap"><a ui-sref="search-candidates">Search candidates</a> </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="row timeline-head">
          <div class="col-sm-2 no-padd-right">
            <div class="dot"><i class="fa fa-circle"></i></div>
          </div>
          <div class="col-sm-10 date">{{ today | momentDate }}</div>
        </div>

        <div class="row">
          <div class="timeline">
            <div class="gray-bar"></div>
            <div class="timeline-start"></div>
          </div>
        </div>

        <div class="row timeline-item" ng-repeat="entry in news">
          <div class="col-sm-2 no-padd-right rel">
            <div class="news-ico" ng-class="{
              'news-ico-profile-signup': entry.name === 'SIGN_UP',
              'news-ico-profile-pending': entry.name === 'PROFILE_PENDING',
              'news-ico-profile-live': entry.name === 'PROFILE_LIVE',
              'news-ico-offer-bookmarked-employer': entry.name === 'BOOKMARKED',
              'news-ico-offer-received': entry.name === 'OFFER_RECEIVED',
              'news-ico-offer-accepted': entry.name === 'OFFER_ACCEPTED',
              'news-ico-offer-rejected': entry.name === 'OFFER_REJECTED',
              'news-ico-offer-something': entry.name === 'OFFER_SENT',
              'news-ico-offer-start-date': entry.name === 'OFFER_START_DATE',
              'news-ico-offer-negotiation': entry.name === 'OFFER_NEGOTIATION',
              'news-ico-offer-signed': entry.name === 'OFFER_SIGNED',
            }"></div>
          </div>
          <div class="col-sm-10">
            <div class="date">{{ entry.date | timeAgoIf:'yesterday' }}</div>
            <div class="note">{{ getTimelineText(entry.name, offer) }}</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12 bg-gray-light mrg-btm">
            <div class="search-box">
              <h4 class="search-box-title">Search for candidates</h4>
              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-sm-3 search-label">Skills</div>
                    <div class="col-sm-9">
                      <hc-label-typeahead
                        placeholder="Skills"
                        ng-model="terms"
                        hc-source="dashboard.searchSkills($viewValue)"
                        on-change="dashboard.search()">
                      </hc-label-typeahead>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-sm-3 search-label">Location</div>
                    <div class="col-sm-9">
                      <input type="text"
                        class="form-control"
                        placeholder="Location"
                        ng-disabled="!terms.length"
                        ng-model="locationText"
                        ng-blur="dashboard.setLocation(locationText)"
                        typeahead-on-select="dashboard.setLocation(locationText)"
                        typeahead="location for location in dashboard.searchLocations($viewValue)">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="search-results">
              <!--start item-->
              <div class="search-result-item row" ng-repeat="entry in searchResults">
                <div class="col-sm-12 mrg-btm-small no-padd-right">
                  <div class="location">
                    <i class="fa  fa-map-marker gray"></i>
                    {{ entry.location.city }}, {{ entry.location.country_iso }}
                  </div>
                  <a class="link-profile fl-rg" ui-sref="candidate({ id: entry.id })">
                    view profile <i class="fa fa-angle-right"></i>
                  </a>
                </div>
                <div class="col-sm-12 ">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="img-wrap mrg-btm-small" style="background-image: url({{ entry.picture_url }})"></div>
                    </div>
                    <div class="col-sm-7">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="search-result-item-title">{{ entry.position.role }}</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-7 col-sm-offset-1">
                      <div class="row">
                        <div class="col-sm-12 req-list">
                          <div class="key">
                            <i class="fa fa-star ico-req-list"></i>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="row">
                                <div class="col-sm-12">
                                  <div class="req-list-title mrg-btm-small">Skills</div>
                                </div>
                                <div class="col-sm-4 mrg-btm-small" ng-repeat="skill in entry.skills">
                                  <span>{{ skill.skill }}</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <!--end item-->

            </div>
          </div>
          <div class="col-sm-12 bg-white">
            <h2 class="main-title">WE SUGGEST</h2>
            <h3 class="main-subtitle pad-all-15 ">Top candidates fitting to your company‘s Profile!</h3>

            <div ng-show="!offers.length" class="pad-btm-15 pad-lft-15">No offers</div>
            <div ng-show="candidates.length">
              <div class="offer-list">
                <hc-candidate
                  ng-repeat="candidate in suggested"
                  ng-model="candidate"
                  hc-link-profile>
                </hc-candidate>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 bg-gray-lighter3 border-box padd-vert">
        <div class="box-title box-title_left mrg-btm orange">New offer requests</div>
        <div ng-repeat="candidate in candidates">
          <div class="bld">
            <a ui-sref="candidate({ id: candidate._data.id })">
              {{ candidate._data.first_name }}, {{ candidate._data.last_name }}
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
          <div class="mrg-btm-small">
            {{ candidate.position.role }} from {{ candidate._data.location.city }}, {{ candidate._data.location.country_iso }}
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
