<div class="component-employer-dashboard" ng-show="ready">
  <div class="inner">
    <div class="status-wrap"></div>
    <div class="row">
      <div class="col-sm-3">
        <div class="row timeline-head">
          <div class="col-sm-2 no-padd-right">
            <div class="dot"><i class="fa fa-circle"></i></div>
          </div>
          <div class="col-sm-10 date">{{ today | momentDate }}</div>
        </div>

        <div class="row">
          <div class="timeline">
            <div class="gray-bar"></div>
            <div class="timeline-start"></div>
          </div>
        </div>
        <hc-employer-newsitem class="row timeline-item" entry="entry" ng-repeat="entry in news"></hc-employer-newsitem>
      </div>

      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12 bg-gray-light mrg-btm" ng-class="{ 'no-results': !searchCandidates.length }">
            <div class="search-box">
              <h4 class="search-box-title">Search for candidates</h4>
              <form class="row" ng-show="flags.advancedSearch">
                <div class="col-sm-6">
                  <div class="search-label">Role / Target position</div>
                  <div class="no-padd-left">
                    <select class="form-control"
                      name="country"
                      ng-disabled="loading"
                      ng-model="terms.role"
                      ng-options="role for role in featuredRoles">
                      <option value="">Select...</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="search-label">Skills</div>
                  <div class="no-padd-left">
                    <hc-label-typeahead
                      placeholder="Skills"
                      ng-model="terms.skills"
                      hc-source="dashboard.searchSkills($viewValue)">
                    </hc-label-typeahead>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="search-label no-padd-left">Location</div>
                  <div class="no-padd-left">
                    <hc-label-typeahead
                      name="cities"
                      placeholder="Type a city..."
                      ng-disabled="loading"
                      ng-model="terms.locations"
                      hc-render="locationToText($entry)"
                      hc-source="searchCities($viewValue)">
                    </hc-label-typeahead>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="search-label">Salary</div>
                  <div class="no-padd-left">
                    <div class="input-group">
                      <span class="input-group-addon">€</span>
                      <input type="dotted-integer"
                        class="form-control"
                        name="salary"
                        ng-disabled="loading"
                        ng-model="terms.salary">
                      <span class="input-group-addon">.00</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="buttons-wrap mrg-top">
                    <button type="button" class="fl-rg btn bg-green" ng-click="advancedSearch()">
                      Search
                    </button>
                    <button type="button" class="fl-rg btn-no-bg" ng-click="flags.advancedSearch = false">
                      Go back to general search <i class="fa fa-angle-up"></i>
                    </button>
                  </div>
                </div>
              </form>
              <form class="row" ng-show="!flags.advancedSearch">
                <div class="col-sm-12">
                  <div class="search-label">Name, Skill, Location</div>
                  <div class="no-padd-left">
                    <input type="text"
                      class="form-control"
                      name="general"
                      ng-disabled="loading"
                      ng-model="simpleSearchTerms">
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="buttons-wrap mrg-top">
                    <button type="button" class="fl-rg btn bg-green" ng-click="simpleSearch()">
                      Search
                    </button>
                    <button type="button" class="fl-rg btn-no-bg" ng-click="flags.advancedSearch = true">
                      Search for target position / role <i class="fa fa-angle-down"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="search-results">
              <div class="search-border"></div>
              <div class="spinner" ng-show="loading"></div>
              <div class="offer-list" ng-show="!loading">
                <div class="search-response">{{ searchResults.length }} candidates found</div>
                <hc-candidate
                  ng-repeat="candidate in searchCandidates"
                  ng-model="candidate"
                  hc-link-profile="true">
                </hc-candidate>
                <ul class="pager-list" ng-show="pages.length > 1">
                  <li ng-repeat="entry in pages" ng-class="{ active: page === (entry - 1) }">
                    <button type="button"
                      ng-click="loadPage(entry - 1)"
                      ng-disabled="page === (entry - 1)">
                      {{ entry }}
                    </button>
                  </li>
                <ul>
              </div>
            </div>
              <!--end item-->
          </div>


          <div class="col-sm-12 bg-white">
            <h2 class="main-title">WE SUGGEST</h2>
            <h3 class="main-subtitle pad-all-15 ">Top candidates fitting to your company‘s Profile!</h3>

            <div ng-show="!suggested.length" class="pad-btm-15 pad-lft-15">
              Sorry, there are no candidates matching your criteria
            </div>
            <div ng-show="suggested.length">
              <div class="offer-list">
                <hc-candidate
                  ng-repeat="candidate in suggested"
                  ng-model="candidate"
                  hc-link-profile>
                </hc-candidate>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 bg-gray-lighter3 border-box padd-vert" ng-show="candidates.length">
        <div class="box-title box-title_left mrg-btm orange">New offer requests</div>
        <div ng-repeat="candidate in candidates">
          <div class="bld">
            <a ui-sref="candidate({ id: candidate._data.id })">
              {{ candidate._data.first_name }}, {{ candidate._data.last_name }}
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
          <div class="mrg-btm-small">
            {{ candidate.position.role }} from {{ candidate._data.location.city }}, {{ candidate._data.location.country_iso }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
