<%inherit file="../debug.html"/>


<%def name="title()">Config</%def>
<%def name="tests()">
  <script>
    var tests = [
      {'url':'/api/v1/config/seniority', 'title': 'seniority'},
      {'url':'/api/v1/config/titles', 'title': 'titles'},
      {'url':'/api/v1/config/company_types', 'title': 'company_types'},
      {'url':'/api/v1/config/skill_levels', 'title': 'skill_levels'},
      {'url':'/api/v1/config/proficiencies', 'title': 'proficiencies'},
      {'url':'/api/v1/config/traffic_sources', 'title': 'traffic_sources'},
      {'url':'/api/v1/config/degrees', 'title': 'degrees'},
      {'url':'/api/v1/config/rejectionreasons', 'title': 'rejectionreasons'},
      {'url':'/api/v1/config/benefits', 'title': 'benefits'},
      {'url':'/api/v1/config/benefits?q=cof', 'title': 'benefits-search'},
      {'url':'/api/v1/config/courses', 'title': 'courses'},
      {'url':'/api/v1/config/courses?q=alg', 'title': 'course-search'},
      {'url':'/api/v1/config/languages?offset=450&limit=50', 'title': 'languages'},
      {'url':'/api/v1/config/languages?q=rit', 'title': 'language-search'},
      {'url':'/api/v1/config/skills', 'title': 'skills'},
      {'url':'/api/v1/config/skills?q=en', 'title': 'skills-search'},
      {'url':'/api/v1/config/roles', 'title': 'roles'},
      {'url':'/api/v1/config/roles?q=an', 'title': 'roles-search'},
      {'url':'/api/v1/config/job_titles', 'title': 'job_titles'},
      {'url':'/api/v1/config/job_titles?q=an', 'title': 'job_titles-search'},

      {'url':'/api/v1/config/institutions?limit=5', 'title': 'institutions'},
      {'url':'/api/v1/config/institutions?limit=5&q=an', 'title': 'institutions-search'},

      {'url':'/api/v1/config/companies?limit=5', 'title': 'companies'},
      {'url':'/api/v1/config/companies?limit=5&q=an', 'title': 'companies-search'},

      {'url':'/api/v1/config/countries?limit=5', 'title': 'countries-list'},
      {'url':'/api/v1/config/countries?q=ger&limit=5', 'title': 'countries-search'},

      {'url':'/api/v1/config/locations?limit=5', 'title': 'locations-list'},
      {'url':'/api/v1/config/locations?q=Berl&limit=5', 'title': 'locations-search'}
    ];

    $(function(){getTestRunner(tests)(0, {});})
  </script>
</%def>
