<%inherit file="../debug.html"/>
<%namespace file="candidate.html" name="candidate" />

<%def name="title()">Offer flow</%def>

<%def name="scripts()">
  <script src="/debug/static/employer_signup.js"></script>
  <script src="/debug/static/candidate_signup.js"></script>
</%def>

<%def name="tests()">
<script>
  var cand_email = 'martin+candidate-'+guid()+"@hackandcraft.com"
          , emp_email = 'martin+employer-'+guid()+"@hackandcraft.com",
          tests = [

            {'title': 'Employer Search'},
            {url:'/api/v1/employers/?tags=Python', title: 'employer-search',
              extract: function(r, extr){
                return {'employers': r}
              }},
            {url:'/api/v1/employers/?tags=Python,Spring', title: 'employer-search-multi-1'},
            {url:'/api/v1/employers/?tags=Python,Spring,Apache', title: 'employer-search-multi-2'},
            {url:'/api/v1/employers/?tags=Python,PHP', title: 'employer-search-multi-3'},
            {url:'/api/v1/employers/?tags=Python&offset=1&limit=1', title: 'employer-search-limit-offset'},

            {'title': 'Candidate Search'},
            {url:'/api/v1/candidates/?tags=Python', title: 'candidates-search',
              extract: function(r, extr){
                return {'candidates': r}
              }},
            {url:'/api/v1/candidates/?tags=Python,Spring', title: 'candidates-search-multi-1'},
            {url:'/api/v1/candidates/?tags=Python,Spring,Apache', title: 'candidates-search-multi-2'},
            {url:'/api/v1/candidates/?tags=Python,PHP', title: 'candidates-search-multi-3'},
            {url:'/api/v1/candidates/?tags=Python&offset=1&limit=1', title: 'candidates-search-limit-offset'},

            {'title': 'Candidate Bookmark Employers'}];

  tests = tests
          .concat(EMPLOYER_SIGNUP(emp_email))
          .concat([
            {url: function(r, extr){return '/api/v1/admin/employers/'+extr.employerId+'/approve';},
              title: 'admin-approve-employer',
            }
          ])
          .concat(CANDIDATE_SIGNUP(cand_email))
          .concat(
          [

            {url:'/api/v1/candidates/me/bookmarks', title: 'candidates-bookmark-1',
              data: function(r, extr){
                return {id: extr.employerId}
              }},
            {url:'/api/v1/candidates/me/bookmarks', title: 'candidates-bookmark-get-1'},

            {url:function(r, extr){ return '/api/v1/employers/'+extr.employerId+'/interestedcandidates'},
              title: 'employer-interested-candidates'},

            {url: function(r, extr) { return '/api/v1/candidates/me/bookmarks/' + extr.employerId},
              title: 'candidates-bookmark-delete-1', method: 'DELETE'},

            {url:'/api/v1/candidates/me/bookmarks', title: 'candidates-bookmark-get-2'},

            {url:function(r, extr){ return '/api/v1/employers/'+extr.employerId+'/interestedcandidates'},
              title: 'employer-interested-candidates-empty'},

            {url:function(r, extr){ return '/api/v1/employers/'+extr.employerId+'/offers'}, title: 'employer-make-offer-to-candidate', method:'POST',
            data: function(r, extr){
              return {
                candidate: {id: extr.candidateId},
                location: {'city': 'Dresden', country_iso:'DE'},
                benefits: ['Coffee', 'Massages'],
                technologies: ['PHP', 'Python'],
                role: 'Senior Artchitect',
                annual_salary: 2000000,
                interview_details: 'We will interview you',
                job_description: 'You will work for us',
              }
            },
            extract: function(r, extr){return {offerId: r.id}}
            },

            {url:function(r, extr){ return '/api/v1/employers/'+extr.employerId+'/offers'}, title: 'employer-make-offer-to-candidate', method:'POST',
            data: function(r, extr){
              return {
                candidate: {id: extr.candidateId},
                location: {'city': 'Berlin', country_iso:'DE'},
                benefits: ['Company car', 'Breakfast'],
                technologies: ['Apache', 'Java'],
                role: 'Senior Artchitect',
                annual_salary: 3,
                interview_details: 'We might interview you',
                job_description: 'you could work for us',
              }
            },
            extract: function(r, extr){return {offerId: r.id}}
            },

          {url:function(r, extr){ return '/api/v1/employers/'+extr.employerId+'/offers'}, title: 'employer-get-my-offers'},
          {url:function(r, extr){ return '/api/v1/candidates/'+extr.candidateId+'/offers';},
            title: 'candidate-get-my-offers'},

          ]);

  $(function(){getTestRunner(tests)(0, {});})
</script>
</%def>
