<div class="component-candidate-signup-profile row">
  <div class="col-sm-8">

    <h3>Profile</h3>

    <hc-profile-form
      name="form"
      hc-disabled="loading"
      on-submit="signupProfile.submit()">
      <button type="submit" class="btn btn-primary" ng-disabled="loading">Continue</button>
    </hc-profile-form>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default helpbox">
      <div class="panel-heading">
        <h3 class="panel-title">Help</h3>
      </div>
      <div class="panel-body">
        Complete your profile to get started.
        Again, we respect your data privacy.
        No employer or anybody else will ever see your contact details until you decide to accept a job offer.
        You can set your profile offline at anytime.
      </div>
    </div>
  </div>
</div>
