<div class="component-candidate-signup-target row" ng-show="ready">
  <div class="col-sm-8">
    <div class="col-sm-12">
      <h3 class="signup-title">You did it</h3>
      <div class="padd-vert">You have completed signup. 
      4Scotty will now approve your profile and you will start receiving offers shortly.</div>
      <div class="padd-vert">In the mean time, you can add more details to your profile to get better offers!</div>
    </div>
    
    
  </div>

  <div class="col-sm-4">
    
  </div>
</div>
