hc-linkedin-connect,
[hc-linkedin-connect] {
  display: block;
  text-align: center;
  cursor:pointer;
  color: white;

  .linkedin-connect-start {
    float: left;
    font-size: 1.4em;
    background: #00acee;
    padding: 6px 8px;
  }

  .linkedin-connect-end {
    float: left;
    width: 82px;
    background: #0083b7;
    padding: 6px 0;
    text-transform: uppercase;
  }
}
