<form name="formProfile" class="form-horizontal" ng-submit="submit()">
  <div class="form-group required address">
    <label class="col-sm-3">Address</label>
    <div class="col-sm-9">
      <input type="text"
        class="form-control"
        placeholder="Address Line 1"
        name="contact_line1"
        required
        ng-disabled="hcDisabled"
        ng-model="model.contact_line1">
    </div>

    <div class="form-error" ng-show="formProfile.contact_line1.$dirty && formProfile.contact_line1.$invalid">
      <span ng-show="formProfile.contact_line1.$error.required">Please insert your address.</span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <input type="text"
        class="form-control"
        placeholder="Address Line 2"
        name="contact_line2"
        ng-disabled="hcDisabled"
        ng-model="model.contact_line2">
    </div>

    <div class="form-error" ng-show="formProfile.contact_line2.$dirty && formProfile.contact_line2.$invalid">
      <span ng-show="formProfile.contact_line2.$error.required">Please insert your address.</span>
    </div>
  </div>

  <div class="form-group required">
    <div class="col-sm-offset-3 col-sm-9">
      <input type="text"
        class="form-control"
        placeholder="Zip code"
        name="zipcode"
        maxlength="20"
        required
        ng-disabled="hcDisabled"
        ng-model="model.contact_zipcode">
    </div>

    <div class="form-error" ng-show="formProfile.zipcode.$dirty && formProfile.zipcode.$invalid">
      <span ng-show="formProfile.zipcode.$error.required">Please insert your zip code.</span>
    </div>
  </div>

  <div class="form-group required">
    <div class="col-sm-offset-3 col-sm-9">
      <input type="text"
        placeholder="City"
        name="contact_city"
        class="form-control"
        required
        ng-disabled="hcDisabled"
        ng-model="model.contact_city">
    </div>

    <div class="form-error" ng-show="formProfile.location.$dirty && formProfile.location.$invalid">
      <span ng-show="formProfile.location.$error.required">Please insert your city.</span>
    </div>
  </div>

  <div class="form-group required">
    <div class="col-sm-offset-3 col-sm-9">
      <select class="form-control"
        name="country"
        required
        ng-disabled="hcDisabled"
        ng-model="model.contact_country_iso"
        ng-options="country.iso as country.name for country in countries">
        <option value="">Country...</option>
      </select>
    </div>

    <div class="form-error" ng-show="formProfile.country.$dirty && formProfile.country.$invalid">
      <span ng-show="formProfile.country.$error.required">Please insert your country.</span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3">Phone</label>
    <div class="col-sm-9">
      <input type="tel"
        class="form-control"
        name="contact_phone"
        pattern="^\+?[0-9 /()-]+$"
        ng-pattern="/^\+?[0-9 /()-]+$/"
        ng-disabled="hcDisabled"
        ng-model="model.contact_phone">
    </div>

    <div class="form-error" ng-show="formProfile.contact_phone.$dirty && formProfile.contact_phone.$invalid">
      <span ng-show="formProfile.contact_phone.$error.required">Please insert your phone.</span>
      <span ng-show="formProfile.contact_phone.$error.pattern">Valid chacters are: Numbers - / ( )</span>
    </div>
  </div>

  <div class="form-group required">
    <label class="col-sm-3">Birth date</label>
    <div class="col-sm-9">
      <input type="date"
        class="form-control"
        placeholder="YYYY-MM-DD"
        name="birth"
        required
        ng-disabled="hcDisabled"
        ng-model="model.dob">
    </div>

    <div class="form-error" ng-show="formProfile.birth.$dirty && formProfile.birth.$invalid">
      <span ng-show="formProfile.birth.$error.required">Please insert your birth date.</span>
    </div>
  </div>

  <div class="form-group required">
    <label class="col-sm-3">Photo</label>
    <div class="col-sm-9">
      <input type="file"
        name="photo"
        accept="image/*"
        ng-required="!model.picture_url"
        ng-disabled="hcDisabled"
        ng-model="files"
        hc-file-select="selectFile($files)"
        hc-data-url="selectedFiles">
    </div>
    <div class="col-sm-offset-3 col-sm-9">
      <img class="avatar" ng-show="selectedFiles[0]" ng-src="{{ selectedFiles[0] }}">
    </div>

    <div class="form-error" ng-show="errorFileRequired || errorFileImage">
      <span ng-show="errorFileRequired">Please select a photo.</span>
      <span ng-show="errorFileImage">The file should be an image.</span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3">Skype ID</label>
    <div class="col-sm-9">
      <input type="text"
        class="form-control"
        name="skype"
        ng-disabled="hcDisabled"
        ng-model="model.contact_skype">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3">Stackoverflow URL (Starting with  http://...)</label>
    <div class="col-sm-9">
      <input type="url"
        class="form-control"
        name="stackoverflow"
        ng-disabled="hcDisabled"
        ng-model="model.stackoverflow_url">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3">Github URL (Starting with  http://...)</label>
    <div class="col-sm-9">
      <input type="url"
        class="form-control"
        name="github"
        ng-disabled="hcDisabled"
        ng-model="model.github_url">
    </div>
  </div>

  <div class="form-group required">
    <label class="col-sm-3">Availability</label>

    <div class="col-sm-9">
      <textarea class="form-control"
        name="availability"
        required
        ng-disabled="hcDisabled"
        ng-model="model.availability">
      </textarea>
    </div>

    <div class="form-error" ng-show="formProfile.available_date.$dirty && formProfile.availability.$invalid">
      <span ng-show="formProfile.availability.$error.number">Please insert a number.</span>
      <span ng-show="formProfile.availability.$error.pattern">Please enter a integer number.</span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3">CV</label>
    <div class="col-sm-9">
      <input type="file"
        name="photo"
        accept="application/acrobat,application/x-pdf,application/pdf,application/vnd.pdf,text/pdf,text/x-pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
        ng-disabled="hcDisabled"
        hc-file-select
        ng-model="cv_file">
    </div>

    <div class="form-error" ng-show="false && (errorFileRequired || errorFileImage)">
      <span ng-show="errorFileRequired">Please select a photo.</span>
      <span ng-show="errorFileImage">The file should be an image.</span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3">What else is important about you?</label>

    <div class="col-sm-9">
      <textarea class="form-control"
        name="summary"
        ng-disabled="hcDisabled"
        ng-model="model.summary">
      </textarea>
    </div>

    <div class="form-error" ng-show="formProfile.available_date.$dirty && formProfile.summary.$invalid">
      <span ng-show="formProfile.summary.$error.required">Please insert some description.</span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <div class="checkbox">
        <label>
          <input type="checkbox"
            name="eu_work_visa"
            ng-disabled="hcDisabled"
            ng-model="model.eu_work_visa">
          EU Work Visa
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div ng-transclude></div>
  </div>
</div>
