<form name="formProfile" class="form-horizontal" ng-submit="submit()">
  <div class="form-group required address">
    <label class="col-sm-3">Location</label>

    <div class="col-sm-9">
      <input type="text"
        class="form-control"
        placeholder="Location"
        ng-disabled="hcDisabled"
        ng-model="locationText"
        ng-blur="setLocation(locationText)"
        typeahead-on-select="setLocation(locationText)"
        typeahead="location for location in searchLocations($viewValue)">
    </div>

    <div class="form-error" ng-show="formProfile.location.$dirty && formProfile.location.$invalid">
      <span ng-show="formProfile.location.$error.required">Please insert your city.</span>
    </div>
  </div>

  <div class="form-group required">
    <label class="col-sm-3">Birth date</label>
    <div class="col-sm-9">
      <input type="date"
        class="form-control"
        placeholder="YYYY-MM-DD"
        name="birth"
        required
        ng-disabled="hcDisabled"
        ng-model="model.dob">
    </div>

    <div class="form-error" ng-show="formProfile.birth.$dirty && formProfile.birth.$invalid">
      <span ng-show="formProfile.birth.$error.required">Please insert your birth date.</span>
    </div>
  </div>

  <div class="form-group required">
    <label class="col-sm-3">Photo</label>
    <div class="col-sm-9">
      <input type="file"
        name="photo"
        accept="image/*"
        ng-required="!model.picture_url"
        ng-disabled="hcDisabled"
        ng-model="files"
        hc-file-select="selectFile($files)"
        hc-data-url="selectedFiles">
    </div>
    <div class="col-sm-offset-3 col-sm-9">
      <img class="avatar" ng-show="selectedFiles[0]" ng-src="{{ selectedFiles[0] }}">
    </div>

    <div class="form-error" ng-show="errorFileRequired || errorFileImage">
      <span ng-show="errorFileRequired">Please select a photo.</span>
      <span ng-show="errorFileImage">The file should be an image.</span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3">Stackoverflow URL (Starting with  http://...)</label>
    <div class="col-sm-9">
      <input type="url"
        class="form-control"
        name="stackoverflow"
        ng-disabled="hcDisabled"
        ng-model="model.stackoverflow_url">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3">Github URL (Starting with  http://...)</label>
    <div class="col-sm-9">
      <input type="url"
        class="form-control"
        name="github"
        ng-disabled="hcDisabled"
        ng-model="model.github_url">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3">CV</label>
    <div class="col-sm-9">
      <input type="file"
        name="photo"
        accept="application/acrobat,application/x-pdf,application/pdf,application/vnd.pdf,text/pdf,text/x-pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
        ng-disabled="hcDisabled"
        hc-file-select
        ng-model="cv_file">
    </div>

    <div class="form-error" ng-show="false && (errorFileRequired || errorFileImage)">
      <span ng-show="errorFileRequired">Please select a photo.</span>
      <span ng-show="errorFileImage">The file should be an image.</span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <div class="checkbox">
        <label>
          <input type="checkbox"
            name="eu_work_visa"
            ng-disabled="hcDisabled"
            ng-model="model.eu_work_visa">
          Permitted to work in EU
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div ng-transclude></div>
  </div>
</div>
