<div class="component-candidate-signup-education">
  <form name="formEducation" ng-submit="signupEducation.submit()">

    <h3>Sign up - Education</h3>

    <div class="form-group required">
      <label>Institution</label>
      <input type="text"
        class="form-control"
        name="institution"
        required
        ng-disabled="loading"
        ng-model="model.institution"
        typeahead="institution for institution in signupEducation.searchInstitutions($viewValue)">

      <div class="form-error" ng-show="formEducation.institution.$dirty && formEducation.institution.$invalid">
        <span ng-show="formEducation.institution.$error.required">
          Please insert the institution name.
        </span>
      </div>
    </div>

    <div class="form-group required">
      <label>Degree</label>
      <select
        class="form-control"
        name="degree"
        required
        ng-disabled="loading"
        ng-model="model.degree"
        ng-options="degree for degree in degrees"
        ng-change="startDateUpdate()">
        <option value="">Select one...</option>
      </select>

      <div class="form-error" ng-show="formEducation.degree.$dirty && formEducation.degree.$invalid">
        <span ng-show="formEducation.degree.$error.required">
          Please insert the degree.
        </span>
      </div>
    </div>

    <div class="form-group required">
      <label>Period</label>

      <div class="form-inline">
        <!-- From month -->
        <select
          class="form-control"
          name="startMonth"
          required
          ng-disabled="loading"
          ng-model="startMonth"
          ng-options="month for month in months"
          ng-change="startDateUpdate()">
          <option value="">Month</option>
        </select>

        <!-- From year -->
        <input type="number"
          class="form-control"
          name="startYear"
          placeholder="Year"
          required
          ng-disabled="loading"
          ng-model="startYear"
          ng-change="startDateUpdate()">

        <!-- Separator -->
        <span>–</span>

        <!-- To month -->
        <select
          class="form-control"
          name="endMonth"
          ng-disabled="loading"
          ng-model="endMonth"
          ng-required="endYear"
          ng-options="month for month in months"
          ng-change="endDateUpdate()">
          <option value="">Month</option>
        </select>

        <!-- To year -->
        <input type="number"
          class="form-control"
          name="endYear"
          placeholder="Year"
          ng-disabled="loading"
          ng-model="endYear"
          ng-required="endMonth"
          ng-change="endDateUpdate()">
      </div>

      <div class="form-error" ng-show="formEducation.startMonth.$dirty && formEducation.startMonth.$invalid">
        <span ng-show="formEducation.startMonth.$error.required">Please insert the month you started at this position.</span>
      </div>
      <div class="form-error" ng-show="formEducation.startYear.$dirty && formEducation.startYear.$invalid">
        <span ng-show="formEducation.startYear.$error.required">Please insert the year you started at this position.</span>
      </div>
      <div class="form-error" ng-show="formEducation.endMonth.$dirty && formEducation.endMonth.$invalid">
        <span ng-show="formEducation.endMonth.$error.required">Please insert the month you leave this position.</span>
      </div>
      <div class="form-error" ng-show="formEducation.endYear.$dirty && formEducation.endYear.$invalid">
        <span ng-show="formEducation.endYear.$error.required">Please insert the year you leave this position.</span>
      </div>
    </div>

    <div class="form-group required">
      <label>Course</label>
      <input type="text"
        class="form-control"
        name="course"
        required
        ng-disabled="loading"
        ng-model="model.course"
        typeahead="course for course in signupEducation.searchCourses($viewValue)">

      <div class="form-error" ng-show="formEducation.course.$dirty && formEducation.course.$invalid">
        <span ng-show="formEducation.course.$error.required">Please insert the course.</span>
      </div>
    </div>

    <div class="form-group">
      <button type="button"
        class="btn btn-default"
        ng-click="signupEducation.addAnother()"
        ng-disabled="loading">
        Save &amp; add another
      </button>
      <button type="submit"
        class="btn btn-primary"
        ng-disabled="loading">
        Save &amp; continue
      </button>
      <button type="submit"
        class="btn btn-primary"
        ng-show="list.length"
        ng-click="signupEducation.nextStep($event)"
        ng-disabled="loading">
        Continue
      </button>
    </div>
  </form>

  <hc-education
    ng-if="ready"
    name="list"
    hc-title="Saved"
    hc-source="session.user.getEducation()"
    hc-source-remove="session.user.deleteEducation($entry)"
    on-edit="signupEducation.edit($entry)"
    hc-editable>
  </hc-education>

</div>
