<button type="button" class="edit-button pencil-edit" ng-disabled="profile.isFormOpen" ng-click="edit()">
  <i class="fa fa-pencil"></i>
</button>

<form ng-submit="save(data)">
  <button class="close-button" ng-click="close()">
    <i class="fa fa-close"></i>
  </button>

  <div class="form-group">
    <label translate>Languages</label>

    <div class="row" ng-repeat="entry in data">

      <div class="col-sm-6">
        <input type="text"
          class="form-control"
          placeholder="{{ 'Language' | translate }}"
          autocomplete="off"
          ng-disabled="loading"
          ng-required="$first"
          ng-model="entry.language"
          ng-blur="onBlur(entry, $index, $last)"
          ng-change="onChange(entry, $index, $last)"
          typeahead-on-select="validateLang(entry)"
          typeahead="language for language in searchLanguages($viewValue)"
          hc-typeahead-loader>
      </div>

      <div class="col-sm-6">
        <select class="form-control"
          ng-disabled="loading"
          ng-required="entry.language"
          ng-model="entry.proficiency"
          ng-options="proficiency as $root.translate(proficiency) for proficiency in proficiencies">
          <option value="" translate>Select...</option>
        </select>
      </div>
    </div>
  </div>

  <div class="buttons-wrap">
    <button type="submit" ng-disabled="loading" translate>Save</button>
    <button type="button" ng-disabled="loading" ng-click="close()" translate>Cancel</button>
  </div>

  <div class="clearfix"></div>
</form>
