<div class="component-employer-candidate-profile row" ng-show="ready">
  <div class="col-sm-6 col-sm-offset-3">

    <div ng-if="user.status == 'deleted'">
      <div class="alert alert-danger">DELETED!</div>
    </div>
    <div ng-if="user.status != 'deleted'">
      <div class="profile-workflow">
        <div class="panel panel-default">
          <div class="panel-body">
            <form ng-submit="saveAdminComment(user.admin_comment)">
              <div class="form-group required">
                <label>Admin comment</label>
                <textarea class="form-control" required ng-model="user.admin_comment"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <a class="btn btn-success" ng-href="{{ session.getLoginAsCandidateLink(user) }}">Login as this candidate</a>
      <button class="btn btn-danger" ng-click="remove(candidate)">Delete candidate</button>
      <a class="pull-right btn btn-link" ng-click="wakeCandidate(user)" ng-if="user.status == 'sleeping'" style="cursor: pointer">Wake Candidate</a>
    </div>

    <div class="page-header">
      <img class="avatar pull-left" ng-src="{{ user.picture_url }}">
      <h2 class="candidate-name">{{ user.first_name }} {{ user.last_name }}
      </h2>
      <div ng-if="user.invite_code">Invite Code: <strong>{{ user.invite_code.code }}</strong></div>
      <div>Candidate is <strong ng-show="!user.anonymous">not</strong> Anonymous</div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <strong style="color:black" class="pull-right">{{ user.status }}</strong>
          Personal data
        </h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>email</dt>
          <dd>{{ user.email }}</dd>
          <dt>Availability</dt>
          <dd>{{ user.availability }}</dd>
          <dt>EU Work Visa</dt>
          <dd>
            <span ng-show="user.eu_work_visa">Yes</span>
            <span ng-show="!user.eu_work_visa">No</span>
          </dd>
          <dt ng-if="user.summary">Summary</dt>
          <dd ng-if="user.summary">{{ user.summary }}</dd>

          <dt ng-if="user.contact_skype">Skype</dt>
          <dd ng-if="user.contact_skype">{{ user.contact_skype }}</dd>
          <dt ng-if="user.stackoverflow_url">Stackoverflow</dt>
          <dd ng-if="user.stackoverflow_url">
            <a ng-href="{{ user.stackoverflow_url }}">{{ user.stackoverflow_url }}</a>
          </dd>
          <dt ng-if="user.github_url">Github</dt>
          <dd ng-if="user.github_url">
            <a ng-href="{{ user.github_url }}">{{ user.github_url }}</a>
          </dd>
          <dt>Location</dt>
          <dd>
            <address>
              {{ user.location.city }}, {{ user.location.country_iso }}
            </address>
          </dd>
        </dl>

        <dl class="dl-horizontal">
          <dt>CV</dt>
          <dd>
            <a ng-if="user.cv_upload_url" ng-href="{{ user.cv_upload_url }}">{{ user.cv_upload_url }}</a>
            <i ng-if="!user.cv_upload_url">No CV uploaded</i>
          </dd>
        </dl>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Skills</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="entry in skills">
          <span class="value">
            {{ entry.skill }}
            <span ng-if="entry.level">({{ entry.level }})</span>
          </span>
        </li>
      </ul>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Languages</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="entry in languages">
          <span class="value">{{ entry.language }} ({{ entry.proficiency }})</span>
        </li>
      </ul>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Target position
          <button type="submit"
                  class="btn btn-default pull-right"
                  ng-show="isEditing && !formOpen"
                  ng-disabled="loading"
                  ng-click="targetPositionForm.edit(targetPosition, cities)">
            Edit
          </button>
          <div class="clearfix"></div>
        </h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>role</dt>
          <dd>{{ targetPosition.role }}</dd>
          <dt>skills</dt>
          <dd>{{ targetPosition.skills.join(', ') }}</dd>
          <dt>minimum salary</dt>
          <dd>{{ targetPosition.minimum_salary | dottedInteger }}€</dd>
        </dl>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Preferred locations</h3>
      </div>
      <ul class="list-group">
        <div ng-repeat="(country_iso, cities) in cities">
          <li class="list-group-item" ng-show="!cities.length">{{ country_iso }} (Anywhere)</li>
          <li class="list-group-item" ng-repeat="city in cities">
            <span class="value">{{ city }}, {{ country_iso }}</span>
          </li>
        </div>
      </ul>
    </div>

    <div ng-if="ready">
      <hc-target-positions
        hc-title="Target positions"
        hc-source="candidate.getTargetPositions()"
        hc-show-empty>
      </hc-target-positions>

      <hc-experience
        hc-title="Experience"
        hc-source="candidate.getExperience()"
        hc-show-empty>
      </hc-experience>

      <hc-education
        hc-title="Education"
        hc-source="candidate.getEducation()"
        hc-show-empty>
      </hc-education>
    </div>
  </div>
</div>
