<div class="component-employer-profile" ng-show="ready">
  <div class="inner">
    <div class="alert alert-warning" ng-show="!approved">Awaiting approval</div>
    <div class="status-wrap">
      <div class="status">
        <button class="fl-rg btn-edit"
          ng-show="!isEditing"
          ng-click="profile.edit()">
          <i class="fa fa-pencil"></i>
          Edit mode
        </button>
        <button class="fl-rg btn-edit"
          ng-show="isEditing && !formOpen"
          ng-click="profile.stopEdit()">
          <i class="fa fa-check"></i>
          Finish editing
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="row">
          <div class="col-sm-12 bg-gray-light">
            <button class="edit-user-pic-btn"  ng-click="picture.edit()">
              <i class="fa fa-camera-retro"></i>
            </button>
            <div class="edit-user-pic" ng-show="picture.editing">
              <form class="bg-gray-lighter3 padd-vert col-sm-12">
                <h5 class="edit-title">Profile picture</h5>
                <input type="file"
                  class="mrg-btm"
                  name="photo"
                  accept="image/*"
                  ng-required="true"
                  ng-disabled="loading"
                  ng-model="picture.data"
                  hc-file-select="selectFile($files)"
                  hc-data-url="selectedPicture">
                <div class="col-sm-6 user-pic-preview mrg-btm-small" style="background-image: url({{ selectedPicture[0]  || user.picture_url }})"></div>
                <div class="buttons-wrap mrg-btm-small">
                  <button type="button"
                    class="fl-lf bg-gray-lighter2 btn-small"
                    ng-click="picture.close()"
                    ng-disabled="loading">
                    Cancel
                  </button>
                  <button type="submit"
                    class="fl-lf bg-green btn-small mrg-lft-small"
                    ng-disabled="loading">
                    Save
                  </button>
               </div>
              </form>
            </div>
            <div class="user-pic" style="background-image: url({{ data.logo_url }})"></div>
          </div>
          <div class="col-sm-12 border-box mrg-btm padd-vert">
          <!--  EDIT Contacts box (remove hidden class to display)-->
            <div class="edit-salary hidden">
              <form class="edit-form">
                <h5 class="edit-title">Website</h5>
                <div><input type="text" class="form-control mrg-btm"></div>
                <h5 class="edit-title">Founding year</h5>
                <div><input type="text" class="form-control mrg-btm"></div>
                <h5 class="edit-title">Annual Revenue</h5>
                <div><input type="text" class="form-control mrg-btm"></div>
                <h5 class="edit-title">Vic Fund Amounting</h5>
                <div><input type="text" class="form-control mrg-btm"></div>
                <h5 class="edit-title">Company size</h5>
                <div><input type="text" class="form-control mrg-btm"></div>
                <h5 class="edit-title">Company mission</h5>
                <div><textarea class="form-control fw mrg-btm"></textarea></div>

                <div class="buttons-wrap">
                  <button type="submit"
                    class="fl-rg bg-green btn-small mrg-lft-small"
                    ng-disabled="loading">
                    Save
                  </button>
                  <button type="button"
                    class="fl-rg bg-gray-lighter2 btn-small"
                    ng-click="contact.close()"
                    ng-disabled="loading">
                    Cancel
                  </button>
                </div>
              </form>
            </div>

            <!-- END EDIT Contacts box-->
            <button type="submit"
              class="btn-edit-sub"
              ng-disabled="loading"
              ng-click="languages.edit()">
              <i class="fa fa-pencil"></i>
            </button>
            <p class="smbd">founded in TODO</p>
            <p class="smbd">{{ data.no_of_employees }} employees</p>
            <p>Annual revenue: {{ data.revenue_pa }}.00 €</p>
            <p>VC Founding amount: {{ data.funding_amount }}</p>
            <a class="mrg-btm-small no-marg-top link-blue smbd" target="_blank" ng-href="{{ data.website }}">
              {{ data.website }}
            </a>
          </div>
          <!--TODO toggle class .closed with .open to see the content of the hidden div -->
          <div class="col-sm-12 info bg-gray-light mrg-btm office-wrap closed">

            <!--  EDIT OFFICES   box (remove hidden class to display)-->
            <div class="edit-contacts">
              <form class="edit-form">
                <div class="row">
                  <div class="col-sm-12">
                    <h5 class="edit-title">Offices</h5>
                    <!--  Entry for one office, we should repate this part for each office we are gonna create-->
                    <!-- ti toggle the content just swith the class "closed" with the class "open" -->
                    <div class="wrap-office closed">
                      <div class="edit-office">
                          <button class="toggler-office" ng-click="toggle('officesSection')">
                            Berlin <i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i>
                          </button>
                      </div>
                      <div class="wrap-office-content">
                        <h5 class="edit-title">Address</h5>
                        <div class="">
                          <input type="text"
                            class="form-control mrg-btm">
                          <input type="text"
                            class="form-control mrg-btm">
                          <input type="text"
                            class="form-control mrg-btm">
                          <div class="row">
                            <div class="col-sm-6"><input type="text"
                            class="form-control mrg-btm"></div>
                            <div class="col-sm-6"><input type="text"
                            class="form-control mrg-btm"></div>
                          </div>
                        </div>
                        <h5 class="edit-title">Contact information</h5>
                        <h5 class="edit-title edit-title-light">Salutation*</h5>
                        <div class="">
                          <input type="text"
                            class="form-control mrg-btm">
                        </div>
                        <h5 class="edit-title edit-title-light">First name*</h5>
                        <div class="">
                          <input type="text"
                            class="form-control mrg-btm">
                        </div>
                        <h5 class="edit-title edit-title-light">Last name*</h5>
                        <div class="">
                          <input type="text"
                            class="form-control mrg-btm">
                        </div>
                        <h5 class="edit-title edit-title-light">Position title</h5>
                        <div class="">
                          <input type="text"
                            class="form-control mrg-btm">
                        </div>
                        <h5 class="edit-title edit-title-light">Email address*</h5>
                        <div class="">
                          <input type="text"
                            class="form-control mrg-btm">
                        </div>
                        <h5 class="edit-title edit-title-light">Phone number*</h5>
                        <div class="">
                          <input type="text"
                            class="form-control mrg-btm">
                        </div>
                        <div class="buttons-wrap">
                          <button type="submit"
                            class="fl-rg bg-green btn-small mrg-lft-small"
                            ng-disabled="loading">
                            Save
                          </button>
                          <button type="button"
                            class="fl-rg bg-gray-lighter2 btn-small"
                            ng-click="contact.close()"
                            ng-disabled="loading">
                            Cancel
                          </button>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                    <!-- End Entry for one office -->
                     <!--  Entry for one office, we should repate this part for each office we are gonna create-->
                    <!-- ti toggle the content just swith the class "closed" with the class "open" -->
                    <div class="wrap-office closed">
                      <div class="edit-office">
                          <button class="toggler-office" ng-click="toggle('officesSection')">
                            Berlin <i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i>
                          </button>
                      </div>
                      <div class="wrap-office-content">
                        <h5 class="edit-title">Address</h5>
                        <div class="">
                          <input type="text"
                            class="form-control mrg-btm">
                          <input type="text"
                            class="form-control mrg-btm">
                          <input type="text"
                            class="form-control mrg-btm">
                          <div class="row">
                            <div class="col-sm-6"><input type="text"
                            class="form-control mrg-btm"></div>
                            <div class="col-sm-6"><input type="text"
                            class="form-control mrg-btm"></div>
                          </div>
                        </div>
                        <h5 class="edit-title">Contact information</h5>
                        <h5 class="edit-title edit-title-light">Salutation*</h5>
                        <div class="">
                          <input type="text"
                            class="form-control mrg-btm">
                        </div>
                        <h5 class="edit-title edit-title-light">First name*</h5>
                        <div class="">
                          <input type="text"
                            class="form-control mrg-btm">
                        </div>
                        <h5 class="edit-title edit-title-light">Last name*</h5>
                        <div class="">
                          <input type="text"
                            class="form-control mrg-btm">
                        </div>
                        <h5 class="edit-title edit-title-light">Position title</h5>
                        <div class="">
                          <input type="text"
                            class="form-control mrg-btm">
                        </div>
                        <h5 class="edit-title edit-title-light">Email address*</h5>
                        <div class="">
                          <input type="text"
                            class="form-control mrg-btm">
                        </div>
                        <h5 class="edit-title edit-title-light">Phone number*</h5>
                        <div class="">
                          <input type="text"
                            class="form-control mrg-btm">
                        </div>
                        <div class="buttons-wrap">
                          <button type="submit"
                            class="fl-rg bg-green btn-small mrg-lft-small"
                            ng-disabled="loading">
                            Save
                          </button>
                          <button type="button"
                            class="fl-rg bg-gray-lighter2 btn-small"
                            ng-click="contact.close()"
                            ng-disabled="loading">
                            Cancel
                          </button>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                    <!-- End Entry for one office -->
                    <div class="clearfix mrg-btm add-btn-wrap">
                      <button class="add-btn no-marg-top">
                        <i class="fa fa-plus"></i> ADD
                      </button>
                    </div>
                    <!-- this part should showed only for add new items  (open/close class to display)-->
                    <div class="wrap-office closed">
                      <div class="wrap-office-content">
                          <h5 class="edit-title">Address</h5>
                          <div class="">
                            <input type="text"
                              class="form-control mrg-btm">
                            <input type="text"
                              class="form-control mrg-btm">
                            <input type="text"
                              class="form-control mrg-btm">
                            <div class="row">
                              <div class="col-sm-6"><input type="text"
                              class="form-control mrg-btm"></div>
                              <div class="col-sm-6"><input type="text"
                              class="form-control mrg-btm"></div>
                            </div>
                          </div>
                          <h5 class="edit-title">Contact information</h5>
                          <h5 class="edit-title edit-title-light">Salutation*</h5>
                          <div class="">
                            <input type="text"
                              class="form-control mrg-btm">
                          </div>
                          <h5 class="edit-title edit-title-light">First name*</h5>
                          <div class="">
                            <input type="text"
                              class="form-control mrg-btm">
                          </div>
                          <h5 class="edit-title edit-title-light">Last name*</h5>
                          <div class="">
                            <input type="text"
                              class="form-control mrg-btm">
                          </div>
                          <h5 class="edit-title edit-title-light">Position title</h5>
                          <div class="">
                            <input type="text"
                              class="form-control mrg-btm">
                          </div>
                          <h5 class="edit-title edit-title-light">Email address*</h5>
                          <div class="">
                            <input type="text"
                              class="form-control mrg-btm">
                          </div>
                          <h5 class="edit-title edit-title-light">Phone number*</h5>
                          <div class="">
                            <input type="text"
                              class="form-control mrg-btm">
                          </div>
                          <div class="buttons-wrap">
                            <button type="submit"
                              class="fl-rg bg-green btn-small mrg-lft-small"
                              ng-disabled="loading">
                              Save
                            </button>
                            <button type="button"
                              class="fl-rg bg-gray-lighter2 btn-small"
                              ng-click="contact.close()"
                              ng-disabled="loading">
                              Cancel
                            </button>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    <!-- end add new office -->
                    <h5 class="edit-title pad-top-20">Web profiles</h5>
                    <div class="row mrg-btm">
                      <div class="col-sm-2 no-padd-right alg-cen">
                        <i class="fa fa-facebook ico-edit"></i>
                      </div>
                      <div class="col-sm-10">
                        <input type="url"
                          class="form-control">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-2 no-padd-right alg-cen">
                        <i class="fa fa-linkedin ico-edit"></i>
                      </div>
                      <div class="col-sm-10">
                        <input type="url"
                          class="form-control mrg-btm">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="buttons-wrap">
                  <button type="submit"
                    class="fl-rg bg-green btn-small mrg-lft-small"
                    ng-disabled="loading">
                    Save
                  </button>
                  <button type="button"
                    class="fl-rg bg-gray-lighter2 btn-small"
                    ng-click="contact.close()"
                    ng-disabled="loading">
                    Cancel
                  </button>
                </div>
              </form>
            </div>

            <!-- END EDIT Contacts box-->
          <button type="submit"
              class="btn-edit-sub-skills btn-edit-sub-skills_bot"
              ng-disabled="loading"
              ng-click="contact.edit(skills)">
              <i class="fa fa-pencil"></i>
            </button>
            <div class="row">
              <div class="contacts">
                <div class="fl-lf">
                  <button class="toggler" ng-click="toggle('officesSection')">
                    Offices <i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i>
                  </button>
                </div>
                <div class="fl-rg">
                  <a ng-href="{{ data.facebook_url }}" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a ng-href="{{ data.linkedin_url }}" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>

              <!--TODO implement text change after click more/hide-->
              <div class="col-sm-12 mrg-btm pad-top-15">
                <button class="showhide"><i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i> more </button>
              </div>
            </div>
          </div>
          <div class="col-sm-12 border-box mrg-btm padd-vert">
            <!-- Edit Benefits box (remove class hidden to display)-->
              <form class="edit-salary hidden" ng-submit="salary.save(salary.data)">
                <h5 class="edit-title mrg-btm">Benefits </h5>
    
                <div class="form-wrap">
                  <ul>
                    <li class="form-benefits clearfix mrg-btm-small" ng-repeat="benefit in data.benefits">
                      <label class="{{ benefit }} col-sm-6 ">
                        {{ benefit }}
                        <input type="checkbox">
                      </label>
                    </li>
                  </ul>
                  <div class="buttons-wrap">
                    <button type="submit"
                      class="fl-rg bg-green btn-small mrg-lft-small"
                      ng-disabled="loading">
                      Save
                    </button>
                    <button type="button"
                      class="fl-rg bg-gray-lighter2 btn-small"
                      ng-click="salary.close()"
                      ng-disabled="loading">
                      Cancel
                    </button>
                  </div>
                </div>
              </form>
              <!-- End Edit Benefits box-->
            <div class="box-title box-title_left mrg-btm gray-darker">BENEFITS
              <button type="submit"
                class="btn-edit-sub"
                ng-disabled="loading"
                ng-click="languages.edit()">
                <i class="fa fa-pencil"></i>
              </button>
            </div>
            <div class="row">
              <div class="col-sm-6 mrg-btm-small" ng-repeat="benefit in data.benefits">
                <div class="benefit-item {{ benefit }}">{{ benefit }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <!-- Company description (remove class hidden to display)-->
        <div class="edit-tarpos hidden">
          <h5 class="edit-title">Summary <span> 0 characters left</span></h5>
          <div class="row">
            <div class="col-sm-5">
              <form class="edit-form" ng-submit="summary.save(summary.data)">
                <textarea class="fw" ng-model="summary.data"></textarea>
                <div class="buttons-wrap">
                  <button type="submit"
                    class="fl-rg bg-green btn-small mrg-lft-small"
                    ng-disabled="loading">
                    Save
                  </button>
                  <button type="button"
                    class="fl-rg bg-gray-lighter2 btn-small"
                    ng-click="summary.close()"
                    ng-disabled="loading">
                    Cancel
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- END Company description box -->
        <div class="row">
          <div class="col-sm-8 bg-white">
            <div class="row">
              <div class="col-sm-12">
                <div class="user-desc">
                  <div>
                    <h2 class="main-title">{{ data.company_name }} <i class="bookmark bookmark_inactive bookmark_active"></i></h2>
                  </div>
                  <div class="emp-off-desc">
                    <div>
                      <p>Lorem ipsum <button type="submit"
                        class="btn-edit-sub no-fl"
                        ng-disabled="loading"
                        ng-click="summary.edit()">
                        <i class="fa fa-pencil"></i>
                      </button></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 bg-white user-desc">
            <div class="row">
              <div class="buttons-wrap">
              </div>
            </div>
          </div>
        </div>
        <div class="row mrg-btm">
          <div class="col-sm-12 border-box skills-box">
             <!-- EDIT skills  box -->
            <div class="wrap-form-skills bg-gray-lighter3 hidden">
              <div class="form-group">
                <div class="col-sm-5">
                  <form class="edit-form" ng-submit="summary.save(summary.data)">
                    <div class="mrg-btm">
                      <h5 class="edit-title">Tech team size</h5>
                      <input type="text" class="form-control" />
                    </div>
                    <div class="mrg-btm">
                      <h5 class="edit-title">Technology tags</h5>
                      <input type="text" class="form-control" />
                    </div>
                    <div class="buttons-wrap">
                      <button type="submit"
                        class="fl-rg bg-green btn-small mrg-lft-small"
                        ng-disabled="loading">
                        Save
                      </button>
                      <button type="button"
                        class="fl-rg bg-gray-lighter2 btn-small"
                        ng-click="summary.close()"
                        ng-disabled="loading">
                        Cancel
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
             <!-- END skills box box -->
            <button type="submit"
              class="btn-edit-sub-skills"
              ng-disabled="loading"
              ng-click="skills.edit(skills)">
              <i class="fa fa-pencil"></i>
            </button>
            <div class="row">
              <div class="col-sm-3">
                <div class="skills-head">
                  <div class="big-title skills-title">TECH</div>
                  <!--TODO implement dynamic variables -->
                  <span><span class="smbd">Team size</span> </br> {{ data.no_of_employees }}</span>
                </div>
              </div>
              <div class="col-sm-9">
                <div class="skills-wrap row">
                  <div class="col-sm-4" ng-repeat="tag in data.tech_tags">
                    <div class="skills-item alg-left"><i class="fa fa-gear"></i> {{ tag }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row bg-white mrg-btm">
          <div class="col-sm-12 pad-top-10">
            <button type="submit"
              class="btn-edit-sub no-marg-top"
              ng-disabled="loading"
              ng-click="availability.edit(availability)">
              <i class="fa fa-pencil"></i>
            </button>
            <!-- Edit panel -->
              <div class="edit-textarea hidden">
                <div class="row">
                  <div class="col-sm-5">
                    <form class="edit-form" ng-submit="summary.save(summary.data)">
                      <h5 class="edit-title">Technology philosophy</h5>
                      <textarea class="fw mrg-btm" ng-model="summary.data"></textarea>
                      <h5 class="edit-title">Hiring process</h5>
                      <textarea class="fw mrg-btm" ng-model="summary.data"></textarea>
                      <h5 class="edit-title">Training policy</h5>
                      <textarea class="fw mrg-btm" ng-model="summary.data"></textarea>
                      <div class="buttons-wrap">
                        <button type="submit"
                          class="fl-rg bg-green btn-small mrg-lft-small"
                          ng-disabled="loading">
                          Save
                        </button>
                        <button type="button"
                          class="fl-rg bg-gray-lighter2 btn-small"
                          ng-click="summary.close()"
                          ng-disabled="loading">
                          Cancel
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            <!-- End Edit panel -->
            <div class="accordion-wrap">
              <div>
                <h3 class="accordion-subtitle">Technology Philosophy</h3>
                <p class="pad-btm-15" ng-bind-html="data.tech_team_philosophy"></p>
              </div>
              <div>
                <h3 class="accordion-subtitle">Hiring process</h3>
                <p class="pad-btm-15" ng-bind-html="data.recruitment_process"></p>
              </div>
              <div>
                <h3 class="accordion-subtitle">Training policy</h3>
                <p class="pad-btm-15" ng-bind-html="data.training_policy"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
