<div class="component-employer-profile" ng-show="ready">
  <div class="inner">
    <div class="alert alert-warning" ng-show="!approved">Awaiting approval</div>
    <div class="status-wrap">
      <div class="status">
        <button class="fl-rg btn-edit"
          ng-show="!isEditing"
          ng-show="isEditing && !formOpen"
          ng-click="profile.edit()">
          <i class="fa fa-pencil"></i>
          Edit mode
        </button>
        <button class="fl-rg btn-edit"
          ng-show="isEditing && !formOpen"
          ng-click="profile.stopEdit()">
          <i class="fa fa-check"></i>
          Finish editing
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="row">
          <div class="col-sm-12 bg-gray-light">
            <button class="edit-user-pic-btn" ng-show="isEditing && !openForm" ng-click="picture.edit()">
              <i class="fa fa-camera-retro"></i>
            </button>
            <div class="edit-user-pic" ng-show="picture.editing">
              <form class="bg-gray-lighter3 padd-vert col-sm-12" ng-submit="picture.save(picture.data.logo_url)">
                <h5 class="edit-title">Profile picture</h5>
                <input type="file"
                  class="mrg-btm"
                  name="photo"
                  accept="image/*"
                  ng-required="true"
                  ng-disabled="loading"
                  ng-model="picture.data.logo_url"
                  hc-file-select="selectFile($files)"
                  hc-data-url="selectedPicture">
                <div class="col-sm-6 user-pic-preview mrg-btm-small" style="background-image: url({{ selectedPicture[0]  || data.logo_url }})"></div>
                <div class="buttons-wrap mrg-btm">
                  <button type="button"
                    class="fl-lf bg-gray-lighter2 btn-small"
                    ng-click="picture.close()"
                    ng-disabled="loading">
                    Cancel
                  </button>
                  <button type="submit"
                    class="fl-lf bg-green btn-small mrg-lft-small"
                    ng-disabled="loading">
                    Save
                  </button>
               </div>
              </form>
            </div>
            <div class="user-pic emp-pic" style="background-image: url({{ data.logo_url }})"></div>
          </div>
          <div class="col-sm-12 border-box mrg-btm padd-vert">
          <!--  EDIT Contacts box (remove hidden class to display)-->
            <div class="edit-salary" ng-show="company.editing">
              <form class="edit-form" ng-submit="company.save(company.data)">
                <h5 class="edit-title">Website</h5>
                <div>
                  <input type="url"
                    class="form-control mrg-btm"
                    name="website"
                    required
                    ng-disabled="loading"
                    ng-model="company.data.website">
                </div>
                <h5 class="edit-title">Founding year</h5>
                <div>
                  <input type="number"
                    class="form-control mrg-btm"
                    placeholder="Founding year"
                    name="founding_year"
                    placeholder="VC Founding amount"
                    name="funding_amount"
                    ng-disabled="loading"
                    ng-model="company.data.funding_year">
                </div>
                <h5 class="edit-title">Annual Revenue</h5>
                <div>
                  <input type="dotted-integer"
                    class="form-control mrg-btm"
                    placeholder="Annual revenue"
                    name="revenue_pa"
                    ng-disabled="loading"
                    ng-model="company.data.revenue_pa">
                </div>
                <h5 class="edit-title">Vic Fund Amounting</h5>
                <div>
                  <input type="dotted-integer"
                    class="form-control mrg-btm"
                    placeholder="VC Founding amount"
                    name="funding_amount"
                    ng-disabled="loading"
                    ng-model="company.data.funding_amount">
                </div>
                <h5 class="edit-title">Company size</h5>
                <div>
                  <input type="number"
                    class="form-control mrg-btm"
                    placeholder="Company size"
                    name="no_of_employees"
                    ng-disabled="loading"
                    ng-model="company.data.no_of_employees">
                </div>

                <div class="buttons-wrap">
                  <button type="submit"
                    class="fl-rg bg-green btn-small mrg-lft-small"
                    ng-disabled="loading">
                    Save
                  </button>
                  <button type="button"
                    class="fl-rg bg-gray-lighter2 btn-small"
                    ng-click="contact.close()"
                    ng-disabled="loading">
                    Cancel
                  </button>
                </div>
              </form>
            </div>

            <!-- END EDIT Contacts box-->
            <button type="submit"
              class="btn-edit-sub"
              ng-disabled="loading"
              ng-show="isEditing && !formOpen"
              ng-click="company.edit()">
              <i class="fa fa-pencil"></i>
            </button>
            <p class="smbd" ng-show="data.funding_year">founded in {{ data.funding_year }}</p>
            <p class="smbd" ng-show="data.no_of_employees">{{ data.no_of_employees }} employees</p>
            <p ng-show="data.revenue_pa">Annual revenue: {{ data.revenue_pa | dottedInteger }}.00 €</p>
            <p ng-show="data.funding_amount">VC Founding amount: {{ data.funding_amount | dottedInteger }}.00 €</p>
            <a ng-show="data.website" class="mrg-btm-small no-marg-top link-blue smbd" target="_blank" ng-href="{{ data.website }}">
              {{ data.website }}
            </a>
          </div>
          <div class="col-sm-12 info bg-gray-light mrg-btm office-wrap" ng-class="{
            open: officesSection,
            closed: !officesSection,
          }">

            <!--  EDIT OFFICES   box (remove hidden class to display)-->
            <div class="edit-contacts" ng-show="webProfiles.editing">
              <button class="add-panel-close" ng-click="webProfiles.close()"><i class="fa fa-close"></i></button>
              <div class="edit-form">
                <div class="row">
                  <div class="col-sm-12">
                    <h5 class="edit-title">Offices</h5>
                    <!--  Entry for one office, we should repate this part for each office we are gonna create-->
                    <!-- ti toggle the content just swith the class "closed" with the class "open" -->
                    <div class="wrap-office" ng-repeat="office in offices.data" ng-class="{
                      closed: offices.editing !== $index,
                      open: offices.editing === $index,
                    }">
                      <div class="edit-office">
                        <button class="toggler-office" ng-click="offices.edit(office, $index)">
                          {{ office.address_city.city }} <i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i>
                        </button>
                      </div>
                      <div class="wrap-office-content">
                        <hc-office-form
                          ng-model="office"
                          hc-disabled="loading"
                          on-submit="offices.save(office, $form, $index)">

                          <button type="submit"
                            class="fl-rg bg-green btn-small mrg-lft-small"
                            ng-disabled="loading">
                            Save
                          </button>
                          <button type="button"
                            class="fl-rg bg-gray-lighter2 btn-small"
                            ng-click="offices.close()"
                            ng-disabled="loading">
                            Cancel
                          </button>
                        </hc-office-form>
                      </div>
                    </div>

                    <!-- End Entry for one office -->
                    <div class="clearfix mrg-btm add-btn-wrap">
                      <button class="add-btn no-marg-top" ng-show="isEditing && !formOpen" ng-click="offices.add()">
                        <i class="fa fa-plus"></i> ADD
                      </button>
                    </div>
                    <div class="wrap-office" ng-class="{ open: offices.editing === -2 }">
                      <div class="wrap-office-content">
                        <hc-office-form
                          hc-scope="offices"
                          name="form"
                          hc-required="model.length === 0 || !offices.form.isPristine()"
                          hc-disabled="loading"
                          on-submit="offices.save($model, $form, model.length)">

                          <div class="buttons-wrap">
                            <button type="submit"
                              class="fl-rg bg-green btn-small mrg-lft-small"
                              ng-disabled="loading">
                              Save
                            </button>
                            <button type="button"
                              class="fl-rg bg-gray-lighter2 btn-small"
                              ng-click="offices.close()"
                              ng-disabled="loading">
                              Cancel
                            </button>
                          </div>
                        </hc-office-form>
                      </div>
                    </div>
                    <!-- end add new office -->

                    <form ng-submit="webProfiles.save(webProfiles.data)">
                      <h5 class="edit-title pad-top-20">Web profiles</h5>
                      <div class="row mrg-btm">
                        <div class="col-sm-2 no-padd-right alg-cen">
                          <i class="fa fa-facebook ico-edit"></i>
                        </div>
                        <div class="col-sm-10">
                          <input type="url"
                            class="form-control"
                            name="fb_url"
                            ng-disabled="loading"
                            ng-model="webProfiles.data.fb_url">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-2 no-padd-right alg-cen">
                          <i class="fa fa-linkedin ico-edit"></i>
                        </div>
                        <div class="col-sm-10">
                          <input type="url"
                            class="form-control mrg-btm"
                            name="linkedin_url"
                            ng-disabled="loading"
                            ng-model="webProfiles.data.linkedin_url">
                        </div>
                      </div>
                      <div class="buttons-wrap">
                        <button type="submit"
                          class="fl-rg bg-green btn-small mrg-lft-small"
                          ng-disabled="loading">
                          Save
                        </button>
                        <button type="button"
                          class="fl-rg bg-gray-lighter2 btn-small"
                          ng-click="webProfiles.close()"
                          ng-disabled="loading">
                          Cancel
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" ng-show="!webProfiles.editing">
              <button type="submit"
                class="btn-edit-sub-skills btn-edit-sub-skills_bot"
                ng-disabled="loading"
                ng-show="isEditing && !formOpen"
                ng-click="webProfiles.edit()">
                <i class="fa fa-pencil"></i>
              </button>
              <div class="contacts">
                <div class="fl-lf">
                  Offices
                </div>
                <div class="fl-rg">
                  <a ng-show="data.facebook_url" ng-href="{{ data.facebook_url }}" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a ng-show="data.linkedin_url" ng-href="{{ data.linkedin_url }}" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
              <div class="padd-vert col-sm-12 brd-btm office-list">
                <div class="mrg-btm-big office-list-item" ng-repeat="office in data.offices">
                  <div class="orange smbd">{{ office.address_city.city }}</div>
                  <div>{{ office.address_line1 }}</div>
                  <div>{{ office.address_line2 }}</div>
                  <div>{{ office.address_line3 }}</div>
                  <div>
                    {{ office.address_city.city }},
                    {{ office.address_city.country_iso }}
                    {{ office.address_zipcode }}
                  </div>
                  <div>
                    {{ office.contact_salutation }},
                    {{ office.contact_first_name }}
                    {{ office.contact_last_name }}
                  </div>
                  <div class="smbd orange mrg-btm-small">
                    <span class="iconParent"><i class="fa fa-envelope orange"></i></span>
                    {{ office.contact_email }}
                  </div>
                  <div>
                    <span class="iconParent"><i class="fa fa-mobile orange font-22"></i></span>
                    {{ office.contact_phone }}
                  </div>
                </div>
              </div>

              <div class="col-sm-12 mrg-btm pad-top-15">
                <button class="showhide" ng-click="toggle('officesSection')">
                  <span class="more"><i class="fa fa-angle-down"></i> more</span>
                  <span class="less"><i class="fa fa-angle-up"></i> less</span>
                </button>
              </div>
            </div>
          </div>
          <div class="col-sm-12 border-box mrg-btm padd-vert">
            <form class="edit-salary" ng-show="benefits.editing" ng-submit="benefits.save(benefits.data)">
              <h5 class="edit-title mrg-btm">Benefits </h5>

              <div class="form-wrap">
                <ul>
                  <li class="form-benefits clearfix mrg-btm-small" ng-repeat="benefit in benefits.data">
                    <label class="{{ benefit.value }} col-sm-6 ">
                      {{ benefit.value }}
                      <input type="checkbox"
                        ng-disabled="loading"
                        ng-model="benefit.selected">
                    </label>
                  </li>
                </ul>
                <div class="buttons-wrap">
                  <button type="submit"
                    class="fl-rg bg-green btn-small mrg-lft-small"
                    ng-disabled="loading">
                    Save
                  </button>
                  <button type="button"
                    class="fl-rg bg-gray-lighter2 btn-small"
                    ng-click="benefits.close()"
                    ng-disabled="loading">
                    Cancel
                  </button>
                </div>
              </div>
            </form>
            <div class="box-title box-title_left mrg-btm gray-darker">BENEFITS
              <button type="submit"
                class="btn-edit-sub"
                ng-disabled="loading"
                ng-show="isEditing && !formOpen"
                ng-click="benefits.edit()">
                <i class="fa fa-pencil"></i>
              </button>
            </div>
            <div class="row">
              <div class="col-sm-12 mrg-btm-small" ng-show="!data.benefits.length">Not defined yet</div>
              <div class="col-sm-6 mrg-btm-small" ng-repeat="benefit in data.benefits">
                <div class="benefit-item {{ benefit }}">{{ benefit }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="edit-tarpos" ng-show="summary.editing">
          <h5 class="edit-title">Mission</h5>
          <div class="row">
            <div class="col-sm-5">
              <form class="edit-form" ng-submit="summary.save(summary.data)">
                <text-angular ng-model="summary.data.mission_text"></text-angular>
                <div class="buttons-wrap">
                  <button type="submit"
                    class="fl-rg bg-green btn-small mrg-lft-small"
                    ng-disabled="loading">
                    Save
                  </button>
                  <button type="button"
                    class="fl-rg bg-gray-lighter2 btn-small"
                    ng-click="summary.close()"
                    ng-disabled="loading">
                    Cancel
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 bg-white">
            <div class="row">
              <div class="col-sm-12">
                <div class="user-desc">
                  <div>
                    <h2 class="main-title">{{ data.company_name }}</h2>
                  </div>
                  <div class="emp-off-desc">
                    <div>
                      <span ng-bind-html="data.mission_text"></span>
                      <button type="submit"
                        class="btn-edit-sub no-fl"
                        ng-disabled="loading"
                        ng-show="isEditing && !formOpen"
                        ng-click="summary.edit()">
                        <i class="fa fa-pencil"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 bg-white user-desc">
            <div class="row">
              <div class="buttons-wrap">
              </div>
            </div>
          </div>
        </div>
        <div class="row mrg-btm">
          <div class="col-sm-12 border-box skills-box">
            <div class="wrap-form-skills bg-gray-lighter3" ng-show="tech.editing">
              <div class="form-group">
                <div class="col-sm-5">
                  <form class="edit-form" ng-submit="tech.save(tech.data)">
                    <div class="mrg-btm">
                      <h5 class="edit-title">Tech team size</h5>
                      <input type="number"
                        class="form-control"
                        placeholder="Tech team size"
                        name="tech_team_size"
                        ng-disabled="loading"
                        ng-model="tech.data.tech_team_size">
                    </div>
                    <div class="mrg-btm">
                      <h5 class="edit-title">Technology tags</h5>
                      <hc-label-typeahead
                        name="techTags"
                        placeholder="Technology tags"
                        ng-disabled="loading"
                        ng-model="tech.data.tech_tags"
                        hc-source="searchTags($viewValue)"
                        hc-error-message="Please choose at least one tag"
                        hc-allow-new>
                      </hc-label-typeahead>
                    </div>
                    <div class="buttons-wrap">
                      <button type="submit"
                        class="fl-rg bg-green btn-small mrg-lft-small"
                        ng-disabled="loading">
                        Save
                      </button>
                      <button type="button"
                        class="fl-rg bg-gray-lighter2 btn-small"
                        ng-click="tech.close()"
                        ng-disabled="loading">
                        Cancel
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <button type="submit"
              class="btn-edit-sub-skills"
              ng-disabled="loading"
              ng-show="isEditing && !formOpen"
              ng-click="tech.edit()">
              <i class="fa fa-pencil"></i>
            </button>
            <div class="row">
              <div class="col-sm-3">
                <div class="skills-head">
                  <div class="big-title skills-title">TECH</div>
                  <span ng-show="data.no_of_employees"><span class="smbd">Team size</span> </br> {{ data.no_of_employees }}</span>
                </div>
              </div>
              <div class="col-sm-9">
                <div class="skills-wrap row">
                  <div class="col-sm-4" ng-repeat="tag in data.tech_tags">
                    <div class="skills-item alg-left"><i class="fa fa-gear"></i> {{ tag }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row bg-white mrg-btm">
          <div class="col-sm-12 pad-top-10">
            <button type="submit"
              class="btn-edit-sub no-marg-top"
              ng-disabled="loading"
              ng-show="isEditing && !formOpen"
              ng-click="descriptions.edit()">
              <i class="fa fa-pencil"></i>
            </button>
            <!-- Edit panel -->
              <div class="edit-textarea" ng-show="descriptions.editing">
                <div class="row">
                  <div class="col-sm-5">
                    <form class="edit-form" ng-submit="descriptions.save(descriptions.data)">
                      <h5 class="edit-title">Technology philosophy</h5>
                      <textarea
                        class="fw mrg-btm"
                        placeholder="Technology philosophy"
                        name="tech_team_philosophy"
                        ng-disabled="loading"
                        ng-model="descriptions.data.tech_team_philosophy">
                      </textarea>
                      <h5 class="edit-title">Hiring process</h5>
                      <textarea
                        class="fw mrg-btm"
                        placeholder="Recruitment process"
                        name="recruitment"
                        required
                        ng-disabled="loading"
                        ng-model="descriptions.data.recruitment_process">
                      </textarea>
                      <h5 class="edit-title">Training policy</h5>
                      <textarea
                        class="fw mrg-btm"
                        placeholder="Training policy"
                        name="training"
                        ng-disabled="loading"
                        ng-model="descriptions.data.training_policy">
                      </textarea>
                      <div class="buttons-wrap">
                        <button type="submit"
                          class="fl-rg bg-green btn-small mrg-lft-small"
                          ng-disabled="loading">
                          Save
                        </button>
                        <button type="button"
                          class="fl-rg bg-gray-lighter2 btn-small"
                          ng-click="descriptions.close()"
                          ng-disabled="loading">
                          Cancel
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            <!-- End Edit panel -->
            <div class="accordion-wrap">
              <div>
                <h3 class="accordion-subtitle">Technology Philosophy</h3>
                <p class="pad-btm-15" ng-show="data.tech_team_philosophy" ng-bind-html="data.tech_team_philosophy"></p>
                <p class="pad-btm-15" ng-show="!data.tech_team_philosophy">Not defined yet</p>
              </div>
              <div>
                <h3 class="accordion-subtitle">Hiring process</h3>
                <p class="pad-btm-15" ng-show="data.recruitment_process" ng-bind-html="data.recruitment_process"></p>
                <p class="pad-btm-15" ng-show="!data.recruitment_process">Not defined yet</p>
              </div>
              <div>
                <h3 class="accordion-subtitle">Training policy</h3>
                <p class="pad-btm-15" ng-show="data.training_policy" ng-bind-html="data.training_policy"></p>
                <p class="pad-btm-15" ng-show="!data.training_policy">Not defined yet</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
