<%inherit file="debug.html"/>


<%def name="title()">Candidate</%def>
<%def name="tests()">
  <script>
    var email = guid()+"@hackandcraft.com",
            tests = [
              {'url':'/api/v1/candidates/', 'title': 'candidate-signup',
                data: {first_name: 'Bob', last_name: "Bayley", "email": email, pwd:"welcomepwd"},
                extract:   function(r, extr){return {candidateId: r.id, actToken: r.activation_token}}},

              {'url':function(r, extr){ return '/api/v1/candidates/activate/'+extr.actToken;}, 'title': 'candidate-activation'},

              {'url': function(r, extr){return '/api/v1/candidates/login'}, 'title': 'candidate-login',
                data: {"email": email, pwd:"welcomepwd"}
              },

              {'url': function(r, extr){return '/api/v1/candidates/me'}, 'title': 'candidate-me'},

              //{'sectionTitle': 'Set Based Endpoints'},

              {'title': 'Languages'},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId+'/languages'},
                'title': 'set-languages-1', method:'PUT', data: [
                {'language':'english', 'proficiency': 'advanced'},
                {'language':'german', 'proficiency': 'native'},
                {'language':'french', 'proficiency': 'basic'}
              ]},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId+'/languages'},
                'title': 'set-languages-2', method:'PUT', data: [
                {'language':'chinese', 'proficiency': 'native'},
                {'language':'english', 'proficiency': 'basic'}
              ]},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId}, title: 'get-candidate-languages'},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId+'/languages'},
                'title': 'set-languages-empty', method:'PUT', data: []},

              {'title': 'Preferred Cities'},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId+'/preferred_cities'},
                'title': 'set-candidate-preferred_cities-1', method:'PUT', data: [
                {'city':'Berlin', 'country_iso': 'DE'},
                {'city':'Leipzig', 'country_iso': 'DE'},
                {'city':'Hamburg', 'country_iso': 'DE'},
                {'city':'Uberlândia', 'country_iso': 'BR'}]},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId+'/preferred_cities'},
                'title': 'set-candidate-preferred_cities-2', method:'PUT', data: [{'city':'Berlin Schöneberg', 'country_iso': 'DE'}]},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId}, title: 'get-candidate-preferred_cities'},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId+'/preferred_cities'},
                'title': 'set-preferred_cities-empty', method:'PUT', data: []},

              {'title': 'Skills'},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId+'/skills'},
                'title': 'set-skills', method:'PUT', data: [
                {"skill": "PHP", "level":"advanced"},
                {"skill": "Java", "level":"advanced"},
                {"skill": "Python", "level":"basic"},
                {"skill": "Spring", "level":"expert"}],
                extract:   function(r, extr){return {skillId: r.id}}},

              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId+'/skills'},
                'title': 'set-skills-2', method:'PUT', data: [
                {"skill": "PHP", "level":"basic"}],
                extract:   function(r, extr){return {skillId: r.id}}},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId}, 'title': 'get-candidate-skills'},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId+'/skills'}, 'title': 'set-empty-skill', method:"PUT", data: []},

              //{'sectionTitle': 'Restful Endpoints'},

              {'title': 'Education'},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId+'/education'}, 'title': 'list-education'},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId+'/education'}, 'title': 'create-education',
                data: {"institution": "Eidgenössische Technische Hochschule Zürich, Switzerland", "degree":"Bachelor",
                  "start":"1999-01-01", "end": "2002-03-31", course:"Design of Intelligent Protoplasma"},
                extract:   function(r, extr){return {educationId: r.id}}},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId+'/education'}, 'title': 'create-education-2',
                data: {"institution": "Peking University, China", "degree":"Master",
                  "start":"2005-01-01", "end": "2006-02-28", course:"Cleanup of Intelligent Protoplasma"}},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId+'/education'}, 'title': 'list-education-2'},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId+'/education/'+extr.educationId}, 'title': 'delete-education', method:"DELETE"},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId+'/education'}, 'title': 'list-education-3'},

              {'title': 'Work Experience'},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId+'/work_experience'}, 'title': 'list-work_experience'},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId+'/work_experience'}, 'title': 'create-work_experience',
                data: {"company": "Intel Corp.", "role":"Project Architect", 'job_title': 'Senior Dev Lead',
                  location: {"city": "Überlingen", country_iso: 'DE'}, "start":"2004-01-01", "end": "2004-03-31", summary:"Design of Intelligent Protoplasma"},
                extract:   function(r, extr){return {work_experienceId: r.id}}},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId+'/work_experience'}, 'title': 'create-work_experience-2',
                data: {"company": "Intel Corp.", "role":"Architect", 'job_title': 'Dev Lead',
                  location: {"city": "Berlin", country_iso: 'DE'}, "start":"2004-04-01", "end": "2004-05-01", summary:"Design of Intelligent Protoplasma"}},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId+'/work_experience'}, 'title': 'list-work_experience-2'},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId+'/work_experience/'+extr.work_experienceId}, 'title': 'delete-work_experience', method:"DELETE"},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId+'/work_experience'}, 'title': 'list-work_experience-3'},

              {'title': 'Target Position'},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId+'/target_positions'}, 'title': 'list-target_position'},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId+'/target_positions'}, 'title': 'create-target_position',
                data: {"company_type": "startup", "role":"Java Developer", 'skill': "PHP",
                  benefits:"Free Breakfasts", minimum_salary: 100000},
                extract:   function(r, extr){return {target_positionId: r.id}}},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId+'/target_positions'}, 'title': 'create-target_position-2',
                data: {"company_type": "top500", "role":"Senior Designer", 'skill': "Java", benefits:"Free Breakfasts", minimum_salary: 40000, seniority: "senior"}},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId+'/target_positions'}, 'title': 'list-target_position-2'},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId+'/target_positions/'+extr.target_positionId}, 'title': 'delete-target_position', method:"DELETE"},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId+'/target_positions'}, 'title': 'list-target_position-3'},

              {'sectionTitle': 'Cleanup'},
              {'url': function(r, extr){return '/api/v1/candidates/logout'}, 'title': 'candidate-logout'},
              {'url': function(r, extr){return '/api/v1/candidates/'+extr.candidateId}, 'title': 'candidate-delete', method:"DELETE"}


            ];

    $(function(){getTestRunner(tests)(0, {});})
  </script>
</%def>
