<%inherit file="debug.html"/>


<%def name="title()">Admin</%def>
<%def name="tests()">
<script>
  var email = 'martin+' + guid() + "@hackandcraft.com",
          tests = [
            {url: '/api/v1/admin/employers', title: 'admin-invite-employer',
              data: {company_name: 'Bob Corp ' + guid(), "email": email, 'contact_name': 'Uncle Bob'},
              extract: function (r, extr) {
                return {invite_token: r.invite_token}
              }},

            {url: function(r, extr) { return '/api/v1/employers/invite/'+ extr.invite_token; },
              title: 'employer-invite-validate'},

            {url: function(r, extr) { return '/api/v1/employers/invite/'+ extr.invite_token; },
              data: {pwd: 'helloworld'},
              title: 'employer-invite-respond'},

            {url: '/api/v1/employers/login', data: {email: email, pwd: 'helloworld'}, title: 'employer-login'},
            {url: '/api/v1/employers/me', title: 'employer-me'},

          ];

  $(function () {
    getTestRunner(tests)(0, {});
  })
</script>
</%def>
