<div class="row" ng-class="{ inactive: model.status === 'REJECTED' }">
  <div class="col-sm-3">
    <div class="pad-lft-15">
      <div class="caps font-14 mrg-btm">Offer No. {{ model.data.reference }}</div>
      <div class="offer-pic" ng-if="!hide.employer" style="background-image: url({{ model.data.employer.logo_url }})"></div>
      <div class="offer-pic" ng-if="!hide.candidate" style="background-image: url({{ model.data.candidate.picture_url }})"></div>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="row">
      <div class="offer-date col-sm-8 mrg-btm">created: {{ model.data.created | moment:"MMMM Do, YYYY" }}</div>
      <div class="col-sm-4 mrg-btm alg-right lbl">
        <div class="pad-rgt-15">
          <span class="gray-light">Status</span>
          <span class="iconParent"><i class="fa" ng-class="{
            'blue-link':
              model.status === 'ACCEPTED' ||
              model.status === 'ACTIVE' ||
              model.status === 'INTERVIEW' ||
              model.status === 'NEGOTIATING' ||
              model.status === 'CONTRACT_SIGNED' ||

              model.status === 'EXPIRED',

            'fa-sign-in':
               model.status === 'ACTIVE',

            'fa-toggle-on':
              model.status === 'ACCEPTED',

            'fa-pencil':
              model.status ==='CONTRACT_SIGNED',

            'fa-exchange':
              model.status === 'NEGOTIATING',

            'red':
              model.status === 'WITHDRAWN' ||
              model.status === 'REJECTED',

            'fa-times-circle':
              model.status === 'WITHDRAWN' ||
              model.status === 'REJECTED',


            'fa-comments': model.status === 'INTERVIEW',
          }"></i></span>
          <span ng-class="{
            'red':
              model.status === 'WITHDRAWN' ||
              model.status === 'REJECTED',
          }">{{ model.statusText }}</span>
        </div>
      </div>
      <div class="col-sm-8 offer-list-title">{{ model.data.role }}
        <div ng-if="!hide.candidate" class="subtitle">
          <span class="iconParent">
            <i class="fa fa-euro gray-light"></i>
          </span>
          <span class="smbd">{{ model.data.annual_salary | dottedInteger }}</span> / year
        </div>
      </div>
      <div class="col-sm-4 mrg-btm-big">
        <div class="pad-rgt-15">
          <a class="link-orange fl-rg" ui-sref="offer({ id: model.id })"
            ng-hide="model.status === 'STARTED' || model.status === 'REJECTED' || model.status === 'WITHDRAWN'">
            offer details <i class="fa fa-angle-right"></i>
          </a>

          <div class="row" ng-show="model.status === 'REJECTED' || model.status === 'WITHDRAWN'">
            <div class="col-sm-6 col-sm-offset-6 alg-left">
              <div class="smbd">reason:</div>
              <div>{{ model.data.rejected_reason || model.data.withdrawal_reason }}</div>
            </div>
          </div>
       </div>
      </div>

      <div class="col-sm-12">
        <div class="row">

          <div ng-if="!hide.employer" class="col-sm-4 infos">
            <div ><span class="iconParent"><i class="fa fa-euro gray-light"></i></span> <span class="smbd">{{ model.data.annual_salary | dottedInteger }}</span> / year</div>
            <div>
              <span class="iconParent"><i class="fa fa-map-marker gray-light"></i></span>
              {{ model.data.location.city }}, {{ model.data.location.country_iso }}
            </div>
            <a class="link-blue" ui-sref="employer({ id: model.employer_id })">Company profile <i class="fa fa-angle-right"></i></a>
          </div>
          <div ng-if="!hide.candidate" class="col-sm-4 infos-candidate">
            <div class="name"><a ui-sref="candidate({ id: model.candidate_id })">
              {{ model.data.candidate.first_name}} {{ model.data.candidate.last_name }}
            </a></div>
            <div class="position">{{ model.position.role }}</div>
            <div class="company">{{ model.position.company }}</div>
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2 req-list">
                <div class="key">
                  <i class="fa fa-key ico-req-list" ng-if="!hide.employer"></i>
                  <i class="fa fa-star ico-req-list" ng-if="!hide.candidate"></i>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="req-list-title mrg-btm-small" ng-if="!hide.employer">Requirements</div>
                    <div class="req-list-title mrg-btm-small" ng-if="!hide.candidate">Skills</div>
                  </div>
                  <div class="col-sm-3 mrg-btm-small" ng-repeat="skill in model.data.technologies">
                    {{ skill }}
                  </div>
                </div>
              </div>
              <div class="col-sm-4"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

