<div class="row" ng-class="{ inactive: !isActive }">
  <div class="col-sm-3">
    <div class="pad-lft-15">
      <div class="caps font-14 mrg-btm">Offer No. {{ model.data.reference }}</div>

      <div class="offer-pic emp-pic" ng-if="!hide.employer" style="background-image: url({{ model.data.employer.logo_url }})"></div>
      <hc-candidate-pic classes="offer-pic" ng-if="!hide.candidate" picture-url="model.data.candidate.picture_url"></hc-candidate-pic>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="row">
      <div class="offer-date col-sm-7 mrg-btm" ng-show="model.data.created === model.data.last_updated">
        created: {{ model.data.created | moment:"MMMM Do, YYYY" }}
      </div>
      <div class="offer-date col-sm-7 mrg-btm" ng-show="model.data.created !== model.data.last_updated">
        last update: {{ model.data.last_updated | moment:"MMMM Do, YYYY" }}
      </div>
      <div class="col-sm-5 mrg-btm alg-right lbl">
        <div class="pad-rgt-15">
          <div class="status-{{model.status}}">
            <span>status: </span>

            <span class="accept-message">
              <span class="iconParent"><i class="fa blue-link fa-clock-o"></i></span>
              <span class="blue-link" ng-if="hide.candidate">waiting for you to accept</span>
              <span class="blue-link" ng-if="!hide.candidate">waiting for candidate to accept</span>
            </span>
            <span class="accepted-message">
              <span class="iconParent"><i class="fa blue-link fa-check-square-o"></i></span>
              <span class="blue-link">Offer is accepted</span>
            </span>
            <span class="interviewing-message">
              <span class="iconParent"><i class="fa blue-link fa-comments"></i></span>
              <span class="blue-link">Interviewed for this offer</span>
            </span>
            <span class="negotiation-message">
              <span class="iconParent"><i class="fa blue-link fa-exchange"></i></span>
              <span class="blue-link">Negotiating contract details</span>
            </span>
            <span class="signed-message">
              <span class="iconParent"><i class="fa green fa-pencil"></i></span>
              <span class="green">Contract was signed</span>
            </span>
            <span class="withdrawn-message">
              <span class="iconParent"><i class="fa red fa-times-circle"></i></span>
              <span class="red"></span>
              <span class="blue-link">Offer was withdrawn</span>

            </span>
            <span class="reject-message">
              <span class="iconParent"><i class="fa red fa-times-circle"></i></span>
              <span class="red">Offer was rejected</span>
            </span>
          </div>
        </div>
      </div>
      <div class="col-sm-8 offer-list-title">
        {{ model.data.role }}
        <span ng-if="hide.candidate">@ {{ model.data.employer.company_name }}
        </span>
        <div ng-if="!hide.candidate" class="subtitle">
          <span class="iconParent">
            <i class="fa fa-euro gray-light"></i>
          </span>
          <span class="smbd">{{ model.data.annual_salary | dottedInteger }}</span> / year
        </div>
      </div>
      <div class="col-sm-4 mrg-btm-big">
        <div class="pad-rgt-15">
          <a class="link-orange fl-rg" ui-sref="offer({ id: model.id })" ng-show="canBeViewed">Offer details</a>

          <div class="row" ng-show="model.status === 'REJECTED' || model.status === 'WITHDRAWN'">
            <div class="col-sm-6 col-sm-offset-6 alg-left">
              <div class="smbd">reason:</div>
              <div>{{ model.data.rejected_reason || model.data.withdrawal_reason }}</div>
            </div>
          </div>
       </div>
      </div>

      <div class="col-sm-12">
        <div class="row">

          <div ng-if="!hide.employer" class="col-sm-4 infos">
            <div>
              <span class="iconParent"><i class="fa fa-euro gray-light"></i></span>
              <span class="smbd">{{ model.data.annual_salary | dottedInteger }}</span> / year
            </div>
            <div class="mrg-btm">
              <span class="iconParent"><i class="fa fa-map-marker gray-light"></i></span>
              {{ model.data.location.city }}, {{ model.data.location.country_iso }}
            </div>
            <a class="link-blue smbd caps font-18" ui-sref="employer({ id: model.data.employer.id })">Company profile</a>
          </div>
          <div ng-if="!hide.candidate" class="col-sm-4 infos-candidate">
            <div class="name"><a ui-sref="candidate({ id: model.data.candidate.id })">
              {{ model.data.candidate.first_name}} {{ model.data.candidate.last_name }}
            </a></div>
            <div class="position">{{ model.position.role }}</div>
            <div class="company">{{ model.position.company }}</div>
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2 req-list">
                <div class="key">
                  <i class="fa fa-rocket ico-req-list"></i>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="req-list-title mrg-btm-small" ng-if="!hide.employer">Requirements</div>
                    <div class="req-list-title mrg-btm-small" ng-if="!hide.candidate">Skills</div>
                  </div>
                  <div class="col-sm-3 mrg-btm-small" ng-repeat="skill in model.data.technologies">
                    <span>{{ skill }}</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-4"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

