<ul class="{{ rowClass }}">
  <li class="{{ colClass || 'clearfix form-benefits mrg-btm-small'}}" ng-repeat="benefit in benefits">
    <label>
      <input type="checkbox"
             ng-disabled="loading"
             ng-model="benefit.selected">
      <span class="iconParent"><i class="fa {{ benefitIcon(benefit.value) }}"></i></span>
      {{ benefit.value }}
    </label>
  </li>
</ul>

<textarea
  class="form-control mrg-btm two-liner"
  placeholder="Other benefits"
  name="otherBenefits"
  value="otherBenefits"
  ng-model="otherBenefits">
</textarea>

