<div class="component-candidate-profile {{ editClass }}" ng-if="ready" ng-class="{
  'form-open': isFormOpen,
  editing: isEditing,
}">

  <div hc-candidate-completion model="candidate" ng-show="!isFormOpen"></div>

  <div class="status">
    <button id="button-edit-profile" class="fl-rg btn-edit" ng-click="profile.edit()">
      <i class="fa fa-pencil"></i>
      <translate>Edit mode</translate>
    </button>
    <button id="button-finish-edit" class="fl-rg btn-edit" ng-click="profile.stopEdit()">
      <i class="fa fa-check"></i>
      <translate>Finish editing</translate>
    </button>
    <div class="clearfix"></div>
  </div>

  <div class="row" ng-if="candidate">
    <div class="col-sm-3 sidebar">
      <section class="avatar-section">
        <div hc-candidate-avatar model="candidate"></div>
        <div hc-candidate-avatar-edit model="candidate"></div>
      </section>

      <section class="public-url">
        <div hc-candidate-public-url model="candidate"></div>
      </section>

      <section class="salary-section">
        <div hc-candidate-salary model="candidate"></div>
        <div hc-candidate-salary-edit model="candidate"></div>
      </section>

      <section class="contact-section">
        <div hc-candidate-contact model="candidate"></div>
        <div hc-candidate-contact-edit model="candidate"></div>
      </section>

      <section class="birthdate-section">
        <div hc-candidate-birthdate model="candidate"></div>
        <div hc-candidate-birthdate-edit model="candidate"></div>
      </section>

      <section class="offers-section" ng-if="allOffers.length">
        <div hc-candidate-offers model="candidate" hc-view-all></div>
      </section>

      <section class="availability-section">
        <div hc-candidate-availability model="candidate"></div>
        <div hc-candidate-availability-edit model="candidate"></div>
      </section>

      <section class="languages-section">
        <div hc-candidate-languages model="candidate"></div>
        <div hc-candidate-languages-edit model="candidate"></div>
      </section>
    </div>

    <div class="col-sm-9">
      <div class="header">
        <div class="header-inner">
          <div class="col-sm-8">
            <section class="name-section">
              <div hc-candidate-name model="candidate"></div>
              <div hc-candidate-name-edit model="candidate"></div>
            </section>

            <section class="target-section">
              <div hc-candidate-target model="candidate"></div>
              <div hc-candidate-target-edit model="candidate"></div>
            </section>

            <section class="summary-section">
              <div hc-candidate-summary model="candidate"></div>
              <div hc-candidate-summary-edit model="candidate"></div>
            </section>

            <section class="cv-section">
              <div hc-candidate-cv model="candidate"></div>
              <div hc-candidate-cv-edit model="candidate"></div>
            </section>
          </div>

          <div class="col-sm-4">
            <section class="status-section">
              <span><translate>Status</translate>: </span>
              <hc-candidate-status candidate="candidate" offers="allOffers"></hc-candidate-status>
            </section>

            <section class="privacy-section">
              <div hc-candidate-privacy model="candidate"></div>
              <div hc-candidate-privacy-edit model="candidate"></div>
            </section>
          </div>
        </div>

        <div class="completion-indicator">
          <h3 translate>Profile Strength</h3>
          <div hc-completion-graph class="small" model="candidate"></div>
        </div>
      </div>

      <section class="row skills-section">
        <div class="col-sm-12">
          <div hc-candidate-skills model="candidate"></div>
          <div hc-candidate-skills-edit model="candidate"></div>
        </div>
      </section>

      <section class="row experience-section">
        <div class="col-sm-12">
          <div hc-candidate-experience model="candidate" hc-editable></div>
        </div>
      </section>

      <section class="row education-section">
        <div class="col-sm-12">
          <div hc-candidate-education model="candidate" hc-editable></div>
        </div>
      </section>
    </div>
  </div>
</div>
