<div class="component-employer-candidate-profile" ng-show="ready">
  <div class="inner">
    
    <div class="status-wrap">
      <div class="status">
        <button class="fl-rg btn-edit"
          ng-show="!isEditing"
          ng-click="profile.edit()">
          <i class="fa fa-pencil"></i>
          Edit mode
        </button>
        <button class="fl-rg btn-edit"
          ng-show="isEditing && !formOpen"
          ng-click="profile.stopEdit()">
          <i class="fa fa-check"></i>
          Finish editing
        </button>
      </div>
    </div>  

      <div class="row">
        <div class="col-sm-3">
          <div class="row">
            <div class="col-sm-12 bg-gray-light mrg-btm">
              <!-- This div has to appear once entered edit mode -->
              <button class="edit-user-pic">
                <i class="fa fa-camera"></i>
              </button>
              <!-- -->
              <div class="user-pic" style="background-image: url({{ user.picture_url }})"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 border-box mrg-btm">
              <div class="padd-vert">
                <div class="mrg-btm-small"> <span class="iconParent"><i class="fa fa-euro orange"></i></span>{{ targetPosition.minimum_salary | dottedInteger }}</div>
                <div> <span class="iconParent"><i class="fa fa-location-arrow orange"></i></span> {{ user.location.city }}, {{ user.location.country_iso }}</div>
              </div>
            </div>

            <div class="col-sm-12 info bg-gray-light mrg-btm">
              <div class="row">
                <div class="contacts">
                  <div class="fl-lf">
                    <span class="box-title box-title_left" href="#">Contacts </span>
                  </div>
                  <div class="fl-rg">
                    <a href="#"><i class="fa fa-github"></i></a>
                    <a href="#"><i class="fa fa-stack-overflow"></i></a>
                    <a href="#"><i class="fa fa-globe"></i></a>
                  </div>
                </div>
                <div class="padd-vert col-sm-12">
                  <div class="smbd orange mrg-btm-small"> <span class="iconParent"><i class="fa fa-envelope orange"></i></span>mail@jimparson.com</div>
                  <div> <span class="iconParent"><i class="fa fa-mobile orange font-22"></i></span>+213 123 4567</div>
                </div>
              </div>
            </div>

            <!-- Age Visa box -->
            <div class="col-sm-12 border-box mrg-btm">
              <div class="padd-vert">
                <div class="mrg-btm-small"> <span class="iconParent"><i class="fa fa-birthday-cake orange"></i> </span> Age {{ user.dob | yearsAgo }}</div>
                <div> <span class="iconParent"><i class="fa orange" ng-class="{
                  'fa-check': user.eu_work_visa,
                  'fa-times': !user.eu_work_visa,
                }"></i></span> has a work visa</div>
              </div>
            </div>

            <!-- Offers box -->
            <div class="col-sm-12 bg-gray-light mrg-btm ">
              <div class="bg-gray-light row">
                <div class="offer-box col-sm-12">
                  <div class="box-title box-title_left mrg-btm">Offers</div>
                  <div>
                    <div class="orange bld"><a href="#">Hack and Craft <i class="fa fa-angle-right"></i></a></div>
                    <div class="mrg-btm-small">€ 90.0000</div>
                  </div>
                  <a href="#" class="fl-rg smbd gray">View all <i class="fa fa-angle-right"></i></a>
                </div>
              </div>
            </div>

            <!-- Availability box -->
            <div class="col-sm-12 bg-gray-light mrg-btm padd-vert">
              <div class="box-title box-title_left mrg-btm">Availability
                <button type="submit"
                  class="btn-edit-sub"
                  ng-show="isEditing && !formOpen"
                  ng-disabled="loading"
                  ng-click="availabilityForm.edit(availability)">
                  <i class="fa fa-pencil"></i>
                </button>
              </div>
              <p class="gray">{{ user.availability || 'Not specified' }}</p>
            </div>
            <div class="col-sm-12 bg-gray-lighter3 mrg-btm padd-vert" >
               <h5 class="edit-title">Languages <span> 0 characters left</span><h5>
              <form class="edit-form">
                <textarea class=""></textarea>
                <div class="buttons-wrap">
                  <button type="submit"
                    class="fl-rg bg-green btn-small mrg-lft-small"
                    ng-disabled="loading">
                    Save
                  </button>
                  <button type="button"
                    class="fl-rg bg-gray-lighter2 btn-small"
                    ng-click="languagesForm.cancel()"
                    ng-disabled="loading">
                    Cancel
                  </button>
                </div>
              </form>
            </div>

            <!-- Languages box -->
            <div class="col-sm-12 bg-gray-light mrg-btm padd-vert" ng-hide="isEditing && languagesForm.editing">
              <div class="box-title box-title_left mrg-btm">Languages
                <button type="submit"
                  class="btn-edit-sub"
                  ng-show="isEditing && !formOpen"
                  ng-disabled="loading"
                  ng-click="languagesForm.edit(languages)">
                  <i class="fa fa-pencil"></i>
                </button>
              </div>
              <div ng-repeat="entry in languages">
                <span class="value gray">{{ entry.language }}: <span class="smbd">({{ entry.proficiency }})</span></span>
              </div>
            </div>
            <div class="col-sm-12 bg-gray-lighter3 mrg-btm padd-vert" ng-show="isEditing && languagesForm.editing">
              <hc-languages-form
                hc-scope="languagesForm"
                name="form"
                hc-disabled="loading"
                on-submit="languagesForm.save()">
                <div class="buttons-wrap">
                  <button type="submit"
                    class="fl-rg bg-green btn-small mrg-lft-small"
                    ng-disabled="loading">
                    Save
                  </button>
                  <button type="button"
                    class="fl-rg bg-gray-lighter2 btn-small"
                    ng-click="languagesForm.cancel()"
                    ng-disabled="loading">
                    Cancel
                  </button>
                </div>
              </hc-languages-form>
            </div>
            <!-- End Languages box -->

          </div>
        </div>


        <!-- MAIN CONTENT -->
        <div class="col-sm-9">
          <div class="row">
             <div class="col-sm-8 bg-white">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="user-desc">
                      <div class="">
                        <h2 class="main-title">{{ user.first_name }} {{ user.last_name }} <i class="bookmark bookmark_inactive bookmark_active"></i></h2>
                      </div>
                      <div class="emp-off-desc">
                        <h3 class="main-subtitle">Target position: <span>{{ targetPosition.role }}</span></h3>
                        <p>{{ user.summary }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-4 bg-white user-desc">
                <div class="fl-rg pad-20  ">
                  <span>Status: </span>
                  <span ng-show="status === 'searching'">
                    <span class="iconParent blue-link"><i class="fa fa-search"></i></span>
                    <span>searching</span>
                  </span>
                  <span ng-show="status === 'reviewing'">
                    <span class="iconParent blue-link"><i class="fa fa-eye"></i></span>
                    <span>reviewing offer</span>
                  </span>
                  <span ng-show="status === 'hired'">
                    <span class="green smbd">HIRED</span>
                  </span>
                </div>
              </div>
              <div class="col-sm-12 mrg-btm">
                <div class="row">
                  <div class="border-box clearfix skills-box">
                    <div class="wrap-form-skills bg-gray-lighter3" ng-show="isEditing && skillsForm.editing">
                      <hc-skills-form
                        hc-scope="skillsForm"
                        name="form"
                        hc-disabled="loading"
                        on-submit="skillsForm.save()">
                         <div class="buttons-wrap">
                          <button type="submit"
                            class="fl-rg bg-green btn-small mrg-lft-small"
                            ng-disabled="loading">
                            Save
                          </button>
                          <button type="button"
                            class="fl-rg bg-gray-lighter2 btn-small"
                            ng-click="languagesForm.cancel()"
                            ng-disabled="loading">
                            Cancel
                          </button>
                        </div>
                      </hc-skills-form>
                    </div>
                    <button type="submit"
                      class="btn-edit-sub-skills"
                      ng-show="isEditing && !formOpen"
                      ng-disabled="loading"
                      ng-click="skillsForm.edit(skills)">
                      <i class="fa fa-pencil"></i>
                    </button>
                    <div class="col-sm-3">
                      <div class="skills-head">
                        <div class="big-title skills-title">SKILLS    
                          
                        </div>
                        <div class="caption">
                          <div>expert  <hc-stars hc-value="expert" hc-values="starValues"></hc-stars></div>
                          <div>advanced <hc-stars hc-value="advanced" hc-values="starValues"></hc-stars></div>
                          <div>basic <hc-stars hc-value="basic" hc-values="starValues"></hc-stars></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-9">
                      <div class="skills-wrap row">
                        <div class="col-sm-4" ng-repeat="entry in skills">
                          <div class="skills-item">{{ entry.skill }}
                            <hc-stars ng-model="skill.level" hc-values="starValues"></hc-stars>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="skills-others">
                            <span class="smbd">Others:</span> {{ unleveledSkills }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <div class="row bg-white">
            <div class="job-bar">
              <div class="job-bar-item" ng-repeat="entry in timeline"  style="width: {{ entry.percent }}%">
                <div class="job-bar-item_up" title="{{ entry.duration | yearMonth }}" ng-class="{
                  'bg-gray-light': $even,
                  'bg-blue-light': $odd,
                }">{{ entry.duration | yearMonth:entry.percent }}</div>
                <div class="job-bar-item_down" title="{{ entry.role }}">{{ entry.percent > 5 && entry.role || '' }}</div>
              </div>
            </div>
          </div>

          <div class="row bg-white mrg-btm">
            <div class="col-sm-12">
              <h2 class="big-title accordion-main-title">WORK EXPERIENCE <span>6 year 1 month</span></h2>
              <div class="accordion-wrap">
                <!-- Add panel -->
                <div class="add-panel">
                  <button class="add-panel-close"><i class="fa fa-close"></i></button>
                  <form>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="row mrg-btm">
                          <div class="col-sm-12">
                            <label>Company name</label>
                            <input class="form-control" type="text" />
                          </div>
                        </div>
                        <div class="row mrg-btm">
                          <div class="col-sm-12">
                            <label>Location</label>
                            <div class="row">
                              <div class="col-sm-6">
                                <input class="form-control" type="text" value="country" />
                              </div>
                              <div class="col-sm-6">
                                <input class="form-control" type="text" value="city"/>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <label>Period</label>
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="row">
                                  <div class="col-sm-8">
                                    <input class="form-control" type="text" value="month" />
                                  </div>
                                  <div class="col-sm-4 no-padd-left">
                                    <input class="form-control" type="text" value="year" />
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="row">
                                  <div class="col-sm-8">
                                    <input class="form-control" type="text" value="month" />
                                  </div>
                                  <div class="col-sm-4 no-padd-left">
                                    <input class="form-control" type="text"  value="year" />
                                  </div>
                                </div>
                                <div class="check-wrap"><label><input type="checkbox">  I'm still working here</label></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row mrg-btm">
                          <div class="col-sm-12">
                            <label>Role</label>
                            <input class="form-control" type="text" />
                          </div>
                        </div>
                        <div class="row mrg-btm">
                          <div class="col-sm-12">
                            <label>Role description</label>
                            <textarea class="form-control"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="row check-wrap mrg-btm">
                          <div class="col-sm-6"><label><input type="checkbox" />Java</label></div>
                          <div class="col-sm-6"><label><input type="checkbox" />Html/css</label></div>
                          <div class="col-sm-6"><label><input type="checkbox" />.Net</label></div>
                          <div class="col-sm-6"><label><input type="checkbox" />Android</label></div>
                          <div class="col-sm-6"><label><input type="checkbox" />Php</label></div>
                          <div class="col-sm-6"><label><input type="checkbox" />iOS</label></div>
                          <div class="col-sm-6"><label><input type="checkbox" />Pyton</label></div>
                          <div class="col-sm-6"><label><input type="checkbox" />Linux</label></div>
                          <div class="col-sm-6"><label><input type="checkbox" />Ruby</label></div>
                          <div class="col-sm-6"><label><input type="checkbox" />Salesforce</label></div>
                          <div class="col-sm-6"><label><input type="checkbox" />C / C++</label></div>
                          <div class="col-sm-6"><label><input type="checkbox" />Sap</label></div>
                          <div class="col-sm-6"><label><input type="checkbox" />Javascript</label></div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <label>Other skills</label>
                            <input class="form-control" type="text" value="Type a skill..." />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="buttons-wrap">
                        <button class="fl-rg bg-green btn-small mrg-lft-small" type="submit">save</button>
                        <button class="fl-rg bg-gray-lighter2 btn-small">cancel</button>
                      </div>
                    </div>
                  </form>
                </div>
                <!--End  Add panel -->
                <!-- EDIT panel -->
                <div class="add-panel">
                  <button class="add-panel-close"><i class="fa fa-close"></i></button>
                  <form>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="row mrg-btm">
                          <div class="col-sm-12">
                            <label>Company name</label>
                            <input class="form-control" type="text" />
                            <p class="error red">This is an error message.</p>
                          </div>
                        </div>
                        <div class="row mrg-btm">
                          <div class="col-sm-12">
                            <label>Location</label>
                            <div class="row">
                              <div class="col-sm-6">
                                <input class="form-control" type="text" value="country" />
                              </div>
                              <div class="col-sm-6">
                                <input class="form-control" type="text" value="city"/>
                              </div>
                              <p class="error red col-sm-12">This is an error message.</p>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <label>Period</label>
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="row">
                                  <div class="col-sm-8">
                                    <input class="form-control" type="text" value="month" />
                                  </div>
                                  <div class="col-sm-4 no-padd-left">
                                    <input class="form-control" type="text" value="year" />
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="row">
                                  <div class="col-sm-8">
                                    <input class="form-control" type="text" value="month" />
                                  </div>
                                  <div class="col-sm-4 no-padd-left">
                                    <input class="form-control" type="text"  value="year" />
                                  </div>
                                </div>
                                <div class="check-wrap"><label><input type="checkbox">  I'm still working here</label></div>
                              </div>
                              <p class="error red col-sm-12">This is an error message.</p>
                            </div>
                          </div>
                        </div>
                        <div class="row mrg-btm">
                          <div class="col-sm-12">
                            <label>Role</label>
                            <input class="form-control" type="text" />
                            <p class="error red">This is an error message.</p>
                          </div>
                        </div>
                        <div class="row mrg-btm">
                          <div class="col-sm-12">
                            <label>Role description</label>
                            <textarea class="form-control"></textarea>
                            <p class="error red">This is an error message.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="row check-wrap mrg-btm">
                          <div class="col-sm-6"><label><input type="checkbox" />Java</label></div>
                          <div class="col-sm-6"><label><input type="checkbox" />Html/css</label></div>
                          <div class="col-sm-6"><label><input type="checkbox" />.Net</label></div>
                          <div class="col-sm-6"><label><input type="checkbox" />Android</label></div>
                          <div class="col-sm-6"><label><input type="checkbox" />Php</label></div>
                          <div class="col-sm-6"><label><input type="checkbox" />iOS</label></div>
                          <div class="col-sm-6"><label><input type="checkbox" />Pyton</label></div>
                          <div class="col-sm-6"><label><input type="checkbox" />Linux</label></div>
                          <div class="col-sm-6"><label><input type="checkbox" />Ruby</label></div>
                          <div class="col-sm-6"><label><input type="checkbox" />Salesforce</label></div>
                          <div class="col-sm-6"><label><input type="checkbox" />C / C++</label></div>
                          <div class="col-sm-6"><label><input type="checkbox" />Sap</label></div>
                          <div class="col-sm-6"><label><input type="checkbox" />Javascript</label></div>
                          <p class="error red col-sm-12">This is an error message.</p>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <label>Other skills</label>
                            <input class="form-control" type="text" value="Type a skill..." />
                            <p class="error red">This is an error message.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="buttons-wrap">
                        <button class="fl-rg bg-green btn-small mrg-lft-small" type="submit">save</button>
                        <button class="fl-rg bg-gray-lighter2 btn-small">cancel</button>
                      </div>
                    </div>
                  </form>
                </div>
                <!--End  EDIT panel -->
                <hc-accordion ng-repeat="experience in workExperience">
                  <h3 class="accordion-subtitle">{{ experience.role }}</h3>
                  <h4 class="accordion-subtitle2">{{ experience.company }}</h4>
                  <span class="accordion-date">{{ experience.start }} – {{ experience.end || 'today' }} ({{ experience | displayMonths }})</span>
                  <!-- WARN: replaced UI by DIV -->
                  <div class="accordion-text">{{ experience.summary }}</div>
                </hc-accordion>
              </div>
            </div>
          </div>

          <div class="row bg-white">
            <div class="col-sm-12">
              <h2 class="big-title accordion-main-title ">EDUCATION <span>Master of Arts</span> <button class="add-btn"><i class="fa fa-plus"></i> ADD</button></h2>
              <div class="accordion-wrap">
                <!-- Add panel -->
                <div class="add-panel">
                  <button class="add-panel-close"><i class="fa fa-close"></i></button>
                  <form>
                    <div class="row mrg-btm">
                      <div class="col-sm-6">
                        <label>university or institution</label>
                        <input class="form-control" type="text" />
                      </div>
                      <div class="col-sm-6">
                        <label>period</label>
                        <div class="row no-gutter">
                          <div class="col-sm-2"><input class="form-control" type="text" /></div>
                          <div class="col-sm-1 spacer">-</div>
                          <div class="col-sm-2"><input class="form-control" type="text" /></div>
                          <div class="col-sm-6 check-wrap mrg-lft-small"><label><input type="checkbox"> </input> I‘m still studing there</label></div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <label>course or subject</label>
                        <input class="form-control" type="text" />
                      </div>
                      <div class="col-sm-6">
                        <label>degree</label>
                        <input class="form-control" type="text" />
                        <div class="check-wrap"><label><input type="checkbox"> </input> did not complete degree</label></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="buttons-wrap">
                        <button class="fl-rg bg-green btn-small mrg-lft-small" type="submit">save</button>
                        <button class="fl-rg bg-gray-lighter2 btn-small">cancel</button>
                      </div>
                    </div>
                  </form>
                </div>
                <!--End  Add panel -->
                <!-- EDIT panel -->
                <div class="add-panel">
                  <button class="add-panel-close"><i class="fa fa-close"></i></button>
                  <form>
                    <div class="row mrg-btm">
                      <div class="col-sm-6">
                        <label>university or institution</label>
                        <input class="form-control" type="text" />
                        <p class="error red">This is an error message.</p>
                      </div>
                      <div class="col-sm-6">
                        <label>period</label>
                        <div class="row no-gutter">
                          <div class="col-sm-2"><input class="form-control" type="text" /></div>
                          <div class="col-sm-1 spacer">-</div>
                          <div class="col-sm-2"><input class="form-control" type="text" /></div>
                          <div class="col-sm-6 check-wrap mrg-lft-small"><label><input type="checkbox"> </input> I‘m still studing there</label></div>
                          <p class="error red col-sm-12">This is an error message.</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <label>course or subject</label>
                        <input class="form-control" type="text" />
                        <p class="error red">This is an error message.</p>
                      </div>
                      <div class="col-sm-6">
                        <label>degree</label>
                        <input class="form-control" type="text" />
                        <div class="check-wrap"><label><input type="checkbox"> </input> did not complete degree</label> <p class="error red">This is an error message.</p></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="buttons-wrap">
                        <button class="fl-rg bg-green btn-small mrg-lft-small" type="submit">save</button>
                        <button class="fl-rg bg-gray-lighter2 btn-small">cancel</button>
                      </div>
                    </div>
                  </form>
                </div>
                <!--End  EDIT panel -->
                <hc-accordion ng-repeat="entry in education" hc-hide-control="!entry.course">
                  <h3 class="accordion-subtitle">{{ entry.degree }}</h3>
                  <h4 class="accordion-subtitle2">{{ entry.institution }}</h4>
                  <span class="accordion-date">{{ entry.start }} – {{ entry.end || 'today' }} ({{ entry | displayMonths }})</span>
                  <!-- WARN: replaced UI by DIV -->
                  <div class="accordion-text">{{ entry.course }}</div>
                </hc-accordion>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

