<div class="component-employer-offer-list">
  <div class="inner">
    <div class="status-wrap">
    </div>
    <div class="row">
      <div class="col-sm-12 bg-blue">
        <h2 class="main-title-blue" translate>Offers</h2>
      </div>
      <div class="col-sm-12 bg-white">
        <div class="row">
          <div class="pad-30" ng-show="!offers.length">
            <p class="offer-list-desc" translate>
              Here you will find all offers your company made to candidates.
            </p>
          </div>
          <div class="col-sm-12">
            <ul class="offer-list">
              <li class="offer-list-item  no-marg-right no-marg-left" ng-repeat="offer in offers" ng-class="{ 'last': $last }">
                <hc-offer
                  ng-model="offer"
                  hc-hide="{{ { employer: true } }}"
                  hc-signed-button="true"
                  hc-reject-button="true"
                  hc-accept-button="true"
                  hc-profile-links="true">
                </hc-offer>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
