<div class="admin-directive-search">
  <form>
    <input type="text"
      class="form-control"
      placeholder="Name or email address"
      ng-model="term"
      ng-change="search()">
  </form>

  <div class="spinner" ng-show="loading"></div>

  <div ng-show="loaded && !loading && !output.length">No result found</div>

  <div ng-transclude></div>

  <button type="button"
    ng-show="output.length < total"
    ng-disabled="loading"
    ng-click="loadMore()">
    Load more
  </button>
</div>
