<div class="admin-directive-search">
  <form>
    <div class="form-group required">
      <input type="text"
        class="form-control"
        placeholder="Name or email address"
        ng-model="term"
        ng-change="search()">
    </div>

    <div class="form-group required">
      <hc-label-typeahead
        ng-if="hcShowSkills"
        placeholder="Skills"
        ng-model="tags"
        hc-source="searchSkills($viewValue)"
        on-change="search()">
      </hc-label-typeahead>
    </div>
  </form>

  <div class="spinner" ng-show="loading"></div>

  <div ng-show="loaded && !loading && !results.length">No result found</div>

  <hc-pagination items-per-page="{{ showItems }}" total="total" load="getResults($params)" autoload ng-show="loaded">
    <ng-transclude></ng-transclude>
  </hc-pagination>
</div>
