<div class="component-candidate-dashboard" ng-if="ready">
  <div class="inner">
    <div class="status-wrap"></div>
    <div class="row">
      <div class="col-sm-3">
        <div class="row timeline-head">
          <div class="col-sm-2 no-padd-right">
            <div class="dot"><i class="fa fa-circle"></i></div>
          </div>
          <div class="col-sm-10 date">{{ today | momentDate }}</div>
        </div>

        <div class="row">
          <div class="timeline">
            <div class="gray-bar"></div>
            <div class="timeline-start"></div>
          </div>
        </div>

        <div class="row timeline-item" ng-repeat="entry in news">
          <div class="col-sm-2 no-padd-right rel">
            <div class="news-ico" ng-class="{
              'news-ico-profile-signup': entry.name === 'SIGN_UP',
              'news-ico-profile-pending': entry.name === 'PROFILE_PENDING',
              'news-ico-profile-live': entry.name === 'PROFILE_LIVE',
              'news-ico-offer-received': entry.name === 'OFFER_RECEIVED',
              'news-ico-offer-rejected': entry.name === 'OFFER_REJECTED',
              'news-ico-offer-accepted': entry.name === 'OFFER_ACCEPTED',
              'news-ico-offer-negotiation': entry.name === 'OFFER_NEGOTIATION',
              'news-ico-offer-signed': entry.name === 'OFFER_SIGNED',
              'news-ico-offer-start-date': entry.name === 'OFFER_START_DATE',
              'news-ico-offer-bookmarked-employer': entry.name === 'BOOKMARKED_EMPLOYER',
            }"></div>
          </div>
          <div class="col-sm-10">
            <div class="date">{{ entry.date | timeAgoIf:'yesterday' }}</div>
            <div class="note" ng-if="entry.name === 'SIGN_UP'">
              Congrats you joined Scotty
            </div>
            <div class="note" ng-if="entry.name === 'PROFILE_PENDING'">
              Your profile is done, just waiting for you to click the activation email
            </div>
            <div class="note" ng-if="entry.name === 'PROFILE_LIVE'">
              Nicely done, you are now live and can start receiving great offers
            </div>
            <div class="note" ng-if="entry.name === 'OFFER_RECEIVED'">
              Awesome, you received <a ui-sref="offer({ id: entry.offer.id })">an interview offer</a> from
              <a ui-sref="employer({ id: entry.offer.employer.id })">{{ entry.offer.employer.company_name }}</a>
            </div>
            <div class="note" ng-if="entry.name === 'OFFER_REJECTED'">
              You have turned down <a ui-sref="offer({ id: entry.offer.id })">the offer</a> from
              <a ui-sref="employer({ id: entry.offer.employer.id })">{{ entry.offer.employer.company_name }}</a>
            </div>
            <div class="note" ng-if="entry.name === 'OFFER_ACCEPTED'">
              Brilliant you have accepted an interview with
              <a ui-sref="employer({ id: entry.offer.employer.id })">{{ entry.offer.employer.company_name }}</a>
            </div>
            <div class="note" ng-if="entry.name === 'OFFER_NEGOTIATION'">
              Nearly there you have started negotiating the details with
              <a ui-sref="employer({ id: entry.offer.employer.id })">{{ entry.offer.employer.company_name }}</a>
            </div>
            <div class="note" ng-if="entry.name === 'OFFER_SIGNED'">
              Winning! you have signed a contract with
              <a ui-sref="employer({ id: entry.offer.employer.id })">{{ entry.offer.employer.company_name }}</a>
              and will receive you golden handshake soon
            </div>
            <div class="note" ng-if="entry.name === 'OFFER_START_DATE'">
              Good luck! you have set a start date of {{ entry.offer.job_start_date }} with
              <a ui-sref="employer({ id: entry.offer.employer.id })">{{ entry.offer.employer.company_name }}</a>
            </div>
            <div class="note" ng-if="entry.name === 'BOOKMARKED_EMPLOYER'">
              You liked
              <a ui-sref="employer({ id: entry.offer.employer.id })">{{ entry.offer.employer.company_name }}</a>
              they have been notified and should get in touch
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12 bg-gray-light mrg-btm" ng-class="{ 'no-results': !employers.length }">
            <div class="search-box">
              <h4 class="search-box-title">Search for companies</h4>
              <div class="row">

                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-sm-3 search-label font-12">Skills</div>
                    <div class="col-sm-9 no-padd-left">
                      <hc-label-typeahead
                        placeholder="Skills"
                        ng-model="terms"
                        hc-source="searchSkills($viewValue)">
                      </hc-label-typeahead>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-sm-3 search-label no-padd-left font-12">Location</div>
                    <div class="col-sm-9 no-padd-left">
                      <input type="text"
                        class="form-control"
                        placeholder="Location"
                        ng-disabled="!terms.length"
                        ng-model="locationText"
                        ng-blur="setLocation(locationText)"
                        typeahead-on-select="setLocation(locationText)"
                        typeahead="location for location in searchLocations($viewValue)">
                    </div>
                  </div>
                </div>

                <div class="col-sm-12">
                  <div class="buttons-wrap mrg-top">
                    <button type="button" class="fl-rg btn bg-green" ng-click="search()">
                      Search
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="search-results" ng-show="searchResults.length">
              <div class="search-border"></div>
              <div class="spinner" ng-show="loading"></div>
              <div ng-show="!loading">
                <div ng-show="searchResults.length" class="search-response">{{ searchResults.length }} employers found</div>

                <hc-employer
                  ng-repeat="employer in employers"
                  ng-model="employer"
                  hc-link-profile>
                </hc-employer>

                <ul class="pager-list" ng-show="pages.length > 1">
                  <li ng-repeat="page in pages">
                    <button type="button" ng-click="loadPage(page - 1)">{{ page }}</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-12 bg-white">
            <h2 class="main-title">WE RECOMMEND</h2>
            <h3 class="main-subtitle pad-all-15 ">Top companies using your target tech!</h3>
            <div ng-show="terms.length && !loading && !employers.length">No employer found</div>
            <div ng-show="suggested.length">
              <div class="offer-list">
                <hc-employer
                  ng-repeat="employer in suggested"
                  ng-model="employer"
                  hc-link-profile>
                </hc-employer>
              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="col-sm-3 bg-gray-lighter3 border-box padd-vert" ng-show="bookmarks.length">
        <div class="bookmark-title" ng-click="toggle('showBookmarks')">
          Bookmarks <i class="fa" ng-class="{
            'fa-angle-up': showBookmarks,
            'fa-angle-down': !showBookmarks,
          }"></i>
        </div>
        <div class="bookmark-item" ng-show="showBookmarks">
          <div ng-repeat="entry in bookmarks"  class="mrg-btm">
            <div class="orange mrg-btm-small">
              <a ui-sref="employer({ id: entry.id })">{{ entry.company_name }} <i class="fa fa-angle-right"></i></a>
            </div>
            <div>{{ entry.offices[0].address_city.city }}, {{ entry.offices[0].address_city.country_iso }}</div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

