<div class="component-candidate-dashboard" ng-if="ready">
  <div class="inner">
    <div class="status-wrap"></div>
    <div class="row">
      <div class="col-sm-3">
        <div class="row timeline-head">
          <div class="col-sm-2 no-padd-right">
            <div class="dot"><i class="fa fa-circle"></i></div>
          </div>
          <div class="col-sm-10 date">{{ today | momentDate }}</div>
        </div>

        <div class="row">
          <div class="timeline">
            <div class="gray-bar"></div>
            <div class="timeline-start"></div>
          </div>
        </div>

        <div class="row timeline-item" ng-repeat="entry in news">
          <div class="col-sm-2 no-padd-right rel">
            <div class="news-ico" ng-class="{
              'news-ico-profile-signup': entry.name === 'SIGN_UP',
              'news-ico-profile-pending': entry.name === 'PROFILE_PENDING',
              'news-ico-profile-pending': entry.name === 'PROFILE_PENDING',
              'news-ico-profile-live': entry.name === 'PROFILE_LIVE',
              'news-ico-offer-received': entry.name === 'OFFER_RECEIVED',
              'news-ico-offer-rejected': entry.name === 'OFFER_REJECTED',
              'news-ico-offer-accepted': entry.name === 'OFFER_ACCEPTED',
              'news-ico-offer-negotiation': entry.name === 'OFFER_NEGOTIATION',
              'news-ico-offer-signed': entry.name === 'OFFER_SIGNED',
              'news-ico-offer-start-date': entry.name === 'OFFER_START_DATE',
              'news-ico-offer-bookmarked-employer': entry.name === 'BOOKMARKED_EMPLOYER',
            }"></div>
          </div>
          <div class="col-sm-10">
            <div class="date">{{ entry.date | timeAgoIf:'yesterday' }}</div>
            <!-- TODO No links?? -->
            <div class="note">{{ entry.note }}</div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12 bg-gray-light mrg-btm">
            <div class="search-box">
              <h4 class="search-box-title">Search for companies</h4>
              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-sm-3 search-label">Skills</div>
                    <div class="col-sm-9 no-padd-left">
                      <hc-label-typeahead
                        placeholder="Skills"
                        ng-model="terms"
                        hc-source="searchSkills($viewValue)"
                        on-change="search()">
                      </hc-label-typeahead>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-sm-3 search-label no-padd-left">Location</div>
                    <div class="col-sm-9 no-padd-left">
                      <input type="text"
                        class="form-control"
                        placeholder="Location"
                        ng-disabled="!terms.length"
                        ng-model="locationText"
                        ng-blur="setLocation(locationText)"
                        typeahead-on-select="setLocation(locationText)"
                        typeahead="location for location in searchLocations($viewValue)">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!--the whole box search result must be shown only after the user has selected some-->
          <div class="search-results">
            <div class="search-border"></div>
            <div class="spinner" ng-show="loading"></div>
            <div ng-show="terms.length && !loading && !employers.length">No employer found</div>
            <hc-employer
              class="search-result-item row"
              ng-repeat="employer in employers"
              ng-model="employer"
              hc-link-profile>
            </hc-employer>
          </div>
        </div>


          <div class="col-sm-12 bg-white">
            <h2 class="main-title no-marg-right">WE RECOMMEND</h2>
            <h3 class="main-subtitle pad-all-15 ">Top companies using your target tech!</h3>
            <div ng-show="terms.length && !loading && !employers.length">No employer found</div>
            <div ng-show="suggested.length">
              <div class="offer-list">
                <hc-employer
                  ng-repeat="employer in suggested"
                  ng-model="employer"
                  hc-link-profile>
                </hc-employer>
              </div>
            </div>

            <!--div class="company-list">
              <div class="company-list-item" ng-repeat="employer in suggested" ng-class="{ 'last': $last }">
                <div class="row">
                  <div class="col-sm-12 mrg-btm-small">
                    <div class="location"><i class="fa  fa-map-marker gray-light"></i> Berlin, DE</div>
                    <i class="bookmark" ng-class="{
                      'bookmark_active': employer.isBookmarked,
                      'bookmark_inactive': !employer.isBookmarked,
                    }"></i>
                  </div>
                  <div class="col-sm-8">
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="wrap-img" style="background-image: url({{ employer.logo_url }})"></div>
                        <a class="smbd caps" ui-sref="employer({ id: employer.id })">Company profile  <i class="fa fa-angle-right"></i></a>
                      </div>
                      <div class="col-sm-8">
                        <p ng-bind-html="employer.mission_text"></p>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-3 tech-list">
                    <div class="col-skills row">
                      <div class="col-sm-12">
                        <h5>Technologies</h5>
                      </div>
                      <div class="col-sm-6" ng-repeat="tag in employer.tech_tags">
                        {{ tag }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div-->
          </div>

        </div>
      </div>


      <div class="col-sm-3 bg-gray-lighter3 border-box padd-vert" ng-show="bookmarks.length">
        <div class="bookmark-title" ng-click="toggle('showBookmarks')">
          Bookmarks <i class="fa" ng-class="{
            'fa-angle-up': showBookmarks,
            'fa-angle-down': !showBookmarks,
          }"></i>
        </div>
        <div class="bookmark-item" ng-show="showBookmarks">
          <div ng-repeat="entry in bookmarks"  class="mrg-btm">
            <div class="orange mrg-btm-small">
              <a ui-sref="employer({ id: entry.id })">{{ entry.company_name }} <i class="fa fa-angle-right"></i></a>
            </div>
            <div>{{ entry.offices[0].address_city.city }}, {{ entry.offices[0].address_city.country_iso }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

